force-app/main/default/flows/Allocate_Assets_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Item_to_Selected_Asset_Id</name>
        <label>Assign Item to Selected Asset Id</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>selectedAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_collection_of_Assets_for_the_single_Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_collection_of_Assets_for_the_single_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_how_many_assets_were_selected</name>
        <label>Check how many assets were selected</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Multi_Asset_Assignment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Assets were Selected</defaultConnectorLabel>
        <rules>
            <name>Single_Asset_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseAssetSelection.numberOfSelectedAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_collection_of_Assets_for_the_single_Asset</targetReference>
            </connector>
            <label>Single Asset was Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DCFloorsfromBuilding</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_from_Service_Order.Id</elementReference>
            </value>
        </filters>
        <object>DC_Floor__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FloorsFromBuilding</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_from_Service_Order.Id</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>DC_Floor__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Allocate Assets from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocate Assets from Case</label>
    <loops>
        <name>Loop_over_the_collection_of_Assets_for_the_single_Asset</name>
        <label>Loop over the collection of Assets for the single Asset</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>caseAssetSelection.selectedAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Item_to_Selected_Asset_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asset_Assignment_Flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Building_from_Service_Order</name>
        <label>Get Building from Service Order</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Assets_to_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Order_from_Case.Opportunity.Building__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Order_from_Case</name>
        <label>Get Service Order from Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Building_from_Service_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.DX_Service_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Multi_Asset_Assignment_Screen</name>
        <label>Multi-Asset Assignment</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>multiAssetAssignment</name>
            <extensionName>c:multiAssetAssignment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>assets</name>
                <value>
                    <elementReference>caseAssetSelection.selectedAssets</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hallId</name>
                <value>
                    <elementReference>Building_Floor_and_DataHall_Selection.dataHallId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buildingId</name>
                <value>
                    <elementReference>Building_Floor_and_DataHall_Selection.buildingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>floorId</name>
                <value>
                    <elementReference>Building_Floor_and_DataHall_Selection.floorId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Assets_to_Assign</name>
        <label>Select Assets to Assign</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Building_Floor_and_DataHall_Selection</targetReference>
        </connector>
        <fields>
            <name>caseAssetSelection</name>
            <extensionName>c:caseRelatedAssetSelectionForAssignment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Order_from_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Asset_Assignment_Flow</name>
        <label>Asset Assignment Flow</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <flowName>Asset_Assignment</flowName>
        <inputAssignments>
            <name>buildingId</name>
            <value>
                <elementReference>Building_Floor_and_DataHall_Selection.buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>dataHallId</name>
            <value>
                <elementReference>Building_Floor_and_DataHall_Selection.dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>floorId</name>
            <value>
                <elementReference>Building_Floor_and_DataHall_Selection.floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>selectedAssetId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Building_Floor_and_DataHall_Selection</name>
        <label>Building Floor and DataHall Selection</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Check_how_many_assets_were_selected</targetReference>
        </connector>
        <flowName>Building_Floor_and_DataHall_Selection</flowName>
        <inputAssignments>
            <name>buildingId</name>
            <value>
                <elementReference>Get_Building_from_Service_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The Case to be Passed in</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>selectedAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedServiceOrderLineItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
