force-app/main/default/flows/Allocate_Assets_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <dynamicChoiceSets>
        <name>DCFloorsfromBuilding</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_from_Service_Order.Id</elementReference>
            </value>
        </filters>
        <object>DC_Floor__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FloorsFromBuilding</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_from_Service_Order.Id</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>DC_Floor__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Allocate Assets from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocate Assets from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Building_from_Service_Order</name>
        <label>Get Building from Service Order</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Assets_to_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Order_from_Case.Opportunity.Building__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Order_from_Case</name>
        <label>Get Service Order from Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Building_from_Service_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.DX_Related_Service_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Assets_to_Assign</name>
        <label>Select Assets to Assign</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Building_Floor_and_DataHall_Selection</targetReference>
        </connector>
        <fields>
            <name>caseAssetSelection</name>
            <extensionName>c:caseRelatedAssetSelectionForAssignment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Order_from_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Asset_Assignment_Flow</name>
        <label>Asset Assignment Flow</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <flowName>Asset_Assignment</flowName>
        <inputAssignments>
            <name>buildingId</name>
            <value>
                <elementReference>Building_Floor_and_DataHall_Selection.buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>dataHallId</name>
            <value>
                <elementReference>Building_Floor_and_DataHall_Selection.dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>floorId</name>
            <value>
                <elementReference>Building_Floor_and_DataHall_Selection.floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedAssets</name>
            <value>
                <elementReference>caseAssetSelection.selectedAssets</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Building_Floor_and_DataHall_Selection</name>
        <label>Building Floor and DataHall Selection</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Asset_Assignment_Flow</targetReference>
        </connector>
        <flowName>Building_Floor_and_DataHall_Selection</flowName>
        <inputAssignments>
            <name>buildingId</name>
            <value>
                <elementReference>Get_Building_from_Service_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The Case to be Passed in</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>selectedServiceOrderLineItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
