force-app/main/default/flows/Asset_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_The_Data_Hall</name>
        <label>Assign The Data Hall</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>dataHallId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;SomeValue&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_type_of_RenderDraw_Asset_is_this</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_this_is_an_Asset_that_is_related_to_RenderDraw_workflow</name>
        <label>Check if this is an Asset that is related to RenderDraw workflow</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>What_type_of_Standard_Asset_is_this</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Asset Flow</defaultConnectorLabel>
        <rules>
            <name>Is_a_RenderDraw_Asset</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabinet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Data_Hall_Passed</targetReference>
            </connector>
            <label>Is a RenderDraw Asset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Its important to understand if we are going to use multiple assets for the RenderDraw assignment, or if we are going to utilize the single asset flow</description>
        <name>Check_if_this_is_for_singular_or_Multiple_Assets</name>
        <label>Check if this is for singular or Multiple Assets</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_the_Asset_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Asset</defaultConnectorLabel>
        <rules>
            <name>Multiple_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAssets</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RenderDraw_Multi_Asset_Selection</targetReference>
            </connector>
            <label>Multiple Assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Data_Hall_Passed</name>
        <label>Was Data Hall Passed</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>What_type_of_RenderDraw_Asset_is_this</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Data Hall Exists</defaultConnectorLabel>
        <rules>
            <name>Data_Hall_was_not_passed_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataHallId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_the_Building</targetReference>
            </connector>
            <label>Data Hall was not passed in</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_RenderDraw_Asset_is_this</name>
        <label>What type of RenderDraw Asset is this</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>RenderDraw_Asset_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cabinet</defaultConnectorLabel>
        <rules>
            <name>Cage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cage_Selection_for_Space</targetReference>
            </connector>
            <label>Cage</label>
        </rules>
        <rules>
            <name>Panel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_how_many_RUs</targetReference>
            </connector>
            <label>Panel</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Standard_Asset_is_this</name>
        <label>What type of Standard Asset is this?</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Standard_Asset_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inside Plants</defaultConnectorLabel>
        <rules>
            <name>POE_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POE Allocation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Asset_Selection</targetReference>
            </connector>
            <label>POE Allocation</label>
        </rules>
        <rules>
            <name>Roof_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roof Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Asset_Selection</targetReference>
            </connector>
            <label>Roof Products</label>
        </rules>
        <rules>
            <name>Innerduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Innerduct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Asset_Selection</targetReference>
            </connector>
            <label>Innerduct</label>
        </rules>
        <rules>
            <name>DC_Circuit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DC Circuit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Asset_Selection</targetReference>
            </connector>
            <label>DC Circuit</label>
        </rules>
        <rules>
            <name>Circuit_Breaker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Breaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Asset_Selection</targetReference>
            </connector>
            <label>Circuit Breaker</label>
        </rules>
        <rules>
            <name>Home_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Asset_Selection</targetReference>
            </connector>
            <label>Home Run</label>
        </rules>
    </decisions>
    <description>Assigning an asset using either RenderDraw Visual Flow or the Standard Flow for non Cage, Cabinet or Panel Asset</description>
    <interviewLabel>Asset Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_the_Asset_Details</name>
        <label>Get the Asset Details</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_this_is_an_Asset_that_is_related_to_RenderDraw_workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Modified_Records_from_the_Multi_Asset_Screen</name>
        <label>Update Modified Records from the Multi-Asset Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputReference>selectedAssets</inputReference>
    </recordUpdates>
    <screens>
        <name>Cage_Selection_for_Space</name>
        <label>Cage Selection for Space</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_the_Building</name>
        <label>Collect the Building</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_the_Floor</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenderDraw_Asset_Selection</name>
        <label>RenderDraw Asset Selection</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>rdOutputTextDescription</name>
            <fieldText>&lt;p&gt;RenderDraw Asset Component&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenderDraw_Multi_Asset_Selection</name>
        <label>RenderDraw Multi-Asset Selection</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Modified_Records_from_the_Multi_Asset_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_rdOutputTextDescription</name>
            <fieldText>&lt;p&gt;RenderDraw Multi-Asset Selection&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_how_many_RUs</name>
        <label>Request how many RUs</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Meet_Me_Room</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Salesforce_Subflow_pass_parameters</name>
        <label>Salesforce Subflow, pass parameters</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Rack_to_Add_the_Panel</name>
        <label>Select a Rack to Add the Panel</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Specify_Panel_Attribute</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Meet_Me_Room</name>
        <label>Select Meet Me Room</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_a_Rack_to_Add_the_Panel</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_Data_Hall_from_Floor</name>
        <label>Select the Data Hall from Floor</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_The_Data_Hall</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_Floor</name>
        <label>Select the Floor</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_the_Data_Hall_from_Floor</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Specify_Panel_Attribute</name>
        <label>Specify Panel Attribute</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salesforce_Subflow_pass_parameters</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Standard_Asset_Selection</name>
        <label>Standard Asset Selection</label>
        <locationX>1634</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_rdOutputTextDescription</name>
            <fieldText>&lt;p&gt;Standard Asset Flow&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_this_is_for_singular_or_Multiple_Assets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dataHallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>floorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Selected Asset Id, if using a singular Asset.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If multiple Assets are passed into this flow, we want to pass them all to the RenderDraw Component for multiple Assignment</description>
        <name>selectedAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
