force-app/main/default/flows/Asset_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_The_Data_Hall</name>
        <label>Assign The Data Hall</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>dataHallId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_floor_and_DataHall_Selection.dataHallId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>floorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_floor_and_DataHall_Selection.floorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_this_is_an_Asset_that_is_related_to_RenderDraw_workflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_this_is_an_Asset_that_is_related_to_RenderDraw_workflow</name>
        <label>Check if this is an Asset that is related to RenderDraw workflow</label>
        <locationX>1040</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>What_type_of_Standard_Asset_is_this</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Asset Flow</defaultConnectorLabel>
        <rules>
            <name>Is_a_RenderDraw_Asset</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabinet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of_RenderDraw_Asset_is_this</targetReference>
            </connector>
            <label>Is a RenderDraw Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Data_Hall_Passed</name>
        <label>Was Data Hall Passed</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_if_this_is_an_Asset_that_is_related_to_RenderDraw_workflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Data Hall Exists</defaultConnectorLabel>
        <rules>
            <name>Data_Hall_was_not_passed_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataHallId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Building_floor_and_DataHall_Selection</targetReference>
            </connector>
            <label>Data Hall was not passed in</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_RenderDraw_Asset_is_this</name>
        <label>What type of RenderDraw Asset is this</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Cabinet_Assignment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cabinet</defaultConnectorLabel>
        <rules>
            <name>Cage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cage_Selection_for_Space</targetReference>
            </connector>
            <label>Cage</label>
        </rules>
        <rules>
            <name>Panel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_how_many_RUs</targetReference>
            </connector>
            <label>Panel</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Standard_Asset_is_this</name>
        <label>What type of Standard Asset is this?</label>
        <locationX>1766</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>No Matching Asset_Type</defaultConnectorLabel>
        <rules>
            <name>POE_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POE Allocation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_POE_Allocation_Record_Creation_Flow</targetReference>
            </connector>
            <label>POE Allocation</label>
        </rules>
        <rules>
            <name>Roof_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roof Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Roof_Record_Creation_Flow</targetReference>
            </connector>
            <label>Roof Products</label>
        </rules>
        <rules>
            <name>Innerduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Innerduct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Innerduct_Asset_Record_Creation_Flow</targetReference>
            </connector>
            <label>Innerduct</label>
        </rules>
        <rules>
            <name>DC_Circuit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DC Circuit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC_Circuit_Record_Creation_Flow</targetReference>
            </connector>
            <label>DC Circuit</label>
        </rules>
        <rules>
            <name>Circuit_Breaker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Breaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Create_Circuit_Breaker_Record_Flow</targetReference>
            </connector>
            <label>Circuit Breaker</label>
        </rules>
        <rules>
            <name>Home_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Home_Run_and_Fiber_Pair_Record_Creation_Flow_1</targetReference>
            </connector>
            <label>Home Run</label>
        </rules>
        <rules>
            <name>Inside_Plants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Plants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Inside_Plant_Asset_Record_Creation_Flow</targetReference>
            </connector>
            <label>Inside Plants</label>
        </rules>
    </decisions>
    <description>Assigning an asset using either RenderDraw Visual Flow or the Standard Flow for non Cage, Cabinet or Panel Asset</description>
    <environments>Default</environments>
    <interviewLabel>Asset Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_the_Asset_Details</name>
        <label>Get the Asset Details</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Data_Hall_Passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cabinet_Assignment_Screen</name>
        <label>Cabinet Assignment</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>singleAssetAssignment_Cabinet</name>
            <extensionName>c:singleAssetAssignmentRenderDraw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hallId</name>
                <value>
                    <elementReference>dataHallId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buildingId</name>
                <value>
                    <elementReference>buildingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>floorId</name>
                <value>
                    <elementReference>floorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>asset</name>
                <value>
                    <elementReference>Get_the_Asset_Details</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cage_Selection_for_Space</name>
        <label>Cage Selection for Space</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>singleAssetAssignment_Cage</name>
            <extensionName>c:singleAssetAssignmentRenderDraw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>asset</name>
                <value>
                    <elementReference>Get_the_Asset_Details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hallId</name>
                <value>
                    <elementReference>dataHallId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buildingId</name>
                <value>
                    <elementReference>buildingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>floorId</name>
                <value>
                    <elementReference>floorId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_how_many_RUs</name>
        <label>Request how many RUs</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Meet_Me_Room</targetReference>
        </connector>
        <fields>
            <name>How_many_RUs</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>How many RUs</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Salesforce_Subflow_pass_parameters</name>
        <label>Salesforce Subflow, pass parameters</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Rack_to_Add_the_Panel</name>
        <label>Select a Rack to Add the Panel</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Specify_Panel_Attribute</targetReference>
        </connector>
        <fields>
            <name>singleAssetAssignment_Rack</name>
            <extensionName>c:singleAssetAssignmentRenderDraw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>asset</name>
                <value>
                    <elementReference>Get_the_Asset_Details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hallId</name>
                <value>
                    <elementReference>dataHallId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buildingId</name>
                <value>
                    <elementReference>buildingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>floorId</name>
                <value>
                    <elementReference>floorId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Meet_Me_Room</name>
        <label>Select Meet Me Room</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_a_Rack_to_Add_the_Panel</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Specify_Panel_Attribute</name>
        <label>Specify Panel Attribute</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salesforce_Subflow_pass_parameters</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Asset_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Building_floor_and_DataHall_Selection</name>
        <label>Building floor and DataHall Selection</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_The_Data_Hall</targetReference>
        </connector>
        <flowName>Building_Floor_and_DataHall_Selection</flowName>
        <inputAssignments>
            <name>buildingId</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DC_Circuit_Record_Creation_Flow</name>
        <label>DC Circuit Record Creation Flow</label>
        <locationX>1634</locationX>
        <locationY>866</locationY>
        <flowName>DC_Circuit_Record_Creation</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Asset_ID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Building_ID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Create_Circuit_Breaker_Record_Flow</name>
        <label>DX Create Circuit Breaker Record Flow</label>
        <locationX>1898</locationX>
        <locationY>866</locationY>
        <flowName>DX_Create_Circuit_Breaker_Record</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHallID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrderID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Home_Run_and_Fiber_Pair_Record_Creation_Flow_1</name>
        <label>DX Home Run and Fiber Pair Record Creation Flow 1</label>
        <locationX>2162</locationX>
        <locationY>866</locationY>
        <flowName>DX_Home_Run_and_Fiber_Pair_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Get_the_Asset_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingId</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrderId</name>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceRequestId</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Innerduct_Asset_Record_Creation_Flow</name>
        <label>DX Innerduct Asset Record Creation Flow</label>
        <locationX>1370</locationX>
        <locationY>866</locationY>
        <flowName>DX_Innerduct_Asset_Record_Creation</flowName>
        <inputAssignments>
            <name>Asset_ID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Building_ID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Inside_Plant_Asset_Record_Creation_Flow</name>
        <label>DX Inside Plant Asset Record Creation Flow</label>
        <locationX>2426</locationX>
        <locationY>866</locationY>
        <flowName>DX_Inside_Plant_Asset_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHallID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrderID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__r.Service_Order_ID__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_POE_Allocation_Record_Creation_Flow</name>
        <label>DX POE Allocation Record Creation Flow</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <flowName>DX_POE_Allocation_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Roof_Record_Creation_Flow</name>
        <label>DX Roof Record Creation Flow</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <flowName>DX_Roof_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHallID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrderID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dataHallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>floorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Selected Asset Id, if using a singular Asset.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
