force-app/main/default/flows/Asset_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Item_to_Assign</name>
        <label>Add Item to Assign</label>
        <locationX>1414</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>ruSizesToSelect</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_how_RU_items.ruItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_how_RU_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_RU_Sum</name>
        <label>Add to RU Sum</label>
        <locationX>1414</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>sumOfRUsadded</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_how_RU_items.ruItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_to_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_was_Allocated</name>
        <label>Asset was Allocated</label>
        <locationX>2635</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>assetWasAllocated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Asset_Was_Allocated_to_False</name>
        <label>Assign Asset Was Allocated to False</label>
        <locationX>5594</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>assetWasAllocated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_selected_Cage_to_global_variable</name>
        <label>Assign selected Cage to global variable</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>selectedCageRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Cage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Cabinets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_specific_properties_From_selection</name>
        <label>Assign specific properties From selection</label>
        <locationX>1546</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Copy_Asset_From_Original_Service_Order_Line_Item.iAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_specific_values_to_the_original_Asset_from_Selection</name>
        <label>Assign specific values to the original Asset from Selection</label>
        <locationX>1282</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Asset_Details.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_assignments.Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Asset_Details.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_original_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Asset_to_the_Panel_Assets_to_process</name>
        <label>Assign the Asset to the Panel Assets to process</label>
        <locationX>1282</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>selectedPanelAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Asset_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DX_Panel_Record_Creation_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_buildingId_from_the_Asset_Record</name>
        <label>Assign the buildingId from the Asset Record</label>
        <locationX>2503</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Building__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Building_floor_and_DataHall_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_buildingId_from_the_Asset_s_Service_Order_s_Opportunity_Building</name>
        <label>Assign the buildingId from the Asset&apos;s Service Order&apos;s Opportunity Building</label>
        <locationX>2767</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__r.Opportunity.Building__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Building_floor_and_DataHall_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Cabinet_Name_and_CabinetId</name>
        <label>Assign the Cabinet Name and CabinetId</label>
        <locationX>2052</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>cabinetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Cabinet_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cabinetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Cabinet_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Created_Asset_to_the_Panel_Assets_to_process</name>
        <label>Assign the Created Asset to the Panel Assets to process</label>
        <locationX>1546</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>selectedPanelAsset</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>DX_Panel_Record_Creation_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_Data_Hall</name>
        <label>Assign The Data Hall</label>
        <locationX>2679</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>dataHallId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_floor_and_DataHall_Selection.dataHallId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>floorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_floor_and_DataHall_Selection.floorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_floor_and_DataHall_Selection.buildingId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_DataHall_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Manual_Cage_to_the_global_variable</name>
        <label>Assign the Manual Cage to the global variable</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>selectedCageRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Cage_Details_Manually</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Cabinets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Selected_Cabinet_Id</name>
        <label>Assign the Selected Cabinet Id</label>
        <locationX>1722</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>cabinetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Cabinet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Cabinet.Cage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Cabinet_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Selected_Cabinet_Id_from_the_picker</name>
        <label>Assign the Selected Cabinet Id from the picker</label>
        <locationX>2250</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>cabinetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_the_Cabinet_from_the_DataHall</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Cabinet_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Selected_Cage_Name_and_Id_to_the_Output_Variables</name>
        <label>Assign the Selected Cage Name and Id to the Output Variables</label>
        <locationX>380</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>cageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedCageRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedCageRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Asset_to_List</name>
        <label>Add Asset to List</label>
        <locationX>4186</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Reduce_Count_by_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_the_buildingId_from_the_Asset_s_Service_Order_s_Opportunity_Bui</name>
        <label>Copy 1 of Assign the buildingId from the Asset&apos;s Service Order&apos;s Opportunity Building</label>
        <locationX>2063</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__r.Opportunity.Building__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_DataHall_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Reduce_Count_by_1</name>
        <label>Reduce Count by 1</label>
        <locationX>4186</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>NumberofCircuits</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Need_to_Repeat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Reduce_Count_by_1</name>
        <label>Reduce Count by 1</label>
        <locationX>4318</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>NumberofCircuits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N1_Number_of_Circuit_Breakers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofCircuits</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Get_Service_order_Line_Item_from_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_Add_Asset_to_List</name>
        <label>Add Asset to List</label>
        <locationX>3306</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N1_Reduce_Count_by_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_DC_Circuit_Reduce_1</name>
        <label>Reduce Count by 1</label>
        <locationX>3438</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>NumberofCircuits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_DC_Circuits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofCircuits</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_Service_order_Line_Item_from_Original_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_Reduce_Count_by_1</name>
        <label>Reduce Count by 1</label>
        <locationX>3306</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>NumberofCircuits</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>N1_Need_to_Repeat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_RU_Sum</name>
        <label>Reset RU Sum</label>
        <locationX>1326</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>sumOfRUsadded</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ruSizesToSelect</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_how_RU_items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_this_is_an_Asset_that_is_related_to_RenderDraw_workflow</name>
        <label>Check if this is an Asset that is related to RenderDraw workflow</label>
        <locationX>2635</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>What_type_of_Standard_Asset_is_this</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Asset Flow</defaultConnectorLabel>
        <rules>
            <name>Is_a_RenderDraw_Asset</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabinet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of_RenderDraw_Asset_is_this</targetReference>
            </connector>
            <label>Is a RenderDraw Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Need_to_Repeat</name>
        <label>Need to Repeat?</label>
        <locationX>4318</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finished</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Another_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofCircuits</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_DX_Copy_Asset_Values_from_SOLineItem_Flow_2</targetReference>
            </connector>
            <label>Another One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_buildingId_exist</name>
        <label>Does the buildingId exist?</label>
        <locationX>2679</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Building_floor_and_DataHall_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Building was Passed and the Asset Doesn&apos;t have a building</defaultConnectorLabel>
        <rules>
            <name>BuildingId_Exists_as_Global_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buildingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buildingId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Building_floor_and_DataHall_Selection</targetReference>
            </connector>
            <label>BuildingId Exists as Global Resource</label>
        </rules>
        <rules>
            <name>Building_exists_on_the_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Building__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Building__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_buildingId_from_the_Asset_Record</targetReference>
            </connector>
            <label>Building exists on the Asset</label>
        </rules>
        <rules>
            <name>The_Asset_s_Service_Order_s_Opportunity_has_a_building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Service_Order__r.Opportunity.Building__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_buildingId_from_the_Asset_s_Service_Order_s_Opportunity_Building</targetReference>
            </connector>
            <label>The Asset&apos;s Service Order&apos;s Opportunity has a building</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_DataHall_have_a_default_Drawing_for_Cabinets</name>
        <label>Does the DataHall have a default Drawing for Cabinets?</label>
        <locationX>2052</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Cabinet_Assignment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Datahall Does not have a Cabinet Drawing</defaultConnectorLabel>
        <rules>
            <name>Datahall_has_Cabinet_Drawing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_DataHall_Details.X2D_Drawing__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_DataHall_Details.X2D_Drawing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visual_Cabinet_Selection_From_DataHall</targetReference>
            </connector>
            <label>Datahall has Cabinet Drawing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_DataHall_have_a_default_Drawing_for_Cabinets_Cage_Path</name>
        <label>Does the DataHall have a default Drawing for Cabinets?</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Cage_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Datahall Does not have a Cabinet Drawing</defaultConnectorLabel>
        <rules>
            <name>Datahall_has_Cabinet_Drawing_Cage_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_DataHall_Details.X2D_Drawing__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_DataHall_Details.X2D_Drawing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visual_Cabinet_Selection_From_DataHall_Cage_Path</targetReference>
            </connector>
            <label>Datahall has Cabinet Drawing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_total_Number_of_Asset_Quantity_Match_the_reserved_RUs</name>
        <label>Does the total Number of Asset Quantity Match the reserved RUs</label>
        <locationX>1326</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Request_how_many_RUs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quantities do not Match</defaultConnectorLabel>
        <rules>
            <name>Quantities_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sumOfRUsadded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_the_Asset_Details.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Meet_Me_Room</targetReference>
            </connector>
            <label>Quantities Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_original_Asset</name>
        <label>Is this the original Asset</label>
        <locationX>1414</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Copy_Asset_From_Original_Service_Order_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Asset to Create</defaultConnectorLabel>
        <rules>
            <name>Original_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_assignments.Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_specific_values_to_the_original_Asset_from_Selection</targetReference>
            </connector>
            <label>Original Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>N1_AC_Power_Validation_Needed</name>
        <label>AC Power Validation Needed?</label>
        <locationX>4703</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>DX_Create_Circuit_Breaker_Record_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>N1_AC_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Power_Model_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N1_Circuit_Breaker_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>N1_Circuit_Breaker_Number</name>
        <label>Circuit Breaker Number</label>
        <locationX>4516</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>DX_Create_Circuit_Breaker_Record_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>N1_Number_of_Circuit_Breakers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Reduce_Count_by_1</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>N1_DC_Circuit_Number</name>
        <label>DC Circuit Number</label>
        <locationX>3636</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>DC_Circuit_Record_Creation_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_DC_Circuits</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N1_DC_Circuit_Reduce_1</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>N1_Need_to_Repeat</name>
        <label>Need to Repeat?</label>
        <locationX>3438</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>N1_Create_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finished</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofCircuits</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Copy_Asset_Values_from_SOLineItem_Flow_2</targetReference>
            </connector>
            <label>Another One</label>
        </rules>
    </decisions>
    <decisions>
        <name>N1_Power_Validation_Needed</name>
        <label>DC Power Validation Needed?</label>
        <locationX>3823</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>DC_Circuit_Record_Creation_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Power_Model_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC_Circuit_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Cabinet_Selected</name>
        <label>Was a Cabinet Selected?</label>
        <locationX>1854</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Visual_Cabinet_Selection_From_DataHall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A Cabinet was not Selected</defaultConnectorLabel>
        <rules>
            <name>A_Cabinet_Was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visual_Cabinet_Selection.selectedCanvasItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Visual_Cabinet_Selection.selectedCanvasItem</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Cabinet</targetReference>
            </connector>
            <label>A Cabinet Was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Cabinet_Selected_Cage_Flow_Cage_Path</name>
        <label>Was a Cabinet Selected?S</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Visual_Cabinet_Selection_From_DataHall_Cage_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A Cabinet was not Selected</defaultConnectorLabel>
        <rules>
            <name>A_Cabinet_Was_Selected_Cage_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visual_Cabinet_Selection_Cage_Path.selectedCanvasItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Visual_Cabinet_Selection_Cage_Path.selectedCanvasItem</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Cabinet_Cage_Path</targetReference>
            </connector>
            <label>A Cabinet Was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Data_Hall_Passed</name>
        <label>Was Data Hall Passed</label>
        <locationX>2635</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_the_DataHall_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Data Hall Exists</defaultConnectorLabel>
        <rules>
            <name>Data_Hall_was_Not_passed_and_not_needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POE Allocation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Plant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Innerduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roof Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_the_buildingId_from_the_Asset_s_Service_Order_s_Opportunity_Bui</targetReference>
            </connector>
            <label>Data Hall was Not passed, and not needed (POE, Inside Plant, Innerduct or Roof Product)</label>
        </rules>
        <rules>
            <name>Data_Hall_was_not_passed_in</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dataHallId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dataHallId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_buildingId_exist</targetReference>
            </connector>
            <label>Data Hall was not passed in</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_RenderDraw_Asset_is_this</name>
        <label>What type of RenderDraw Asset is this</label>
        <locationX>1216</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Does_the_DataHall_have_a_default_Drawing_for_Cabinets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cabinet</defaultConnectorLabel>
        <rules>
            <name>Cage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_DataHall_have_a_default_Drawing_for_Cabinets_Cage_Path</targetReference>
            </connector>
            <label>Cage</label>
        </rules>
        <rules>
            <name>Panel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_how_many_RUs</targetReference>
            </connector>
            <label>Panel</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Standard_Asset_is_this</name>
        <label>What type of Standard Asset is this?</label>
        <locationX>4054</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Missing_Asset_Type_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching Asset_Type</defaultConnectorLabel>
        <rules>
            <name>POE_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POE Allocation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_POE_Allocation_Record_Creation_Flow</targetReference>
            </connector>
            <label>POE Allocation</label>
        </rules>
        <rules>
            <name>Roof_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roof Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Roof_Record_Creation_Flow</targetReference>
            </connector>
            <label>Roof Product</label>
        </rules>
        <rules>
            <name>Innerduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Innerduct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Innerduct_Asset_Record_Creation_Flow</targetReference>
            </connector>
            <label>Innerduct</label>
        </rules>
        <rules>
            <name>DC_Circuit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DC Circuit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N1_Power_Validation_Needed</targetReference>
            </connector>
            <label>DC Circuit</label>
        </rules>
        <rules>
            <name>Circuit_Breaker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit Breaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N1_AC_Power_Validation_Needed</targetReference>
            </connector>
            <label>Circuit Breaker</label>
        </rules>
        <rules>
            <name>Home_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Home_Run_and_Fiber_Pair_Record_Creation_Flow_1</targetReference>
            </connector>
            <label>Home Run</label>
        </rules>
        <rules>
            <name>Inside_Plant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Asset_Details.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Plant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DX_Inside_Plant_Asset_Record_Creation_Flow</targetReference>
            </connector>
            <label>Inside Plant</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>cabinetsFromDataHall</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Hall_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </filters>
        <object>DC_Cabinet__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cagesFromDataHall</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Hall__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </filters>
        <object>DC_Cage__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>meetMeRoomFromDataHall</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Hall__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </filters>
        <object>DC_Meet_Me_Room__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rackRowsFromMeetMeRoom</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meet_Me_Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Meet_me_Room_from_the_Datahall</elementReference>
            </value>
        </filters>
        <object>DC_Rack_Row__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Asset Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Assignment</label>
    <loops>
        <name>Iterate_over_assignments</name>
        <label>Iterate over assignments</label>
        <locationX>1194</locationX>
        <locationY>2330</locationY>
        <collectionReference>Select_a_Rack_Panel_and_Position.selectedPanelAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_original_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asset_was_Allocated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_how_RU_items</name>
        <label>Iterate over how RU items</label>
        <locationX>1326</locationX>
        <locationY>1490</locationY>
        <collectionReference>ruRollup.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_RU_Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_the_total_Number_of_Asset_Quantity_Match_the_reserved_RUs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Assets</name>
        <label>Create Assets</label>
        <locationX>4450</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Initial_Asset_to_Power_Validation_True</targetReference>
        </connector>
        <inputReference>AssetList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Asset_Record</name>
        <label>Create Asset Record</label>
        <locationX>1546</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Assign_the_Created_Asset_to_the_Panel_Assets_to_process</targetReference>
        </connector>
        <inputReference>Copy_Asset_From_Original_Service_Order_Line_Item.iAsset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>N1_Create_Assets</name>
        <label>Create Assets</label>
        <locationX>3570</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Update_Initial_Asset_to_Power</targetReference>
        </connector>
        <inputReference>AssetList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Service_order_Line_Item_from_Original_Asset</name>
        <label>Get Service order Line Item from Asset</label>
        <locationX>3438</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N1_Need_to_Repeat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Service_order_Line_Item_from_Asset</name>
        <label>Get Service order Line Item from Asset</label>
        <locationX>4318</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Need_to_Repeat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Cabinet</name>
        <label>Get Selected Cabinet</label>
        <locationX>1722</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Selected_Cabinet_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visual_Cabinet_Selection.selectedCanvasItem</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cabinet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Cabinet_Cage_Path</name>
        <label>Get Selected Cabinet</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Cage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visual_Cabinet_Selection.selectedCanvasItem</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cabinet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Cage</name>
        <label>Get Selected Cage</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_selected_Cage_to_global_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Cabinet_Cage_Path.Cage__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_order_Line_Item_from_Original_Asset</name>
        <label>Get Service order Line Item from Original Asset</label>
        <locationX>1194</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Asset_Details</name>
        <label>Get the Asset Details</label>
        <locationX>2635</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Data_Hall_Passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Cabinet_Details</name>
        <label>Get the Cabinet Details</label>
        <locationX>2052</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_to_Allocated_Cabinet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cabinetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cabinet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Cage_Details_Manually</name>
        <label>Get the Cage Details Manually</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Manual_Cage_to_the_global_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Cage_from_the_DataHall</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_DataHall_Details</name>
        <label>Get the DataHall Details</label>
        <locationX>2635</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_this_is_an_Asset_that_is_related_to_RenderDraw_workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Data_Hall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Initial_Asset_to_Power_Validation_True</name>
        <label>Update Initial Asset to Power Validation = True</label>
        <locationX>4450</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_1_of_Finish_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Power_Model_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_to_Allocated_Cabinet</name>
        <label>Update Asset to Allocated- Cabinet</label>
        <locationX>2052</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Assign_the_Cabinet_Name_and_CabinetId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <elementReference>Get_the_Cabinet_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>Get_the_Cabinet_Details.MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_to_Allocated_Cage</name>
        <label>Update Asset to Allocated- Cage</label>
        <locationX>380</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Assign_the_Selected_Cage_Name_and_Id_to_the_Output_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <elementReference>selectedCageRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>selectedCageRecord.MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Asset_to_Power</name>
        <label>Update Initial Asset to Power Validation = True</label>
        <locationX>3570</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Finish_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Asset_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Power_Model_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Cabinet_Record</name>
        <label>Update the Cabinet Record</label>
        <locationX>2052</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Get_the_Cabinet_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cabinetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Lookup__c</field>
            <value>
                <elementReference>Get_the_Asset_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Cabinet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Cabinets</name>
        <label>Update the Cabinets</label>
        <locationX>380</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Update_the_Cage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedCageRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Lookup__c</field>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Cabinet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Cage</name>
        <label>Update the Cage</label>
        <locationX>380</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Update_Asset_to_Allocated_Cage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedCageRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Lookup__c</field>
            <value>
                <elementReference>Get_the_Asset_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Cage__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_original_Asset</name>
        <label>Update the original Asset</label>
        <locationX>1282</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Assign_the_Asset_to_the_Panel_Assets_to_process</targetReference>
        </connector>
        <inputReference>Get_the_Asset_Details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatetheCageManually</name>
        <label>Update the Cage Manually</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Get_the_Cage_Details_Manually</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Cage_from_the_DataHall</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Lookup__c</field>
            <value>
                <elementReference>Get_the_Asset_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Cage__c</object>
    </recordUpdates>
    <screens>
        <name>Cabinet_Assignment_Screen</name>
        <label>Cabinet Assignment</label>
        <locationX>2250</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_the_Selected_Cabinet_Id_from_the_picker</targetReference>
        </connector>
        <fields>
            <name>Select_the_Cabinet_from_the_DataHall</name>
            <choiceReferences>cabinetsFromDataHall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Cabinet from the DataHall</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cage_Assignment</name>
        <label>Cage Assignment</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdatetheCageManually</targetReference>
        </connector>
        <fields>
            <name>Select_the_Cage_from_the_DataHall</name>
            <choiceReferences>cagesFromDataHall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Cage from the DataHall</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Finish_Message</name>
        <label>Finish Message</label>
        <locationX>4450</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_FinishedMessage</name>
            <fieldText>&lt;p&gt;You successfully have created {!N1_Number_of_Circuit_Breakers} Assets to account for the number of Circuits that we will install for this customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please go back to the CRN to verify this and go through the standard asset assignment process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DC_Circuit_Screen</name>
        <label>DC Circuit Screen</label>
        <locationX>3636</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>N1_DC_Circuit_Number</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;The DC Circuit contracted under this Service Order was sold under the  {!Get_the_Asset_Details.Service_Order_Line_Item__r.Product2.Power_Model__c} model.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As such, we need further input to determine how many DC Circuit Breakers to create to accommodate this Service.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SODetails</name>
            <fieldText>&lt;p&gt;Given the information from the Service Order (shown below), please indicate how many Circuit Breakers are going to be needed to accomodate this request:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Service:&lt;/strong&gt; {!Get_Service_order_Line_Item_from_Original_Asset.Description}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Quantity:&lt;/strong&gt; {!Get_Service_order_Line_Item_from_Original_Asset.Quantity}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_DC_Circuits</name>
            <dataType>Number</dataType>
            <fieldText>Number of Circuit Breakers</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be greater than 0.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_DC_Circuits} &lt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;&lt;em&gt;* Note: If there service above is &quot; A + B Feeds&quot;, please input the TOTAL number of circuits you will need to provide both feeds. (Ex: If you need 10 Circuits per feed, put 20).&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Message</name>
        <label>Finish Message</label>
        <locationX>3570</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishedMessage</name>
            <fieldText>&lt;p&gt;You successfully have created {!Number_of_DC_Circuits} Assets to account for the number of Circuits that we will install for this customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please go back to the CRN to verify this and go through the standard asset assignment process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Asset_Type_Page</name>
        <label>Missing Asset Type</label>
        <locationX>5594</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Asset_Was_Allocated_to_False</targetReference>
        </connector>
        <fields>
            <name>NoAssetTypeOutputText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;There was an issue with the Asset you are attempting to assign.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This Asset doesn&apos;t have a proper type to assign, please contact Netrality support team regarding  &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!Get_the_Asset_Details.Name} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>N1_Circuit_Breaker_Screen</name>
        <label>Circuit Breaker Screen</label>
        <locationX>4516</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>N1_Circuit_Breaker_Number</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p&gt;The Circuit Breakers contracted under this Service Order was sold under the  {!Get_the_Asset_Details.Service_Order_Line_Item__r.Product2.Power_Model__c} model.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As such, we need further input to determine how many Circuit Breakers to create to accommodate this Service.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_SODetails</name>
            <fieldText>&lt;p&gt;Given the information from the Service Order (shown below), please indicate how many Circuit Breakers are going to be needed to accomodate this request:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Service:&lt;/strong&gt; {!Get_Service_order_Line_Item_from_Original_Asset.Description}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Quantity:&lt;/strong&gt; {!Get_Service_order_Line_Item_from_Original_Asset.Quantity}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>N1_Number_of_Circuit_Breakers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Circuit Breakers</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be greater than 0.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_DC_Circuits} &lt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_Warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;&lt;em&gt;* Note: If there service above is &quot; A + B Feeds&quot;, please input the TOTAL number of circuits you will need to provide both feeds. (Ex: If you need 10 Circuits per feed, put 20).&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_how_many_RUs</name>
        <label>Request how many RUs</label>
        <locationX>1326</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_RU_Sum</targetReference>
        </connector>
        <fields>
            <name>panelRUGuidance</name>
            <fieldText>&lt;p&gt;There are {!Get_the_Asset_Details.Quantity} RUs total, Would you like to split these up?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RUErrorMessage</name>
            <fieldText>&lt;p&gt;The total amount of RUs you selected has to equal {!Get_the_Asset_Details.Quantity}, your total was {!sumOfRUsadded}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sumOfRUsadded</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ruRollup</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ruItem</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Get_the_Asset_Details.Quantity</elementReference>
                </defaultValue>
                <fieldText>RU Size  to Reserve</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Meet_Me_Room</name>
        <label>Select Meet Me Room</label>
        <locationX>1194</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_a_Rack_Panel_and_Position</targetReference>
        </connector>
        <fields>
            <name>Select_a_Meet_me_Room_from_the_Datahall</name>
            <choiceReferences>meetMeRoomFromDataHall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Meet me Room from the Datahall</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visual_Cabinet_Selection_From_DataHall</name>
        <label>Visual Cabinet Selection From DataHall</label>
        <locationX>1854</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_a_Cabinet_Selected</targetReference>
        </connector>
        <fields>
            <name>selectCabinetFromDataHallOutput</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Select a Cabinet from the DataHall&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visual_Cabinet_Selection</name>
            <extensionName>RDraw:canvas2D</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>dataHallId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callFlowNextOnProceed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visual_Cabinet_Selection_From_DataHall_Cage_Path</name>
        <label>Visual Cabinet Selection From DataHall</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_a_Cabinet_Selected_Cage_Flow_Cage_Path</targetReference>
        </connector>
        <fields>
            <name>selectCabinetFromDataHallOutput_CageFlow</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Select a Cabinet/Cage from the DataHall&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visual_Cabinet_Selection_Cage_Path</name>
            <extensionName>RDraw:canvas2D</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>dataHallId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callFlowNextOnProceed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2509</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Asset_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Building_floor_and_DataHall_Selection</name>
        <label>Building floor and DataHall Selection</label>
        <locationX>2679</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Assign_The_Data_Hall</targetReference>
        </connector>
        <flowName>Building_Floor_and_DataHall_Selection</flowName>
        <inputAssignments>
            <name>buildingId</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_1_of_DX_Copy_Asset_Values_from_SOLineItem_Flow_2</name>
        <label>DX Copy Asset Values from SOLineItem Flow 2</label>
        <locationX>4186</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Copy_1_of_Add_Asset_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Copy_1_of_Get_Service_order_Line_Item_from_Original_Asset</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_Asset_From_Original_Service_Order_Line_Item</name>
        <label>Copy Asset From Original Service Order Line Item</label>
        <locationX>1546</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Assign_specific_properties_From_selection</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Get_Service_order_Line_Item_from_Original_Asset</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DC_Circuit_Record_Creation_Flow</name>
        <label>DC Circuit Record Creation Flow</label>
        <locationX>3823</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
        <flowName>DC_Circuit_Record_Creation</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Asset_ID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Building_ID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Cabinet_ID</name>
            <value>
                <elementReference>cabinetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Cage_ID</name>
            <value>
                <elementReference>cageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHall_ID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Floor_ID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Copy_Asset_Values_from_SOLineItem_Flow_2</name>
        <label>DX Copy Asset Values from SOLineItem Flow 2</label>
        <locationX>3306</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>N1_Add_Asset_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Copy_1_of_Get_Service_order_Line_Item_from_Original_Asset</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DX_Create_Circuit_Breaker_Record_Flow</name>
        <label>DX Create Circuit Breaker Record Flow</label>
        <locationX>4703</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
        <flowName>DX_Create_Circuit_Breaker_Record</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CabinetID</name>
            <value>
                <elementReference>cabinetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CageId</name>
            <value>
                <elementReference>cageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHallID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrderID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Home_Run_and_Fiber_Pair_Record_Creation_Flow_1</name>
        <label>DX Home Run and Fiber Pair Record Creation Flow 1</label>
        <locationX>5066</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
        <flowName>DX_Home_Run_and_Fiber_Pair_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Get_the_Asset_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingId</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrderId</name>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceRequestId</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Innerduct_Asset_Record_Creation_Flow</name>
        <label>DX Innerduct Asset Record Creation Flow</label>
        <locationX>3042</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
        <flowName>DX_Innerduct_Asset_Record_Creation</flowName>
        <inputAssignments>
            <name>Asset_ID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Building_ID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Inside_Plant_Asset_Record_Creation_Flow</name>
        <label>DX Inside Plant Asset Record Creation Flow</label>
        <locationX>5330</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
        <flowName>DX_Inside_Plant_Asset_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHallID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrderID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__r.Service_Order_ID__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Panel_Record_Creation_Flow</name>
        <label>DX Panel Record Creation Flow</label>
        <locationX>1414</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Iterate_over_assignments</targetReference>
        </connector>
        <flowName>DX_Panel_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>selectedPanelAsset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHallID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HeightRU</name>
            <value>
                <elementReference>Iterate_over_assignments.Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MeetMeRoomID</name>
            <value>
                <elementReference>Select_a_Meet_me_Room_from_the_Datahall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RackID</name>
            <value>
                <elementReference>Iterate_over_assignments.RackId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartingPositionRU</name>
            <value>
                <elementReference>Iterate_over_assignments.StartingPosition</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DX_POE_Allocation_Record_Creation_Flow</name>
        <label>DX POE Allocation Record Creation Flow</label>
        <locationX>2514</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
        <flowName>DX_POE_Allocation_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHallID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Roof_Record_Creation_Flow</name>
        <label>DX Roof Record Creation Flow</label>
        <locationX>2778</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Asset_was_Allocated</targetReference>
        </connector>
        <flowName>DX_Roof_Record_Creation</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BuildingID</name>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>Get_the_Asset_Details.DX_Service_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataHallID</name>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FloorID</name>
            <value>
                <elementReference>floorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrderID</name>
            <value>
                <elementReference>Get_the_Asset_Details.Service_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Select_a_Rack_Panel_and_Position</name>
        <label>Select a Rack Panel and Position</label>
        <locationX>1194</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Get_Service_order_Line_Item_from_Original_Asset</targetReference>
        </connector>
        <flowName>Select_Rack_Row_Rack_and_Panel_Selection</flowName>
        <inputAssignments>
            <name>assetToAssignOrSplit</name>
            <value>
                <elementReference>Get_the_Asset_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>meetmeRoomId</name>
            <value>
                <elementReference>Select_a_Meet_me_Room_from_the_Datahall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sizesToAllocate</name>
            <value>
                <elementReference>ruSizesToSelect</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetWasAllocated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cabinetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cabinetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataHallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>floorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NumberofCircuits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>panelAssetsToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>The Selected Asset Id, if using a singular Asset.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ruSizesToSelect</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>selectedCageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Cage__c</objectType>
    </variables>
    <variables>
        <name>selectedPanelAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>sumOfRUsadded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
