force-app/main/default/flows/Building_Floor_and_DataHall_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Building_to_buildingId</name>
        <label>Assign Building to buildingId</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildingLookup.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_the_Floor_from_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_Hall_Id</name>
        <label>Assign Data Hall Id</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>dataHallId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>canvasDataHallSelection.selectedCanvasItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>floorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_the_Floor_you_would_like_to_use</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_the_item_was_selected</name>
        <label>Check the item was selected</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Data_Hall_from_Floor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>canvasDataHallSelection.selectedCanvasItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Data_Hall_Id</targetReference>
            </connector>
            <label>Item was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Building_Passed_In</name>
        <label>Was Building Passed In?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Building_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Building Needs to be defined</defaultConnectorLabel>
        <rules>
            <name>Building_Was_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buildingId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_the_Floor_from_Building</targetReference>
            </connector>
            <label>Building Was Passed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>buildingChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Building__c</object>
        <outputAssignments>
            <assignToReference>buildingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DCFloorsfromBuilding</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </filters>
        <object>DC_Floor__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Building Floor and DataHall Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Building Floor and DataHall Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Building_Selection</name>
        <label>Building Selection</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Building_to_buildingId</targetReference>
        </connector>
        <fields>
            <name>buildingLookup</name>
            <choiceReferences>buildingChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Building Lookup</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select a Building</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Data_Hall_from_Floor</name>
        <label>Select Data Hall from Floor</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_the_item_was_selected</targetReference>
        </connector>
        <fields>
            <name>canvasDataHallSelection</name>
            <extensionName>RDraw:canvas2D</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Select_the_Floor_you_would_like_to_use</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_Floor_from_Building</name>
        <label>Select the Floor from Building</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Data_Hall_from_Floor</targetReference>
        </connector>
        <fields>
            <name>Select_the_Floor_you_would_like_to_use</name>
            <choiceReferences>DCFloorsfromBuilding</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Floor you would like to use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Building_Passed_In</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataHallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>floorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
