force-app/main/default/flows/Cage_Selection_from_DataHall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Cage_for_output</name>
        <label>Assign Cage for output</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>cage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cage_for_selected_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_cageId_from_the_Picklist</name>
        <label>Assign cageId from the Picklist</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>cageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_the_Cage_from_your_DataHall</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cage_for_selected_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_dataHallId</name>
        <label>Assign the dataHallId</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>dataHallId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataHallVisualCanvas.selectedCanvasItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cage_for_selected_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_DataHall_have_a_2D_Drawing</name>
        <label>Does the DataHall have a 2D Drawing</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>What_Cage_would_you_like_to_Use</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not have Drawing</defaultConnectorLabel>
        <rules>
            <name>Has_a_2D_Drawing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interaction_Definition_Record_for_Cage.RDraw__Settings__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Interaction_Definition_Record_for_Cage.RDraw__Settings__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visual_Selection_of_Cage_from_DataHall</targetReference>
            </connector>
            <label>Has a 2D Drawing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Record_Visually_Selected</name>
        <label>Was a Record Visually Selected</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Visual_Selection_of_Cage_from_DataHall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record was not Selected</defaultConnectorLabel>
        <rules>
            <name>Record_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataHallVisualCanvas.selectedCanvasItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dataHallVisualCanvas.selectedCanvasItem</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_dataHallId</targetReference>
            </connector>
            <label>Record was Selected</label>
        </rules>
    </decisions>
    <description>Select your Cage from a DataHall</description>
    <dynamicChoiceSets>
        <name>CagesFromDataHall</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Hall__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </filters>
        <object>DC_Cage__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Cage Selection from DataHall {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cage Selection from DataHall</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cage_for_selected_Id</name>
        <label>Get Cage for selected Id</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cage_for_output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cage__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>MRI_Suite_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interaction_Definition_Record_for_Cage</name>
        <label>Get Interaction Definition Record for Cage</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_DataHall_have_a_2D_Drawing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RDraw__Associated_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RDraw__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2D_Scene_Settings</stringValue>
            </value>
        </filters>
        <filters>
            <field>RDraw__Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RDraw__Interaction_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_DataHall_Record</name>
        <label>Get the DataHall Record</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Interaction_Definition_Record_for_Cage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dataHallId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Data_Hall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Visual_Selection_of_Cage_from_DataHall</name>
        <label>Visual Selection of Cage from DataHall</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_a_Record_Visually_Selected</targetReference>
        </connector>
        <fields>
            <name>SelectCageDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Cage from the DataHall&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dataHallVisualCanvas</name>
            <extensionName>RDraw:canvas2D</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Interaction_Definition_Record_for_Cage.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_Cage_would_you_like_to_Use</name>
        <label>What Cage would you like to Use</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_cageId_from_the_Picklist</targetReference>
        </connector>
        <fields>
            <name>Select_the_Cage_from_your_DataHall</name>
            <choiceReferences>CagesFromDataHall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Cage from your DataHall</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_DataHall_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DC_Cage__c</objectType>
    </variables>
    <variables>
        <name>cageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dataHallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
