force-app/main/default/flows/DC_Circuit_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Fields_DC_Circuit</name>
        <label>Set Fields DC Circuit</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DC_Circuit_obj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameCircuit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Obj_Circuit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Associated_Space_Type_It_Is</name>
        <label>What Associated Space Type It Is?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Rack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It is Rack</defaultConnectorLabel>
        <rules>
            <name>Is_It_Cabinet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DC_Circuit_obj.Associated_Space_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabinet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cabinet</targetReference>
            </connector>
            <label>Is It Cabinet?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Value_Related_MRI_Suite_ID</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!DC_Circuit_obj.Associated_Space_Type__c}) = &quot;Cabinet&quot;, {!Get_Cabinet.MRI_Suite_ID__c}, {!Get_Rack.MRI_Suite_ID__c})</expression>
    </formulas>
    <interviewLabel>DC Circuit Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DC Circuit Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Obj_Circuit</name>
        <label>Create Obj Circuit</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>What_Associated_Space_Type_It_Is</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Creation_Create_Circuit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amperage__c</field>
            <value>
                <elementReference>DC_Circuit_obj.Amperage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Space_Type__c</field>
            <value>
                <elementReference>DC_Circuit_obj.Associated_Space_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cabinet__c</field>
            <value>
                <elementReference>dx_PanelSelectorCabinets.cabinetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Committed_Power__c</field>
            <value>
                <elementReference>DC_Circuit_obj.Committed_Power__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DC_Plant__c</field>
            <value>
                <elementReference>DC_Circuit_obj.DC_Plant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meter_ID__c</field>
            <value>
                <elementReference>DC_Circuit_obj.Meter_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DC_Circuit_obj.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rack__c</field>
            <value>
                <elementReference>DC_Circuit_obj.Rack__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voltage__c</field>
            <value>
                <elementReference>DC_Circuit_obj.Voltage__c</elementReference>
            </value>
        </inputAssignments>
        <object>DC_DC_Circuit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Cabinet</name>
        <label>Get Cabinet</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dx_PanelSelectorCabinets.cabinetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cabinet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rack</name>
        <label>Get Rack</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DC_Circuit_obj.Rack__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Rack__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Record</name>
        <label>Update Asset Record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Error_Log_Creation_Update_Asset</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <elementReference>DC_Circuit_obj.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>Value_Related_MRI_Suite_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>DC_Circuit</name>
        <label>DC Circuit</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Fields_DC_Circuit</targetReference>
        </connector>
        <fields>
            <name>DC_Circuit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DC_Circuit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameCircuit</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DC_Circuit_obj.Amperage__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DC_Circuit_obj.Associated_Space_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DC_Circuit_obj.DC_Plant__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DC_Circuit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DC_Circuit_obj.Committed_Power__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DC_Circuit_obj.Meter_ID__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DC_Circuit_obj.Rack__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DC_Circuit_obj.Associated_Space_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rack</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>DC_Circuit_obj.Voltage__c</objectFieldReference>
        </fields>
        <fields>
            <name>dx_PanelSelectorCabinets</name>
            <extensionName>c:dx_PanelSelectorCabinets_lwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buildingID</name>
                <value>
                    <elementReference>Building_ID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DC_Circuit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Log_Creation_Create_Circuit</name>
        <label>Error Log Creation Create Circuit</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DC Circuit Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Obj Circuit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC DC Circuit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Building_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Update_Asset</name>
        <label>Error Log Creation Update Asset</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue> DC Circuit Record Creation  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Asset Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Asset_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Building_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DC_Circuit_obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_DC_Circuit__c</objectType>
    </variables>
</Flow>
