force-app/main/default/flows/DX_Actions_when_Oppty_is_ClosedWon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Create_Assets</name>
        <label>Create Assets?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Market_New_Logo_Or_Expansion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Market</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assets_for_CRN_SR</targetReference>
            </connector>
            <label>New Market, New Logo Or Expansion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Synced_SO</name>
        <label>Found Synced SO?</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_found_synced_so</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Synced_Service_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CRN_SR</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>ServiceRequestID_Created</name>
        <label>ServiceRequestID Created?</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRequestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>1- Creates CRN SR
2. Asset allocation</description>
    <environments>Default</environments>
    <interviewLabel>DX Actions when Oppty is ClosedWon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Actions when Oppty is ClosedWon</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Synced_Service_Order</name>
        <label>Get Synced Service Order</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Synced_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Synced_Service_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Assets_for_CRN_SR</name>
        <label>Create Assets for CRN SR</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <flowName>DX_Create_Assets_for_CRN_SR</flowName>
        <inputAssignments>
            <name>ServiceOrderID</name>
            <value>
                <elementReference>Get_Synced_Service_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_CRN_SR</name>
        <label>Create CRN SR</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>ServiceRequestID_Created</targetReference>
        </connector>
        <flowName>DX_Create_CRN_SR</flowName>
        <inputAssignments>
            <name>Opportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceOrder</name>
            <value>
                <elementReference>Get_Synced_Service_Order</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ServiceRequestID</assignToReference>
            <name>ServiceRequestID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ServiceRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
