force-app/main/default/flows/DX_Auto_Populate_Service_Request_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Initiator_Phone</name>
        <label>Set Initiator Phone</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_Initiator_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Contact_Info.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Initiator_Title</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initiator_Title</name>
        <label>Set Initiator Title</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_Initiator_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Contact_Info.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Requestor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Initiatior</name>
        <label>Set Order Initiatior</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_Order_Initiator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Contact_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Initiator_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Requestor</name>
        <label>Set Requestor</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Contact_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Contact_Info.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Initiatior</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Saves info when creating a new service request</description>
    <environments>Default</environments>
    <interviewLabel>Auto Populate Service Request Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Auto Populate Service Request Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer_Contact_Info</name>
        <label>Get Customer Contact Info</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Request</name>
        <label>Update Service Request</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer_Contact_Info</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Auto Populate Service Request Fields</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Service Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
