force-app/main/default/flows/DX_Auto_Populate_Service_Request_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Contact_Info.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initiator_and_Requestor_Values_on_SR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Pickup Time if status is not new and Service Request Record Type is Cross Connect or Remote Hands Support or Expansion of Services or Logistics or  Access Request.</description>
        <name>Update_PickUp_Time</name>
        <label>Update PickUp Time?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Customer_Contact_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SR_RT</name>
            <conditionLogic>(5 AND 6) AND (1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Request_Record_Type_Info.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross Connect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Request_Record_Type_Info.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Hands Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Request_Record_Type_Info.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Request_Record_Type_Info.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PickupTime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Saves info when creating a new service request</description>
    <environments>Default</environments>
    <interviewLabel>Auto Populate Service Request Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Auto Populate Service Request Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer_Contact_Info</name>
        <label>Get Customer Contact Info</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Request_Record_Type_Info</name>
        <label>Get Service Request Record Type Info</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PickUp_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Initiator_and_Requestor_Values_on_SR</name>
        <label>Update Initiator and Requestor Values on SR</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DX_InitiatorPhone__c</field>
            <value>
                <elementReference>Get_Customer_Contact_Info.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Initiator_Title__c</field>
            <value>
                <elementReference>Get_Customer_Contact_Info.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Order_Initiator__c</field>
            <value>
                <elementReference>Get_Customer_Contact_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Requestor__c</field>
            <value>
                <elementReference>Get_Customer_Contact_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PickupTime</name>
        <label>Update PickupTime</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Customer_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DX_Pickup_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Request_Record_Type_Info</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Auto Populate Service Request Fields</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Service Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
