force-app/main/default/flows/DX_Circuit_Breakers_Power_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sum_of_Committed_Power_on_Cabinet</name>
        <label>Sum of Committed Power on Cabinet</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>CollectionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SumOfConnectedPowerOnCabinet</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>DC_Circuit_Breaker__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Committed_Power__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>CircuitBreakersList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CollectionCalculate</nameSegment>
        <outputParameters>
            <assignToReference>SumOfCommitedPower</assignToReference>
            <name>outputDecimalResult</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SumOfConnectedPowerOnCabinet</name>
        <label>SumOfConnectedPowerOnCabinet</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <actionName>CollectionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cabinet_or_Rack</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>DC_Circuit_Breaker__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Connected_Power__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>CircuitBreakersList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CollectionCalculate</nameSegment>
        <outputParameters>
            <assignToReference>SumOfConnectedPower</assignToReference>
            <name>outputDecimalResult</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_CircuitBreaker_Count</name>
        <label>Assign CircuitBreaker Count</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CircuitBreakerCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CircuitBreakersList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_of_Committed_Power_on_Cabinet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cabinet_or_Rack</name>
        <label>Cabinet or Rack?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Rack_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rack</defaultConnectorLabel>
        <rules>
            <name>Cabinet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Associated_Space_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabinet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cabinet_Values</targetReference>
            </connector>
            <label>Cabinet</label>
        </rules>
    </decisions>
    <description>Ensures that power values entered when creating Circuits Breaker records automatically update the Power values on the Cabinets they are connected to the Circuit Breakers to.</description>
    <environments>Default</environments>
    <formulas>
        <name>NewCommitedPowerValue</name>
        <dataType>Number</dataType>
        <expression>{!SumOfCommitedPower}/{!CircuitBreakerCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewConnectedPowerValue</name>
        <dataType>Number</dataType>
        <expression>{!SumOfConnectedPower}/{!CircuitBreakerCount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Circuit Breakers Power Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Circuit Breakers Power Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Circuit_Breakers_List</name>
        <label>Get Circuit Breakers List</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CircuitBreaker_Count</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Space_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cabinet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rack__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Space_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rack</stringValue>
            </value>
        </filters>
        <object>DC_Circuit_Breaker__c</object>
        <outputReference>CircuitBreakersList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Committed_Power__c</queriedFields>
        <queriedFields>Connected_Power__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cabinet_Values</name>
        <label>Update Cabinet Values</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Committed_Power__c</field>
            <value>
                <elementReference>NewCommitedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Power__c</field>
            <value>
                <elementReference>NewConnectedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redundancy_Factor__c</field>
            <value>
                <elementReference>CircuitBreakerCount</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Cabinet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rack_Values</name>
        <label>Update Rack Values</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rack__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Committed_Power__c</field>
            <value>
                <elementReference>NewCommitedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Power__c</field>
            <value>
                <elementReference>NewConnectedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redundancy_Factor__c</field>
            <value>
                <elementReference>CircuitBreakerCount</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Rack__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Circuit_Breakers_List</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Associated_Space_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cabinet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rack__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Associated_Space_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rack</stringValue>
            </value>
        </filters>
        <object>DC_Circuit_Breaker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CircuitBreakerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CircuitBreakersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Circuit_Breaker__c</objectType>
    </variables>
    <variables>
        <name>SumOfCommitedPower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumOfConnectedPower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
