force-app/main/default/flows/DX_Cross_Connect_Automatic_Port_updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Cross_Connect_Status</name>
        <label>Cross Connect Status?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Xconnect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Origination_Port_Status_to_Active_Cross_Connect</targetReference>
            </connector>
            <label>Connected</label>
        </rules>
        <rules>
            <name>Disconnected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Xconnect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disconnected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fiber_Pair_for_Origination_Port</targetReference>
            </connector>
            <label>Disconnected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fiber_Pair_for_Destination_Port_Exist</name>
        <label>Fiber Pair for Destination Port Exist?</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Destination_Port_Status_to_No_Homerun</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Fiber_Pair_for_Destination_Port_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fiber_Pair_for_Destination_Port.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Destination_Port_Status_to_Ready_for_Cross_Connect</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fiber_Pair_for_Origination_Port_Exist</name>
        <label>Fiber Pair for Origination Port Exist?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Origination_Port_Status_to_No_Homerun</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Fiber_Pair_for_Origination_Port_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fiber_Pair_for_Origination_Port.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Origination_Port_Status_to_Ready_for_Cross_Connect</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DX Cross Connect - Automatic Port updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Cross Connect - Automatic Port updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fiber_Pair_for_Destination_Port</name>
        <label>Get Fiber Pair for Destination Port</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fiber_Pair_for_Destination_Port_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pair_for_Origination_Port</name>
        <label>Get Fiber Pair for Origination Port</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fiber_Pair_for_Origination_Port_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Destination_Port_Status_to_Active_Cross_Connect</name>
        <label>Update Destination Port Status to Active Cross Connect</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Active Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Destination_Port_Status_to_No_Homerun</name>
        <label>Update Destination Port Status to No Homerun</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>No Homerun</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Destination_Port_Status_to_Ready_for_Cross_Connect</name>
        <label>Update Destination Port Status to Ready for Cross Connect</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Ready for Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Port_Status_to_Active_Cross_Connect</name>
        <label>Update Origination Port Status to Active Cross Connect</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Destination_Port_Status_to_Active_Cross_Connect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Active Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Port_Status_to_No_Homerun</name>
        <label>Update Origination Port Status to No Homerun</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Fiber_Pair_for_Destination_Port</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>No Homerun</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Port_Status_to_Ready_for_Cross_Connect</name>
        <label>Update Origination Port Status to Ready for Cross Connect</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Fiber_Pair_for_Destination_Port</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Ready for Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cross_Connect_Status</targetReference>
        </connector>
        <object>DC_Cross_Connect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
