force-app/main/default/flows/DX_Create_CRN_SR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Oppty_Record_Type</name>
        <label>Oppty Record Type?</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type_of_Oppty.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Internal_CRN_Records</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>New_Market_New_Logo_Expansion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type_of_Oppty.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Market</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_of_Oppty.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_of_Oppty.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Issuing_CRN_Records</targetReference>
            </connector>
            <label>New Market, New Logo, Expansion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Internal_CRN_Records</name>
        <label>Previous Internal CRN Records?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_PreviousInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Internal_CRN_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SR_Internal_CRN</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Issuing_CRN_Records</name>
        <label>Previous Issuing CRN Records?</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_PreviousIssuing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Issuing_CRN_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SR_Issuing_CRN</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DX Create CRN SR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Create CRN SR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SR_Internal_CRN</name>
        <label>Create SR Internal CRN</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>ServiceRequestID</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Create_Log_Error_when_Creating_Internal_SR</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Opportunity__c</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Service_Order__c</field>
            <value>
                <elementReference>ServiceOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_for_CRN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Internal CRN</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SR_Issuing_CRN</name>
        <label>Create SR Issuing CRN</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>ServiceRequestID</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Create_Log_Error_When_Creating_Issuing_CRN</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Opportunity__c</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Service_Order__c</field>
            <value>
                <elementReference>ServiceOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_for_CRN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Issuing CRN</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Previous_Internal_CRN_Records</name>
        <label>Get Previous Internal CRN Records</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Internal_CRN_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DX_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal CRN</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_for_CRN.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DX_Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Issuing_CRN_Records</name>
        <label>Get Previous Issuing CRN Records</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Issuing_CRN_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DX_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DX_Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_for_CRN.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issuing CRN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_of_Oppty</name>
        <label>Get Record Type of Oppty</label>
        <locationX>886</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_for_CRN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_for_CRN</name>
        <label>Get RT for CRN</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oppty_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_of_Oppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log_Error_when_Creating_Internal_SR</name>
        <label>Create Log Error when Creating Internal SR</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Create CRN SR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create SR Internal CRN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Log_Error_When_Creating_Issuing_CRN</name>
        <label>Create Log Error When Creating Issuing CRN</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Create CRN SR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create SR Issuing CRN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ServiceOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>ServiceRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
