force-app/main/default/flows/DX_Create_Assets_for_CRN_SR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_i_Asset_to_List</name>
        <label>Add i Asset to List</label>
        <locationX>1496</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_NumberOfIterations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Manual_Asset_to_List</name>
        <label>Add Manual Asset to List</label>
        <locationX>1936</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_X1_Asset_to_List</name>
        <label>Add X1 Asset to List</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_X2_1Asset_to_List</name>
        <label>Add X2_1Asset to List</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_2_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_X2_1Asset_Type_1I1P_to_List</name>
        <label>Add X2_1Asset Type 1I1P to List</label>
        <locationX>792</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>iAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Innerduct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetNamefor1I1P_Innerduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_2_Asset_Type_1I1P</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_X2_2_Asset_to_List</name>
        <label>Add X2_2_Asset to List</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_X2_2_Asset_Type_1I1P_to_List</name>
        <label>Add X2_2_Asset Type 1I1P to List</label>
        <locationX>792</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>iAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POE Allocation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetNamefor1I1P_POEAllocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_NumberOfIterations</name>
        <label>Increment NumberOfIterations</label>
        <locationX>1496</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>NumberOfIterations</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Continue_or_Stop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_Add_X3_1Asset_Type_1C2CB_to_List</name>
        <label>Add X3_1Asset Type 1C2CB to List</label>
        <locationX>1056</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>iAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cabinet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetNamefor1C2CB_Cabinet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N1_3_2_Asset_Type_1C2CB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_Add_X3_2Asset_Type_1C2CB_to_List</name>
        <label>Add X3_2Asset Type 1C2CB to List</label>
        <locationX>1056</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>iAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Circuit Breaker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetNamefor1C2CB_CircuitBreaker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N1_3_3_Asset_Type_1C2CB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_Add_X3_3Asset_Type_1C2CB_to_List</name>
        <label>Add X3_3Asset Type 1C2CB to List</label>
        <locationX>1056</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>iAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Circuit Breaker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetNamefor1C2CB_CircuitBreaker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N1_Increment_NumberOfIterations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_Increment_NumberOfIterations</name>
        <label>Increment NumberOfIterations</label>
        <locationX>1056</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NumberOfIterations</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>N1_Continue_or_Stop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_Reset_Number_Of_Iterations</name>
        <label>Reset Number Of Iterations</label>
        <locationX>1188</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NumberOfIterations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N1_Continue_or_Stop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Number_Of_Iterations</name>
        <label>Reset Number Of Iterations</label>
        <locationX>1628</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NumberOfIterations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Continue_or_Stop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Continue_or_Stop</name>
        <label>Continue or Stop?</label>
        <locationX>1628</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Iterate_SO_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfIterations</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_SO_Line_Items.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_i_Asset</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>N1_Continue_or_Stop</name>
        <label>Continue or Stop?</label>
        <locationX>1188</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Iterate_SO_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfIterations</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_SO_Line_Items.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N1_Assign_3_1_Asset_Type_1I1P</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Asset</name>
        <label>Number of Asset?</label>
        <locationX>1232</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Iterate_SO_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_SO_Line_Items.DC_Number_of_Assets__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Asset</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>Asset_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_SO_Line_Items.DC_Number_of_Assets__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_1_Asset</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>Asset_1I1P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_SO_Line_Items.DC_Number_of_Assets__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1I1P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_2_1_Asset_Type_1I1P</targetReference>
            </connector>
            <label>1I1P</label>
        </rules>
        <rules>
            <name>X1C2CB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_SO_Line_Items.DC_Number_of_Assets__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1C2CB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N1_Reset_Number_Of_Iterations</targetReference>
            </connector>
            <label>1C2CB</label>
        </rules>
        <rules>
            <name>Quantity_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_SO_Line_Items.DC_Number_of_Assets__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quantity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Number_Of_Iterations</targetReference>
            </connector>
            <label>Quantity</label>
        </rules>
        <rules>
            <name>Manual_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_SO_Line_Items.DC_Number_of_Assets__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manual_Asset</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssetNamefor1C2CB_Cabinet</name>
        <dataType>String</dataType>
        <expression>{!Iterate_SO_Line_Items.Quote.Service_Order_ID__c} + &quot; &quot; + &quot;Cabinet&quot;</expression>
    </formulas>
    <formulas>
        <name>AssetNamefor1C2CB_CircuitBreaker</name>
        <dataType>String</dataType>
        <expression>{!Iterate_SO_Line_Items.Quote.Service_Order_ID__c} + &quot; &quot; + &quot;Circuit Breaker&quot;</expression>
    </formulas>
    <formulas>
        <name>AssetNamefor1I1P_Innerduct</name>
        <dataType>String</dataType>
        <expression>{!Iterate_SO_Line_Items.Quote.Service_Order_ID__c} + &quot; &quot; + &quot;Innerduct&quot;</expression>
    </formulas>
    <formulas>
        <name>AssetNamefor1I1P_POEAllocation</name>
        <dataType>String</dataType>
        <expression>{!Iterate_SO_Line_Items.Quote.Service_Order_ID__c} + &quot; &quot; + &quot;POE Allocation&quot;</expression>
    </formulas>
    <interviewLabel>DX Create Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Create Assets for CRN SR</label>
    <loops>
        <name>Iterate_SO_Line_Items</name>
        <label>Iterate SO Line Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_SO_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Number_of_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>176</locationX>
        <locationY>1748</locationY>
        <faultConnector>
            <targetReference>Create_Log_Error</targetReference>
        </faultConnector>
        <inputReference>AssetList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_SO_Line_Items</name>
        <label>Get SO Line Items</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_SO_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceOrderID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SO_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_2_1_Asset_Type_1I1P</name>
        <label>Assign 2_1_Asset Type 1I1P</label>
        <locationX>792</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_X2_1Asset_Type_1I1P_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_i_Asset</name>
        <label>Assign i Asset</label>
        <locationX>1496</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Add_i_Asset_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Manual_Asset</name>
        <label>Assign Manual Asset</label>
        <locationX>1936</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_Manual_Asset_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Log_Error</name>
        <label>Create Log Error</label>
        <locationX>440</locationX>
        <locationY>1856</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Create Assets for CRN SR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Assets</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>N1_3_2_Asset_Type_1C2CB</name>
        <label>3_2_Asset Type 1C2CB</label>
        <locationX>1056</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>N1_Add_X3_2Asset_Type_1C2CB_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>N1_3_3_Asset_Type_1C2CB</name>
        <label>3_3_Asset Type 1C2CB</label>
        <locationX>1056</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>N1_Add_X3_3Asset_Type_1C2CB_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>N1_Assign_3_1_Asset_Type_1I1P</name>
        <label>Assign 3_1_Asset Type 1C2CB</label>
        <locationX>1056</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>N1_Add_X3_1Asset_Type_1C2CB_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>X1_Asset</name>
        <label>Assign 1_Asset</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_X1_Asset_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>X2_1_Asset</name>
        <label>Assign 2_1_Asset</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_X2_1Asset_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>X2_2_Asset</name>
        <label>2_2_Asset</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Add_X2_2_Asset_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>X2_2_Asset_Type_1I1P</name>
        <label>2_2_Asset Type 1I1P</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Add_X2_2_Asset_Type_1I1P_to_List</targetReference>
        </connector>
        <flowName>DX_Copy_Asset_Values_from_SOLineItem</flowName>
        <inputAssignments>
            <name>ServiceRequestID</name>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SOLineItem</name>
            <value>
                <elementReference>Iterate_SO_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>iAsset</assignToReference>
            <name>iAsset</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>iAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NumberOfIterations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ServiceOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
