force-app/main/default/flows/DX_Cross_Connect_Automatic_Port_updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Num_of_Ports_to_be_updated_to_No_Homerun_origination</name>
        <label>Num of Ports to be updated to No Homerun origination</label>
        <locationX>2030</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NumPortsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Ports_to_be_updated_to_No_Homerun_origination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ports_to_be_updated_to_No_Homerun_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Num_of_ports_to_Update_them_to_Active_Cross_Connect</name>
        <label>Num of ports to Update them to Active Cross Connect</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>NumPortsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Destination_Ports_to_update_them_to_Active_Cross_Connect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Destination_Ports_to_be_Updated_to_Active_Cross_Connect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Num_Ports_to_be_updated_to_nohomerun_dest</name>
        <label>Num Ports to be updated to nohomerun dest</label>
        <locationX>2074</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>NumPortsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Ports_to_be_updated_to_No_Homerun_destination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Ports_to_be_updated_to_No_Homerun_destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Num_Ports_to_be_updated_to_Ready_for_CC</name>
        <label>Num Ports to be updated to Ready for CC</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NumPortsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_origination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ports_to_be_updated_to_Ready_for_Cross_connect_found_orgination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Num_ports_to_be_updated_to_ready_for_CC_dest</name>
        <label>Num ports to be updated to ready for CC dest</label>
        <locationX>1194</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>NumPortsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_destination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>found_ports_to_be_update_to_ready_for_cross_connect_destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Num_Ports_to_update_them_to_Active_Cross_Connect_found</name>
        <label>Num Ports to update them to Active Cross Connect found</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>NumPortsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Origination_Ports_to_update_them_to_Active_Cross_Connect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Origination_Ports_to_be_Updated_to_Active_Cross_Connect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Update_port_status_to_Active_Cross_Connect.Port_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Cross Connect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_port_status_to_Active_Cross_Connect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Active_Cross_Connect_destination</name>
        <label>Update Status to Active Cross Connect destination</label>
        <locationX>138</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>Update_port_status_to_Active_Cross_connect_for_destination.Port_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Cross Connect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_port_status_to_Active_Cross_connect_for_destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_status_to_no_homerun</name>
        <label>update status to no homerun</label>
        <locationX>1854</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Loop_to_update_status_to_No_Homerun.Port_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Homerun</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_update_status_to_No_Homerun</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_status_to_no_homerun_destination</name>
        <label>Update status to no homerun destination</label>
        <locationX>1898</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>loop_to_update_status_to_no_homerun_destination.Port_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Homerun</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_update_status_to_no_homerun_destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_status_to_ready_for_cross_connect_destination</name>
        <label>update status to ready for cross connect destination</label>
        <locationX>1018</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>loop_ports_to_update_status_to_ready_for_cross_connect_destination.Port_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Cross Connect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ports_to_update_status_to_ready_for_cross_connect_destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_status_to_ready_for_cross_connect_origination</name>
        <label>Update status to ready for cross connect origination</label>
        <locationX>1062</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Loop_to_Update_status_to_ready_for_cross_connect_origination.Port_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Cross Connect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Update_status_to_ready_for_cross_connect_origination</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cross_Connect_Status</name>
        <label>Cross Connect Status?</label>
        <locationX>1458</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Xconnect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Origination_Ports_to_update_them_to_Active_Cross_Connect</targetReference>
            </connector>
            <label>Connected</label>
        </rules>
        <rules>
            <name>Disconnected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Xconnect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disconnected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fiber_Pair_for_Origination_Port</targetReference>
            </connector>
            <label>Disconnected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fiber_Pair_for_Destination_Port_Exist</name>
        <label>Fiber Pair for Destination Port Exist?</label>
        <locationX>1634</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Get_Ports_to_be_updated_to_No_Homerun_destination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Fiber_Pair_for_Destination_Port_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fiber_Pair_for_Destination_Port.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_destination</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fiber_Pair_for_Origination_Port_Exist</name>
        <label>Fiber Pair for Origination Port Exist?</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Ports_to_be_updated_to_No_Homerun_origination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Fiber_Pair_for_Origination_Port_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fiber_Pair_for_Origination_Port.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_origination</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Destination_Ports_to_be_Updated_to_Active_Cross_Connect</name>
        <label>Found Destination Ports to be Updated to Active Cross Connect</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Found_Destination_Ports_to_be_Updated_to_Active_Cross_Connect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumPortsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_port_status_to_Active_Cross_connect_for_destination</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Origination_Ports_to_be_Updated_to_Active_Cross_Connect</name>
        <label>Found Origination Ports to be Updated to Active Cross Connect ?</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Find_Destination_Ports_to_update_them_to_Active_Cross_Connect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Found_Origination_Ports_to_be_Updated_to_Active_Cross_Connect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumPortsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_port_status_to_Active_Cross_Connect</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_ports_to_be_update_to_ready_for_cross_connect_destination</name>
        <label>found ports to be update to ready for cross connect destination?</label>
        <locationX>1194</locationX>
        <locationY>2219</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_found_ports_to_be_update_to_ready_for_cross_connect_destination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumPortsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_ports_to_update_status_to_ready_for_cross_connect_destination</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Ports_to_be_updated_to_No_Homerun_destination</name>
        <label>Found Ports to be updated to No Homerun destination?</label>
        <locationX>2074</locationX>
        <locationY>2219</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Found_Ports_to_be_updated_to_No_Homerun_destination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumPortsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_to_update_status_to_no_homerun_destination</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ports_to_be_updated_to_No_Homerun_found</name>
        <label>Ports to be updated to No Homerun found?</label>
        <locationX>2030</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Fiber_Pair_for_Destination_Port</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Ports_to_be_updated_to_No_Homerun_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumPortsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_to_update_status_to_No_Homerun</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ports_to_be_updated_to_Ready_for_Cross_connect_found_orgination</name>
        <label>Ports to be updated to Ready for Cross connect found orgination?</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Fiber_Pair_for_Destination_Port</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Ports_to_be_updated_to_Ready_for_Cross_connect_found_orgination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumPortsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_to_Update_status_to_ready_for_cross_connect_origination</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DX Cross Connect - Automatic Port updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Cross Connect - Automatic Port updates</label>
    <loops>
        <name>loop_ports_to_update_status_to_ready_for_cross_connect_destination</name>
        <label>loop ports to update status to ready for cross connect destination</label>
        <locationX>930</locationX>
        <locationY>2327</locationY>
        <collectionReference>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_destination</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_status_to_ready_for_cross_connect_destination</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Destination_Port_Status_to_Ready_for_Cross_Connect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_update_status_to_No_Homerun</name>
        <label>Loop to update status to No Homerun</label>
        <locationX>1766</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Ports_to_be_updated_to_No_Homerun_origination</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_status_to_no_homerun</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Origination_Port_Status_to_No_Homerun</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_to_update_status_to_no_homerun_destination</name>
        <label>loop to update status to no homerun destination</label>
        <locationX>1810</locationX>
        <locationY>2327</locationY>
        <collectionReference>Get_Ports_to_be_updated_to_No_Homerun_destination</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_status_to_no_homerun_destination</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Destination_Port_Status_to_No_Homerun</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Update_status_to_ready_for_cross_connect_origination</name>
        <label>Loop to Update status to ready for cross connect origination</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_origination</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_status_to_ready_for_cross_connect_origination</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Origination_Port_Status_to_Ready_for_Cross_Connect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_port_status_to_Active_Cross_Connect</name>
        <label>Update port status to Active Cross Connect</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Find_Origination_Ports_to_update_them_to_Active_Cross_Connect</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Origination_Port_Status_to_Active_Cross_Connect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_port_status_to_Active_Cross_connect_for_destination</name>
        <label>Update port status to Active Cross connect for destination</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <collectionReference>Find_Destination_Ports_to_update_them_to_Active_Cross_Connect</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_to_Active_Cross_Connect_destination</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Destination_Port_Status_to_Active_Cross_Connect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Destination_Ports_to_update_them_to_Active_Cross_Connect</name>
        <label>Find Destination Ports to update them to Active Cross Connect</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Num_of_ports_to_Update_them_to_Active_Cross_Connect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Port__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Origination_Ports_to_update_them_to_Active_Cross_Connect</name>
        <label>Find Origination Ports to update them to Active Cross Connect</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Num_Ports_to_update_them_to_Active_Cross_Connect_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Port__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pair_for_Destination_Port</name>
        <label>Get Fiber Pair for Destination Port</label>
        <locationX>1634</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fiber_Pair_for_Destination_Port_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pair_for_Origination_Port</name>
        <label>Get Fiber Pair for Origination Port</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fiber_Pair_for_Origination_Port_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ports_to_be_updated_to_No_Homerun_destination</name>
        <label>Get Ports to be updated to No Homerun destination</label>
        <locationX>2074</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Num_Ports_to_be_updated_to_nohomerun_dest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Port__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ports_to_be_updated_to_No_Homerun_origination</name>
        <label>Get Ports to be updated to No Homerun origination</label>
        <locationX>2030</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Num_of_Ports_to_be_updated_to_No_Homerun_origination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Port__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_destination</name>
        <label>Get Ports to be updated to Ready for Cross Connect destination</label>
        <locationX>1194</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Num_ports_to_be_updated_to_ready_for_CC_dest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Port__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_origination</name>
        <label>Get Ports to be updated to Ready for Cross Connect origination</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Num_Ports_to_be_updated_to_Ready_for_CC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Port__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Destination_Port_Status_to_Active_Cross_Connect</name>
        <label>Update Destination Port Status to Active Cross Connect</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <faultConnector>
            <targetReference>Log_Error_Update_Status_to_Active_Cross_Connect_destination</targetReference>
        </faultConnector>
        <inputReference>Find_Destination_Ports_to_update_them_to_Active_Cross_Connect</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Destination_Port_Status_to_No_Homerun</name>
        <label>Update Destination Port Status to No Homerun</label>
        <locationX>1810</locationX>
        <locationY>2627</locationY>
        <faultConnector>
            <targetReference>Log_error_when_updating_destination_port_to_no_homerun</targetReference>
        </faultConnector>
        <inputReference>Get_Ports_to_be_updated_to_No_Homerun_destination</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Destination_Port_Status_to_Ready_for_Cross_Connect</name>
        <label>Update Destination Port Status to Ready for Cross Connect</label>
        <locationX>930</locationX>
        <locationY>2627</locationY>
        <faultConnector>
            <targetReference>Log_error_when_updating_port_status_to_ready_for_cross_connect_destination</targetReference>
        </faultConnector>
        <inputReference>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_destination</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Port_Status_to_Active_Cross_Connect</name>
        <label>Update Origination Port Status to Active Cross Connect</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Find_Destination_Ports_to_update_them_to_Active_Cross_Connect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_when_updating_port_status_to_active_cross_connect</targetReference>
        </faultConnector>
        <inputReference>Find_Origination_Ports_to_update_them_to_Active_Cross_Connect</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Port_Status_to_No_Homerun</name>
        <label>Update Origination Port Status to No Homerun</label>
        <locationX>1766</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Fiber_Pair_for_Destination_Port</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error_when_updating_status_to_no_homerun</targetReference>
        </faultConnector>
        <inputReference>Get_Ports_to_be_updated_to_No_Homerun_origination</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Port_Status_to_Ready_for_Cross_Connect</name>
        <label>Update Origination Port Status to Ready for Cross Connect</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Fiber_Pair_for_Destination_Port</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error_when_updating_origination_port_status_to_ready_for_cross_connect</targetReference>
        </faultConnector>
        <inputReference>Get_Ports_to_be_updated_to_Ready_for_Cross_Connect_origination</inputReference>
    </recordUpdates>
    <start>
        <locationX>1332</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cross_Connect_Status</targetReference>
        </connector>
        <object>DC_Cross_Connect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error_Update_Status_to_Active_Cross_Connect_destination</name>
        <label>Log Error Update Status to Active Cross Connect destination</label>
        <locationX>314</locationX>
        <locationY>2219</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Cross Connect - Automatic Port updates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Destination Port Status to Active Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC_Port__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_error_when_updating_destination_port_to_no_homerun</name>
        <label>Log error when updating destination port to no homerun</label>
        <locationX>2074</locationX>
        <locationY>2735</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Cross Connect - Automatic Port updates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Destination Port Status to No Homerun</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC_Port__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_error_when_updating_origination_port_status_to_ready_for_cross_connect</name>
        <label>Log error when updating origination port status to ready for cross connect</label>
        <locationX>1238</locationX>
        <locationY>1379</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Cross Connect - Automatic Port updates  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Origination Port Status to Ready for Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC_Port__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error_when_updating_port_status_to_active_cross_connect</name>
        <label>Log Error when updating port status to active cross connect</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Cross Connect - Automatic Port updates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Origination Port Status to Active Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC_Port__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_error_when_updating_port_status_to_ready_for_cross_connect_destination</name>
        <label>Log error when updating port status to ready for cross connect destination</label>
        <locationX>1194</locationX>
        <locationY>2735</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Cross Connect - Automatic Port updates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Destination Port Status to Ready for Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC_Port__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_error_when_updating_status_to_no_homerun</name>
        <label>Log error when updating status to no homerun</label>
        <locationX>2030</locationX>
        <locationY>1379</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Cross Connect - Automatic Port updates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Origination Port Status to No Homerun</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC_Port__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>NumPortsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
