force-app/main/default/flows/DX_Create_Fiber_Pair_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_iFiberPair_to_List</name>
        <label>Add iFiberPair to List</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>FiberPairList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iFiberPairRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reached_Fiber_Pairs_Connected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FiberPair_Commited</name>
        <label>Set FiberPair Commited</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Committed_Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicerOrderRecord.Service_Order_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Cabinet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CabinetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValueFiberPairName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Port__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_iFiberPair_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FiberPair_NotCommited</name>
        <label>Set FiberPair NotCommited</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Committed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Cabinet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CabinetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValueFiberPairName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Committed_Service_Order__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iFiberPairRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_iFiberPair_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Counter_is_Less_or_Equal_than_Fiber_Pairs_Commited</name>
        <label>Counter is Less or Equal than Fiber Pairs Commited?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_FiberPair_NotCommited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FiberPairsCommited</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FiberPair_Commited</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reached_Fiber_Pairs_Connected</name>
        <label>Reached Fiber Pairs Connected?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FiberPairsConnected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter_is_Less_or_Equal_than_Fiber_Pairs_Commited</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Automatic Creation of Fiber Pair Records + PR1031160-912 Leading Zeros Formula + Home Run Name</description>
    <environments>Default</environments>
    <formulas>
        <name>AutoNumberLeadingZerosFx</name>
        <dataType>String</dataType>
        <expression>IF( AND({!Counter}&gt;=1,{!Counter}&lt;=9) , &quot;00&quot;, IF( AND({!Counter}&gt;=10,{!Counter}&lt;=99) , &quot;0&quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>ValueFiberPairName</name>
        <dataType>String</dataType>
        <expression>{!Get_Home_Run.Name} + &apos;.&apos; + {!AutoNumberLeadingZerosFx} + TEXT({!Counter}) +&apos;/&apos; + {!AutoNumberLeadingZerosFx} +TEXT({!FiberPairsConnected})</expression>
    </formulas>
    <interviewLabel>DX Create Fiber Pair Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Create Fiber Pair Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Home_Run</name>
        <label>Get Home Run</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reached_Fiber_Pairs_Connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeRunId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Homerun__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Home_Run</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CabinetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FiberPairList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>FiberPairsCommited</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FiberPairsConnected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HomeRunId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iFiberPairRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>ServicerOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
