force-app/main/default/flows/DX_Create_Circuit_Breaker_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Cabinet_Validation_Assigment</name>
        <label>Cabinet Validation Assigment</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ShowCabinetValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Circuit_Breacker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Circuit_Breaker_Record_Assignment</name>
        <label>Circuit Breaker Record Assignment</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CircuitBreakerRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CircuitBreakerRecord.Cabinet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dx_PanelSelectorCabinets_lwc.cabinetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CircuitBreakerRecord.Associated_Space_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cabinet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CircuitBreakerRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cabinet_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Associated_Space_Type</name>
        <label>Associated Space Type</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Rack</defaultConnectorLabel>
        <rules>
            <name>Cabinet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CircuitBreakerRecord.Associated_Space_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabinet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Circuit_Breaker_Record_Assignment</targetReference>
            </connector>
            <label>Cabinet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cabinet_Selected</name>
        <label>Cabinet Selected?</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Cabinet_Validation_Assigment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CircuitBreakerRecord.Cabinet__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CabinetIsEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Circuit_Breaker_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Parameters</name>
        <label>Empty Paremeters?</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Assets_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuildingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Empty_Parameters</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>PR1031160-860 Update on LWC Component in Panel , Dc Circuit &amp; Circuit Breaker subflows</description>
    <dynamicChoiceSets>
        <name>AssetCollectionChoiceSet</name>
        <collectionReference>Get_Assets_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CabinetIsEmpty</name>
        <dataType>Boolean</dataType>
        <expression>  ISBLANK({!CircuitBreakerRecord.Cabinet__c})</expression>
    </formulas>
    <interviewLabel>DX Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Create Circuit Breaker Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Circuit_Breaker_Record</name>
        <label>Create Circuit Breaker Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Record_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Creation_Create_Circuit_Breaker_Record</targetReference>
        </faultConnector>
        <inputReference>CircuitBreakerRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assets_Records</name>
        <label>Get Assets Records</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Circuit_Breacker</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Created</name>
        <label>Get Record Created</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CircuitBreakerRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Circuit_Breaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Asset</name>
        <label>Update Related Asset</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <faultConnector>
            <targetReference>Error_Log_Creation_Update_Related_Asset</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <elementReference>Get_Record_Created.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>Get_Record_Created.Related_MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>Create_Circuit_Breacker</name>
        <label>Create Circuit Breacker</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Associated_Space_Type</targetReference>
        </connector>
        <fields>
            <name>dx_PanelSelectorCabinets_lwc</name>
            <extensionName>c:dx_PanelSelectorCabinets_lwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buildingID</name>
                <value>
                    <elementReference>BuildingID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datHallID</name>
                <value>
                    <elementReference>DataHallID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>floorID</name>
                <value>
                    <elementReference>FloorID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cageID</name>
                <value>
                    <elementReference>CageId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cabinetId</name>
                <value>
                    <elementReference>CabinetID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CircuitBreakerRecord.Associated_Space_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cabinet</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(179, 0, 0);&quot;&gt;To continue, please select a Cabinet&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowCabinetValidation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Circuit_Breacker_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Circuit_Breacker_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Associated_Space_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>RackErrorMsg</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(179, 0, 0); font-family: ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, system-ui, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;Please contact your system admin to create a Circuit Breaker associated with Rack.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CircuitBreakerRecord.Associated_Space_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rack</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Circuit_Breacker_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Asset</name>
                    <choiceReferences>AssetCollectionChoiceSet</choiceReferences>
                    <defaultValue>
                        <elementReference>AssetID</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Asset</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>CircuitBreakerRecord.Associated_Space_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Cabinet</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CircuitBreakerRecord.Associated_Space_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Circuit_Breacker_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Circuit_Breacker_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CircuitBreakerRecord.Name</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.PDU_Panel__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Committed_Power__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Meter_ID__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Circuit_Breacker_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Phase__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Voltage__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Amperage__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CircuitBreakerRecord.Associated_Space_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CircuitBreakerRecord.Associated_Space_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cabinet</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Empty_Parameters</name>
        <label>Error - Empty Parameters</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Empty_Parameters_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Empty_Parameters_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Empty_Parameters_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMesagge</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(180, 10, 10);&quot;&gt;To be able to execute this flow, you need to pass these parameters:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(180, 10, 10);&quot;&gt; BuildingID&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(180, 10, 10);&quot;&gt;AssetID&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Empty_Parameters_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Empty_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Log_Creation_Create_Circuit_Breaker_Record</name>
        <label>Error Log Creation - Create Circuit Breaker Record</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Create Circuit Breaker Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Circuit Breaker Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Circuit Breaker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Update_Related_Asset</name>
        <label>Error Log Creation - Update Related Asset</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Create Circuit Breaker Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Related Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Updates Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CabinetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CircuitBreakerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Circuit_Breaker__c</objectType>
    </variables>
    <variables>
        <name>DataHallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FloorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowCabinetValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
