force-app/main/default/flows/DX_Connect_Ports_Fiber_Pair_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Restar_Set_Values</name>
        <label>Restar Set Values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>wasPortSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WasPortEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstPortsSelected</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>lstPortsSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fiber_Pairs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Connect_Ports</name>
        <label>Set Connect Ports</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FiberPairList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dx_ConnectPorts.lstFiberPair</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restar_Set_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PortId_to_List</name>
        <label>Set PortId to List</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>lstPortsSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Fiber_Pairs.Port__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fiber_Pairs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_Empty</name>
        <label>Set Values Empty</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>WasPortEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fiber_Pairs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_Selected</name>
        <label>Set Values Selected</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>wasPortSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fiber_Pairs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Port_Selected_Before</name>
        <label>Is Port Selected Before?</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_PortId_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Is Not Selected</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstPortsSelected</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Fiber_Pairs.Port__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_Selected</targetReference>
            </connector>
            <label>Yes, It is Selected</label>
        </rules>
        <rules>
            <name>Is_Some_Port_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Fiber_Pairs.Port__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_Empty</targetReference>
            </connector>
            <label>Is Some Port Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Ports</name>
        <label>Validate Ports</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>They Are Correct</defaultConnectorLabel>
        <rules>
            <name>It_Was_Repeated_OR_Empty_Port</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Yes_It_is_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Some_Port_Empty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Connect_Ports</targetReference>
            </connector>
            <label>It Was Repeated OR Empty Port</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DX Connect Ports (Fiber Pair Allocation) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Connect Ports (Fiber Pair Allocation)</label>
    <loops>
        <name>Loop_Fiber_Pairs</name>
        <label>Loop Fiber Pairs</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>FiberPairList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Port_Selected_Before</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Ports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Connect_Ports</name>
        <label>Connect Ports</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Connect_Ports</targetReference>
        </connector>
        <fields>
            <name>ConnectPorts_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; font-size: 16px; background-color: rgb(34, 37, 41);&quot;&gt;Connect Ports (Fiber Pair Allocation)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorIsEmptyPort</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 0, 0); background-color: rgba(9, 30, 66, 0.06); font-size: 12px;&quot;&gt; Cannot progress without allocating each Fiber Pairs to a specific Port&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WasPortEmpty</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorPortRepeated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 83, 83);&quot;&gt;Select Different Ports for All Fiber Pair&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>wasPortSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dx_ConnectPorts</name>
            <extensionName>c:dx_ConnectPorts_lwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstFiberPair</name>
                <value>
                    <elementReference>FiberPairList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>panelId</name>
                <value>
                    <elementReference>PanelId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Connect_Ports</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FiberPairList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>lstPortsSelected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PanelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WasPortEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>wasPortSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
