force-app/main/default/flows/DX_Create_Circuit_Breaker_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Circuit_Breaker_Record_Assignment</name>
        <label>Circuit Breaker Record Assignment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CircuitBreakerRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CircuitBreakerRecord.Cabinet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dx_PanelSelectorCabinets_lwc.cabinetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CircuitBreakerRecord.Associated_Space_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cabinet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CircuitBreakerRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Circuit_Breaker_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Empty_Parameters</name>
        <label>Empty Paremeters?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Create_Circuit_Breacker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuildingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Empty_Parameters</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DX Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Create Circuit Breaker Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Circuit_Breaker_Record</name>
        <label>Create Circuit Breaker Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Record_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Creation_Create_Circuit_Breaker_Record</targetReference>
        </faultConnector>
        <inputReference>CircuitBreakerRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Created</name>
        <label>Get Record Created</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CircuitBreakerRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Circuit_Breaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Asset</name>
        <label>Update Related Asset</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>Error_Log_Creation_Update_Related_Asset</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <elementReference>Get_Record_Created.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>Get_Record_Created.Related_MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>Create_Circuit_Breacker</name>
        <label>Create Circuit Breacker</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Circuit_Breaker_Record_Assignment</targetReference>
        </connector>
        <fields>
            <name>dx_PanelSelectorCabinets_lwc</name>
            <extensionName>c:dx_PanelSelectorCabinets_lwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buildingID</name>
                <value>
                    <elementReference>BuildingID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_Circuit_Breacker_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Circuit_Breacker_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.PDU_Panel__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Committed_Power__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Meter_ID__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Circuit_Breacker_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Phase__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Voltage__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CircuitBreakerRecord.Amperage__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Empty_Parameters</name>
        <label>Error - Empty Parameters</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Empty_Parameters_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Empty_Parameters_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Empty_Parameters_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMesagge</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(180, 10, 10);&quot;&gt;To be able to execute this flow, you need to pass these parameters:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(180, 10, 10);&quot;&gt; BuildingID&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(180, 10, 10);&quot;&gt;AssetID&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Empty_Parameters_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Empty_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Log_Creation_Create_Circuit_Breaker_Record</name>
        <label>Error Log Creation - Create Circuit Breaker Record</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Create Circuit Breaker Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Circuit Breaker Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Circuit Breaker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Update_Related_Asset</name>
        <label>Error Log Creation - Update Related Asset</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Create Circuit Breaker Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Related Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Updates Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CircuitBreakerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Circuit_Breaker__c</objectType>
    </variables>
    <variables>
        <name>DataHallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FloorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
