force-app/main/default/flows/DX_Cross_Connect_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Building_Info_Found</name>
        <label>Building Info Found?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Building_Info_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BuildingInfoFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Building_Name_Related_to_Service_Request_Site</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuildingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cross_Connect_Record_Creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_parameters_passed</name>
        <label>Required parameters passed?</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Required_Parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Record_Type</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BuildingCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_Name_Related_to_Service_Request_Site.Building__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_Name_Related_to_Service_Request_Site.Building__c</elementReference>
            </value>
        </filters>
        <object>Building__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConnectionCaseCS</name>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Request_Info.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DestinationAccountCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer_Record_Type.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DestinationPortCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_Port__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DisconnectCaseCS</name>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Request_Info.AccountId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MediaTypeCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Media_Type__c</picklistField>
        <picklistObject>DC_Cross_Connect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OriginationAccountCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Request_Info.DX_Account_Name_Order_Initiator__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OriginPortCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_Port__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Xconnect_Status__c</picklistField>
        <picklistObject>DC_Cross_Connect__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>DX Cross Connect Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Cross Connect Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cross_Connect</name>
        <label>Create Cross Connect</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Building__c</field>
            <value>
                <elementReference>Buiilding.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_Ref__c</field>
            <value>
                <elementReference>Legacy_Cherwell_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Case__c</field>
            <value>
                <elementReference>Connection_Case.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Account__c</field>
            <value>
                <elementReference>Destination_Account.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Port__c</field>
            <value>
                <elementReference>Destination_Port_lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disconnect_Case__c</field>
            <value>
                <elementReference>Disconnect_Case.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Type__c</field>
            <value>
                <elementReference>Media_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origination_Account__c</field>
            <value>
                <elementReference>Origination_Account.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origination_Port__c</field>
            <value>
                <elementReference>Origination_Port_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XC_Disconnect_Date__c</field>
            <value>
                <elementReference>Disconnect_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xconnect_Status__c</field>
            <value>
                <elementReference>CC_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xconnect_date__c</field>
            <value>
                <elementReference>Connection_Date</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Cross_Connect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Building_Info</name>
        <label>Get Building Info</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Building_Info_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_Name_Related_to_Service_Request_Site.Building__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_Name_Related_to_Service_Request_Site.Building__c</elementReference>
            </value>
        </filters>
        <object>Building__c</object>
        <outputAssignments>
            <assignToReference>BuildingID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Building_Name_Related_to_Service_Request_Site</name>
        <label>Get Building Name Related to Service Request Site</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Building_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Request_Info.DX_Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DX_Site_Building_Relationship__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Record_Type</name>
        <label>Get Customer Record Type</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Request_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Request_Info</name>
        <label>Get Service Request Info</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Building_Name_Related_to_Service_Request_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Building_Info_Not_Found</name>
        <label>Building Info Not Found</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BuilldingInfoNotFound</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 53, 53);&quot;&gt;Building Info was not found. Please verify that Service Request&apos;s Site has a valid value for an existing Building Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cross_Connect_Record_Creation</name>
        <label>Cross Connect Record Creation</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Cross_Connect</targetReference>
        </connector>
        <fields>
            <name>Cross_Connect_Record_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cross_Connect_Record_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buiilding</name>
                    <choiceReferences>BuildingCS</choiceReferences>
                    <defaultValue>
                        <elementReference>BuildingID</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Building</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Origination_Account</name>
                    <choiceReferences>OriginationAccountCS</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_Service_Request_Info.DX_Account_Name_Order_Initiator__r.Id</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Origination Account</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Legacy_Cherwell_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Legacy Cherwell ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Disconnect_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Disconnect Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Connection_Case</name>
                    <choiceReferences>ConnectionCaseCS</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_Service_Request_Info.Id</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Connection Case</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Origination_Port_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Origination_Port__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Origination Port</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>DC_Cross_Connect__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cross_Connect_Record_Creation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CC_Status</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Connected</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Destination_Account</name>
                    <choiceReferences>DestinationAccountCS</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Destination Account</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Media_Type</name>
                    <choiceReferences>MediaTypeCS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Media Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Connection_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Connection Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Disconnect_Case</name>
                    <choiceReferences>DisconnectCaseCS</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Disconnect Case</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Destination_Port_lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Destination_Port__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Destination Port</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>DC_Cross_Connect__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Port_Information_from_Service_Request</name>
            <fieldText>Port Information from Service Request</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Port_Information_from_Service_Request_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_Order_Initiator_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Service_Request_Info.DX_Account_Name_Order_Initiator__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>A (Order Initiator) - Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>A_Order_Initiator_Rack_RU_MMR_Panel_Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Service_Request_Info.DX_Rack_RU_Order_Initiator__c</elementReference>
                    </defaultValue>
                    <fieldText>A (Order Initiator) Rack RU (MMR Panel Location)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>A_Order_Initiator_Ports</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Service_Request_Info.DX_Ports_Order_Initiator__c</elementReference>
                    </defaultValue>
                    <fieldText>A (Order Initiator) - Ports</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Port_Information_from_Service_Request_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Z_LOA_Info_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Service_Request_Info.DX_Account_Name_ZLOA__c</elementReference>
                    </defaultValue>
                    <fieldText>Z(LOA Info) - Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Z_LOA_Info_Rack_RU_MMR_Panel_Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Service_Request_Info.DX_Rack_RU_ZLOA__c</elementReference>
                    </defaultValue>
                    <fieldText>Z(LOA Info) Rack RU (MMR Panel Location)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Z_LOA_Info_Ports</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Service_Request_Info.DX_Ports_ZLOA__c</elementReference>
                    </defaultValue>
                    <fieldText>Z (LOA Info) - Ports</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Required_Parameters</name>
        <label>Required Parameters</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RequiredParameters</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 53, 53); background-color: rgb(255, 255, 255);&quot;&gt;To be able to execute this flow, you need to pass these parameters: ServiceRequestID&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Required_parameters_passed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Cross Connect Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC_Cross_Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BuildingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
