force-app/main/default/flows/DX_Create_MRI_ID_POE_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>MRISuiteID</name>
        <dataType>String</dataType>
        <expression>&quot;P&quot; &amp;
IF(
LEN({!$Record.Floor__r.Building__r.Building_Address_No__c}) &gt; 4,
LEFT({!$Record.Floor__r.Building__r.Building_Address_No__c}, 4),
IF(
LEN({!$Record.Floor__r.Building__r.Building_Address_No__c}) &lt; 4,
LPAD({!$Record.Floor__r.Building__r.Building_Address_No__c}, 4, &quot;0&quot;),
{!$Record.Floor__r.Building__r.Building_Address_No__c}
)
) &amp;
RIGHT({!$Record.Id}, 5)</expression>
    </formulas>
    <interviewLabel>DX Create MRI ID - POE Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Create MRI ID - POE Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_MRI_Suite_ID</name>
        <label>Update MRI Suite ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <faultConnector>
            <targetReference>Error_Log_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>MRISuiteID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_MRI_Suite_ID</targetReference>
        </connector>
        <object>DC_POE_Allocation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Log_Creation</name>
        <label>Error Log Creation</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Create MRI ID - POE Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update MRI Suite ID</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>POE Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
