force-app/main/default/flows/DX_Create_Port_Records_from_Panel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Port_Record_to_List</name>
        <label>Add Port Record to List</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ListOfPortsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iPort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Port_Records_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Port_Record_to_List1</name>
        <label>Add Port Record to List</label>
        <locationX>50</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>ListOfPortsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iPort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Port_Records_to_Create_per_Mod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alphabet_Collection</name>
        <label>Alphabet Collection</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>F</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>G</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>H</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>J</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>K</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>L</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>M</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>O</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Q</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>U</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabet</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Z</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mod_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Mod</name>
        <label>Current Mod</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CurrentMod</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alphabet_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Index_Assigment</name>
        <label>Index Assigment</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CurrentIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Index_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Letter_Assigment</name>
        <label>Letter Assigment</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssignedLetter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alphabet_Iteration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Port_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Port_Records_to_Create_If_No</name>
        <label>Number of Port Records to Create If No</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPorts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfPorts_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Port_Record_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Port_Records_to_Create_If_Yes</name>
        <label>Number of Port Records to Create If Yes</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPorts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfPorts_Yes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alphabet_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Port_Values_Assigment</name>
        <label>Port Values Assigment</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>iPort.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iPort.Panel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PanelID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iPort.Short_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PortShortName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iPort.Port_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Homerun</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Port_Record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Port_Values_Assigment1</name>
        <label>Port Values Assigment</label>
        <locationX>50</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>iPort.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iPort.Panel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PanelID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iPort.Short_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!AssignedLetter}.{!PortShortName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iPort.Port_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Homerun</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Port_Record_to_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Port_Records_to_Create_per_Mod</name>
        <label>Reset Port Records to Create per Mod</label>
        <locationX>314</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPorts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfPorts_Yes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Number_of_Mods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Number_of_Mods</name>
        <label>Update Number of Mods</label>
        <locationX>314</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMods</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Mod_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Port_Records_to_Create</name>
        <label>Update Port Records to Create</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPorts</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Port_Record_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Port_Records_to_Create_per_Mod</name>
        <label>Update Port Records to Create per Mod</label>
        <locationX>50</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPorts</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Port_Iteration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Index_Check</name>
        <label>Index Check</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Alphabet_Iteration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Index_Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentMod</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Letter_Assigment</targetReference>
            </connector>
            <label>Index Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mod_Iteration</name>
        <label>Mod Iteration</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Ports_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_Mods_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfMods</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Mod</targetReference>
            </connector>
            <label>Number of Mods &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mod_Panel</name>
        <label>Mod Panel?</label>
        <locationX>633</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Number_of_Port_Records_to_Create_If_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isModModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Port_Records_to_Create_If_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Port_Iteration</name>
        <label>Port Iteration</label>
        <locationX>182</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Reset_Port_Records_to_Create_per_Mod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_Ports_0</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfPorts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPorts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NewPortsStarPosition</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPortsIsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPortsIsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Port_Values_Assigment1</targetReference>
            </connector>
            <label>Number of Ports &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Port_Record_Iteration</name>
        <label>Port Record Iteration</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Ports_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfPorts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPorts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NewPortsStarPosition</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPortsIsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPortsIsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Port_Values_Assigment</targetReference>
            </connector>
            <label>Number of Records &gt; 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PortShortName</name>
        <dataType>String</dataType>
        <expression>TEXT({!NumberOfPorts} - 1)  + &quot;/&quot; + TEXT({!NumberOfPorts})</expression>
    </formulas>
    <interviewLabel>DX Create Port Records from Panel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Create Port Records from Panel</label>
    <loops>
        <name>Alphabet_Iteration</name>
        <label>Alphabet Iteration</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>Alphabet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Index_Assigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Port_Iteration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Ports_Records</name>
        <label>Create Ports Records</label>
        <locationX>633</locationX>
        <locationY>2090</locationY>
        <faultConnector>
            <targetReference>Error_Log_Creation_Create_Port_Records</targetReference>
        </faultConnector>
        <inputReference>ListOfPortsToCreate</inputReference>
    </recordCreates>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mod_Panel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Log_Creation_Create_Port_Records</name>
        <label>Error Log Creation - Create Port Records</label>
        <locationX>1194</locationX>
        <locationY>2198</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>Create Port Records from Panel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Port Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Port</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Alphabet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignedLetter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentMod</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>iPort</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Port__c</objectType>
    </variables>
    <variables>
        <name>isModModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfPortsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Port__c</objectType>
    </variables>
    <variables>
        <name>NewPortsStarPosition</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfMods</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfPorts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfPorts_No</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfPorts_Yes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfPortsIsUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PanelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RightNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
