force-app/main/default/flows/DX_Copy_Asset_Values_from_SOLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Allocated_False</name>
        <label>Allocated=False</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>iAsset.DX_Allocated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N1_Decision_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Allocated_True</name>
        <label>Allocated=True</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>iAsset.DX_Allocated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N1_Decision_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values</name>
        <label>Assign Asset Values</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>iAsset.Service_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOLineItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOLineItem.Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOLineItem.Quote.Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOLineItem.Quote.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Licensed and Installing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOLineItem.DC_Asset_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Allocation_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOLineItem.DC_Allocation_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.BuildingFomrula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOLineItem.Quote.Building__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.DX_Service_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRequestID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iAsset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOLineItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N1_of_Allocated_True</name>
        <label>Power Validation = False</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>iAsset.Power_Model_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>N1_Power_Validation_False</name>
        <label>Power Validation = True</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>iAsset.Power_Model_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Allocated</name>
        <label>Allocated?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Allocated_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOLineItem.DC_Allocation_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allocated_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>N1_Decision_2</name>
        <label>Power Validation Required?</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>N1_Power_Validation_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SOLineItem.Product2.Power_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SOLineItem.Product2.Power_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N1_of_Allocated_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssetNameFormula</name>
        <dataType>String</dataType>
        <expression>{!SOLineItem.Quote.Name} + &quot; &quot; + {!SOLineItem.DC_Asset_Type__c}</expression>
    </formulas>
    <interviewLabel>DX Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Copy Asset Values from SOLineItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Asset_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>iAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ServiceRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
