force-app/main/default/flows/DX_Delete_DC_Circuit_Power_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SumOfCommittedPower</name>
        <label>SumOfCommittedPower</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <actionName>CollectionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SumOfConnectedPower1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>DC_DC_Circuit__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Committed_Power__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>DCCircuitsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CollectionCalculate</nameSegment>
        <outputParameters>
            <assignToReference>SumOfCommitedPower</assignToReference>
            <name>outputDecimalResult</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SumOfConnectedPower1</name>
        <label>SumOfConnectedPower</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <actionName>CollectionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Power_Values_Assigment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>DC_DC_Circuit__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Connected_Power__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>DCCircuitsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CollectionCalculate</nameSegment>
        <outputParameters>
            <assignToReference>SumOfConnectedPower</assignToReference>
            <name>outputDecimalResult</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_DCCircuit_Count</name>
        <label>Assign DCCircuit Count</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>DCCircuitsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DCCircuitsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCCircuitCount_Greater_than_zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Power_Values_Assigment</name>
        <label>Power Values Assigment</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>CommitedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCommitedPowerValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConnectedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewConnectedPowerValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cabinet_or_Rack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Power_Values_Assigment_to_0</name>
        <label>Power Values Assigment to 0</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>DCCircuitsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommitedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConnectedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cabinet_or_Rack</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cabinet_or_Rack</name>
        <label>Cabinet or Rack?</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Update_Rack_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rack</defaultConnectorLabel>
        <rules>
            <name>Cabinet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Associated_Space_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabinet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cabinet_Values</targetReference>
            </connector>
            <label>Cabinet</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCCircuitCount_Greater_than_zero</name>
        <label>DCCircuitCount Greater than zero?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Power_Values_Assigment_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DCCircuitsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SumOfCommittedPower</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewCommitedPowerValue</name>
        <dataType>Number</dataType>
        <expression>ROUND({!SumOfCommitedPower}/{!DCCircuitsCount},2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewConnectedPowerValue</name>
        <dataType>Number</dataType>
        <expression>ROUND({!SumOfConnectedPower}/{!DCCircuitsCount},2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>DX Delete DC Circuit Power Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Delete DC Circuit Power Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DC_Circuits_List</name>
        <label>Get DC Circuits List</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DCCircuit_Count</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 5) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Space_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cabinet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rack__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Space_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rack</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>DC_DC_Circuit__c</object>
        <outputReference>DCCircuitsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Committed_Power__c</queriedFields>
        <queriedFields>Connected_Power__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cabinet_Values</name>
        <label>Update Cabinet Values</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Committed_Power__c</field>
            <value>
                <elementReference>CommitedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Power__c</field>
            <value>
                <elementReference>ConnectedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redundancy_Factor__c</field>
            <value>
                <elementReference>DCCircuitsCount</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Cabinet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rack_Values</name>
        <label>Update Rack Values</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rack__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Committed_Power__c</field>
            <value>
                <elementReference>CommitedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Power__c</field>
            <value>
                <elementReference>ConnectedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redundancy_Factor__c</field>
            <value>
                <elementReference>DCCircuitsCount</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Rack__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DC_Circuits_List</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Associated_Space_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cabinet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rack__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Associated_Space_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rack</stringValue>
            </value>
        </filters>
        <object>DC_DC_Circuit__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CommitedPowerValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ConnectedPowerValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DCCircuitsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DCCircuitsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_DC_Circuit__c</objectType>
    </variables>
    <variables>
        <name>SumOfCommitedPower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumOfConnectedPower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
