force-app/main/default/flows/DX_Delete_Circuit_Breakers_Power_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SumOfCommittedPowerOnCabinet</name>
        <label>SumOfCommittedPowerOnCabinet</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <actionName>CollectionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SumOfConnectedPowerOnCabinet</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>DC_Circuit_Breaker__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Committed_Power__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>CircuitBreakersForCabinetList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CollectionCalculate</nameSegment>
        <outputParameters>
            <assignToReference>SumOfCommitedPower</assignToReference>
            <name>outputDecimalResult</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SumOfConnectedPowerOnCabinet</name>
        <label>SumOfConnectedPowerOnCabinet</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <actionName>CollectionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Power_Values_Assigment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>DC_Circuit_Breaker__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Connected_Power__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>CircuitBreakersForCabinetList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CollectionCalculate</nameSegment>
        <outputParameters>
            <assignToReference>SumOfConnectedPower</assignToReference>
            <name>outputDecimalResult</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_CircuitBreaker_Count</name>
        <label>Assign CircuitBreaker Count</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>CircuitBreakerForCabinetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CircuitBreakersForCabinetList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCCircuiBreakertCount_Greater_than_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Power_Values_Assigment</name>
        <label>Power Values Assigment</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>CommitedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCommitedPowerValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConnectedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewConnectedPowerValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cabinet_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Power_Values_Assigment_to_0</name>
        <label>Power Values Assigment to 0</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>CommitedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConnectedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cabinet_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DCCircuiBreakertCount_Greater_than_Zero</name>
        <label>CircuiBreakertCount Greater than Zero?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Power_Values_Assigment_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CircuitBreakerForCabinetCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SumOfCommittedPowerOnCabinet</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewCommitedPowerValue</name>
        <dataType>Number</dataType>
        <expression>{!SumOfCommitedPower}/{!CircuitBreakerForCabinetCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewConnectedPowerValue</name>
        <dataType>Number</dataType>
        <expression>{!SumOfConnectedPower}/{!CircuitBreakerForCabinetCount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>DX Delete Circuit Breakers Power Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Delete Circuit Breakers Power Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Circuit_Breakers_for_Cabinet</name>
        <label>Get Circuit Breakers for Cabinet</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CircuitBreaker_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>DC_Circuit_Breaker__c</object>
        <outputReference>CircuitBreakersForCabinetList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Committed_Power__c</queriedFields>
        <queriedFields>Connected_Power__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cabinet_Values</name>
        <label>Update Cabinet Values</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Committed_Power__c</field>
            <value>
                <elementReference>CommitedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Power__c</field>
            <value>
                <elementReference>ConnectedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redundancy_Factor__c</field>
            <value>
                <elementReference>CircuitBreakerForCabinetCount</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Cabinet__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Circuit_Breakers_for_Cabinet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DC_Circuit_Breaker__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CircuitBreakerForCabinetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CircuitBreakersForCabinetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Circuit_Breaker__c</objectType>
    </variables>
    <variables>
        <name>CommitedPowerValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ConnectedPowerValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumOfCommitedPower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumOfConnectedPower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
