force-app/main/default/flows/DX_Delete_DC_Circuit_Power_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Commited_Power</name>
        <label>Add Commited Power</label>
        <locationX>138</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>SumOfCommitedPower</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_calculate_sum_of_commited_power.Committed_Power__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>connected_power_with_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Connected_Power</name>
        <label>Add Connected Power</label>
        <locationX>138</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>SumOfConnectedPower</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_calculate_sum_of_commited_power.Connected_Power__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_calculate_sum_of_commited_power</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DCCircuit_Count</name>
        <label>Assign DCCircuit Count</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>DCCircuitsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DCCircuitsForCabinetList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCCircuitCount_Greater_than_zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Power_Values_Assigment</name>
        <label>Power Values Assigment</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>CommitedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCommitedPowerValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConnectedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewConnectedPowerValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cabinet_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Power_Values_Assigment_to_0</name>
        <label>Power Values Assigment to 0</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>DCCircuitsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommitedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConnectedPowerValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cabinet_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>commited_power_with_value</name>
        <label>commited power with value?</label>
        <locationX>270</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>connected_power_with_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_value_CommitedPower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_calculate_sum_of_commited_power.Committed_Power__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Commited_Power</targetReference>
            </connector>
            <label>has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>connected_power_with_value</name>
        <label>connected power with value?</label>
        <locationX>270</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Loop_to_calculate_sum_of_commited_power</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Value_ConnectedPower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_calculate_sum_of_commited_power.Connected_Power__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Connected_Power</targetReference>
            </connector>
            <label>has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCCircuitCount_Greater_than_zero</name>
        <label>DCCircuitCount Greater than zero?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Power_Values_Assigment_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DCCircuitsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_to_calculate_sum_of_commited_power</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewCommitedPowerValue</name>
        <dataType>Number</dataType>
        <expression>ROUND({!SumOfCommitedPower}/{!DCCircuitsCount},2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewConnectedPowerValue</name>
        <dataType>Number</dataType>
        <expression>ROUND({!SumOfConnectedPower}/{!DCCircuitsCount},2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>DX Delete DC Circuit Power Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Delete DC Circuit Power Flow</label>
    <loops>
        <name>Loop_to_calculate_sum_of_commited_power</name>
        <label>Loop to calculate sum of commited power</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <collectionReference>DCCircuitsForCabinetList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>commited_power_with_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Power_Values_Assigment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DC_Circuits_for_Cabinet</name>
        <label>Get DC Circuits for Cabinet</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DCCircuit_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>DC_DC_Circuit__c</object>
        <outputReference>DCCircuitsForCabinetList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Committed_Power__c</queriedFields>
        <queriedFields>Connected_Power__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cabinet_Values</name>
        <label>Update Cabinet Values</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Committed_Power__c</field>
            <value>
                <elementReference>CommitedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Power__c</field>
            <value>
                <elementReference>ConnectedPowerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redundancy_Factor__c</field>
            <value>
                <elementReference>DCCircuitsCount</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Cabinet__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DC_Circuits_for_Cabinet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DC_DC_Circuit__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CommitedPowerValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ConnectedPowerValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DCCircuitsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DCCircuitsForCabinetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_DC_Circuit__c</objectType>
    </variables>
    <variables>
        <name>SumOfCommitedPower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumOfConnectedPower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
