force-app/main/default/flows/DX_Home_Run_and_Fiber_Pair_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Cabinets_by_Building_and_Account</name>
        <label>Get Cabinets by Building and Account</label>
        <locationX>649</locationX>
        <locationY>134</locationY>
        <actionName>DX_DCIM_ActionHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Cabinets</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buildingId</name>
            <value>
                <elementReference>Building_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>getCabinetsByBuildingAndAccount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DX_DCIM_ActionHelper</nameSegment>
        <outputParameters>
            <assignToReference>CabinetList</assignToReference>
            <name>cabinetsByBuildingAndAccountList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Conter_In_Loop_Fiber</name>
        <label>Conter In Loop Fiber</label>
        <locationX>633</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>CounterFiber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Create_Fiber_Pair</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Less_or_Equal_Connected_with_Committed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_New_Port_Changed</name>
        <label>Copy 1 of Set New Port Changed</label>
        <locationX>1491</locationX>
        <locationY>4994</locationY>
        <assignmentItems>
            <assignToReference>DataTableFiberPair.firstSelectedRow.Port__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Port.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Fiber_Pair</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Fields</name>
        <label>Set Asset Fields</label>
        <locationX>413</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>objNewAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetNameFiberHomeRunfrom_SO_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjHomeRun.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fiber Pair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Allocation_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.DX_Allocated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Licensed and Installing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.DX_Service_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Order_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Service_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Info_From_Parameter.Service_Order_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Info_From_Parameter.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cabinets_Id</name>
        <label>Set Cabinets Id</label>
        <locationX>1337</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>SetCabinetId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cabinets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cabinets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cage_Id</name>
        <label>Set Cage Id</label>
        <locationX>737</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>lstCagesId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cages.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter_Fiber_Pair_Commited</name>
        <label>Set Counter Fiber Pair Commited</label>
        <locationX>1711</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>CounterCommittedFiberPair</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Update_Fiber_Pair_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter_Fiber_Pair_Not_Commited</name>
        <label>Set Counter Fiber Pair Not Commited</label>
        <locationX>2107</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>CounterNotCommittedFiberPair</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Less_Than_Number_of_Fiber_Pair_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_Hall_Id</name>
        <label>Set Data Hall Id</label>
        <locationX>737</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>lstDataHallsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Data_Hall.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Data_Hall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fiber_Pair_Records_Counter</name>
        <label>Set Fiber Pair Records Counter</label>
        <locationX>413</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>NumberOfFiberPairsConnected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObjHomeRun.Fiber_Pairs_Connected__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Create_Fiber_Pair</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fiber_Pair_values</name>
        <label>Set Fiber Pair values</label>
        <locationX>1975</locationX>
        <locationY>3578</locationY>
        <assignmentItems>
            <assignToReference>Loop_For_Update_Fiber_Pair_Records.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_For_Update_Fiber_Pair_Records.Committed_Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Order_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_For_Update_Fiber_Pair_Records.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_For_Update_Fiber_Pair_Records.Cabinet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cabinet.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOfFiberPairForUpdateCommitted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_For_Update_Fiber_Pair_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Update_Fiber_Pair_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fiber_Pairs</name>
        <label>Set Fiber Pairs</label>
        <locationX>1337</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>SetHomeRunId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Fiber_Pairs.Home_Run__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fiber_Pairs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Floor_Id</name>
        <label>Set Floor Id</label>
        <locationX>737</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>lstFloorsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Floors.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Floors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Home_Run_New_Fields</name>
        <label>Set Home Run New Fields</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>ObjHomeRun.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjHomeRun.Connected_Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Connected_Service_Order.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Home_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Home_Run_Selected</name>
        <label>Set Home Run Selected</label>
        <locationX>1249</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>HomeRunIdSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DatatableHomeRun.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fiber_Pairs_by_Home_Run_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Port_Changed</name>
        <label>Set New Port Changed</label>
        <locationX>215</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>DataTableFiberPair.firstSelectedRow.Port__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Port.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fiber_Pair</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Of_Id_of_Asset_With_ParentId</name>
        <label>Set Of Id of Asset With ParentId</label>
        <locationX>501</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>SetOfAssetWithParentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Asset_With_ParentId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Asset_With_ParentId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Of_Id_of_Asset_With_ParentId_For_Existing_Home_Run</name>
        <label>Set Of Id of Asset With ParentId For Existing Home Run</label>
        <locationX>1711</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>SetOfAssetWithParentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Asset_With_ParentId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Asset_With_ParentId_For_Existing_Home_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validate_Port_Value</name>
        <label>Set Validate Port Value</label>
        <locationX>479</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>IsMissingPortValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Validate_Port_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_Asset_Created</name>
        <label>Set values Asset Created</label>
        <locationX>347</locationX>
        <locationY>5234</locationY>
        <assignmentItems>
            <assignToReference>objNewAsset.DX_Allocated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.MRI_Suite_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Fiber_Pair_Record.Related_MRI_Suite_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset_Created</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Existing_Home_Run</name>
        <choiceText>Existing Home Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Home_Run</name>
        <choiceText>New Home Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_Is_Different_PortId</name>
        <label>Copy 1 of Is Different PortId?</label>
        <locationX>1623</locationX>
        <locationY>4886</locationY>
        <defaultConnectorLabel>No, its the same</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTableFiberPair.firstSelectedRow.Port__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Change_Port.selectedChoiceValues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_New_Port_Changed</targetReference>
            </connector>
            <label>Copy 1 of Yes, it is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Port_Field_Has_A_Value</name>
        <label>Copy 1 of Port Field Has A Value?</label>
        <locationX>1667</locationX>
        <locationY>5426</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Loop_For_Validate_Port_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It Has Not Value</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_It_Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_For_Validate_Port_Value.Port__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_For_Validate_Port_Value</targetReference>
            </connector>
            <label>Copy 1 of Yes, It Has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Commited_Fiber_Pair</name>
        <label>Is Commited Fiber Pair?</label>
        <locationX>1909</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>Set_Counter_Fiber_Pair_Not_Commited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It Is Not</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Is_Committed_Fiber_Pair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_For_Update_Fiber_Pair_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Counter_Fiber_Pair_Commited</targetReference>
            </connector>
            <label>Yes, It Is Committed Fiber Pair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Different_PortId</name>
        <label>Is Different PortId?</label>
        <locationX>413</locationX>
        <locationY>4094</locationY>
        <defaultConnectorLabel>No, its the same</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTableFiberPair.firstSelectedRow.Port__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Change_Port.selectedChoiceValues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Port_Changed</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Less_or_Equal_Connected_with_Committed</name>
        <label>Is Less or Equal Connected with Committed</label>
        <locationX>633</locationX>
        <locationY>2978</locationY>
        <defaultConnector>
            <targetReference>Create_Fiber_Pair_Not_Commited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No is not Less or Equal</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Less_or_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjHomeRun.Fiber_Pairs_Connected__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ObjHomeRun.Fiber_Pairs_Committed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fiber_Pair_Commited</targetReference>
            </connector>
            <label>Yes, it is Less or Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Less_Than_Number_of_Fiber_Pair_Number</name>
        <label>Is Less Than Number of Fiber Pair Number</label>
        <locationX>2107</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>Loop_For_Update_Fiber_Pair_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Is Not Less Fiber Pair</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is_Less_Fiber_Pair_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterNotCommittedFiberPair</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberFiberPairs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fiber_Pair_values</targetReference>
            </connector>
            <label>Yes, It is Less Fiber Pair Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Not_Commited_Fiber_Pair_Child</name>
        <label>Is Not Commited Fiber Pair Child?</label>
        <locationX>1249</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Update_Asset_from_Param_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Is Not Committed</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Is_Committed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fiber_Pairs_by_Home_Run_Selected.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Select_Again_Home_Run</targetReference>
            </connector>
            <label>Yes, It Is Committed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Asset</name>
        <label>Is There Asset</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_Info_From_Parameter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Is Not There Asset</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Is_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, There Is Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsMissingPortsValues</name>
        <label>IsMissingPortsValues?</label>
        <locationX>215</locationX>
        <locationY>5018</locationY>
        <defaultConnector>
            <targetReference>Get_First_Fiber_Pair_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Is Not Missing</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Missing_Ports_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMissingPortValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Is Missing Ports Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Port_Field_Has_A_Value</name>
        <label>Port Field Has A Value?</label>
        <locationX>391</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>Set_Validate_Port_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It Has Not Value</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_For_Validate_Port_Value.Port__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_For_Validate_Port_Value</targetReference>
            </connector>
            <label>Yes, It Has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wich_Option_It_Was_Selected</name>
        <label>Wich Option It Was Selected?</label>
        <locationX>649</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Loop_Cabinets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Existing?</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewHomeRunScreen</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoiceSetAsset</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetConnectedServiceOrder</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Order_ID</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetFiberPair</name>
        <collectionReference>Get_Fiber_Pair_With_Parent_Asset</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_Fiber_Pair__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetMeetMeRoom</name>
        <collectionReference>Get_Meet_Me_Rooms</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_Meet_Me_Room__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetMeetMeRoomForExistingHomeRun</name>
        <collectionReference>Get_Meet_Me_Rooms_For_Existing_Home_Run</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_Meet_Me_Room__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetPanel</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rack__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ChoiceLookup_MeetMeRoom.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <object>DC_Panel__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetPanelForExistingHomeRun</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rack__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ChoiceLookup_MeetMeRoomForExistingHomeRun.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <object>DC_Panel__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetPort</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoiceLookupPanel.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <object>DC_Port__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetPortForExistingHomeRun</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoiceLookupPanelForExistingHomeRun.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <object>DC_Port__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CollectionChoiceSet</name>
        <collectionReference>Get_Cabinets</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_Cabinet__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AssetNameFiberHomeRunfrom_SO_ID</name>
        <dataType>String</dataType>
        <expression>&apos;Fiber in Homerun from&apos;+{!Service_Order_ID}</expression>
    </formulas>
    <formulas>
        <name>TotalCommittedFiberPair</name>
        <dataType>Number</dataType>
        <expression>{!CounterCommittedFiberPair}+{!NumberFiberPairs}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DX Home Run and Fiber Pair Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Home Run and Fiber Pair Creation</label>
    <loops>
        <name>Copy_1_of_Loop_For_Validate_Port_Value</name>
        <label>Copy 1 of Loop For Validate Port Value</label>
        <locationX>1491</locationX>
        <locationY>5318</locationY>
        <collectionReference>Get_Fiber_Pair_With_Parent_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Port_Field_Has_A_Value</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Asset_With_ParentId</name>
        <label>Loop Asset With ParentId</label>
        <locationX>413</locationX>
        <locationY>3578</locationY>
        <collectionReference>Get_Asset_With_ParentId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Of_Id_of_Asset_With_ParentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Fiber_Pair_With_Parent_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Asset_With_ParentId_For_Existing_Home_Run</name>
        <label>Loop Asset With ParentId For Existing Home Run</label>
        <locationX>1623</locationX>
        <locationY>4370</locationY>
        <collectionReference>Get_Asset_With_ParentId_For_Existing_Home_Run</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Of_Id_of_Asset_With_ParentId_For_Existing_Home_Run</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Fiber_Pair_With_Parent_Asset_For_Existing_Home_Run</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cabinets</name>
        <label>Loop Cabinets</label>
        <locationX>1249</locationX>
        <locationY>1790</locationY>
        <collectionReference>Get_Cabinets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Cabinets_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Fiber_Pairs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cages</name>
        <label>Loop Cages</label>
        <locationX>649</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Cages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Cage_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_or_Existing_Home_Run</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Create_Fiber_Pair</name>
        <label>Loop Create Fiber Pair</label>
        <locationX>413</locationX>
        <locationY>2762</locationY>
        <collectionReference>NumberOfFiberPairsConnected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Conter_In_Loop_Fiber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Meet_Me_Rooms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Data_Hall</name>
        <label>Loop Data Hall</label>
        <locationX>649</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Data_Halls</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Data_Hall_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Cages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Fiber_Pairs</name>
        <label>Loop Fiber Pairs</label>
        <locationX>1249</locationX>
        <locationY>2198</locationY>
        <collectionReference>Get_Fiber_Pairs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fiber_Pairs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Home_Run</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Floors</name>
        <label>Loop Floors</label>
        <locationX>649</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Floors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Floor_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Data_Halls</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_Update_Fiber_Pair_Records</name>
        <label>Loop For Update Fiber Pair Records</label>
        <locationX>1623</locationX>
        <locationY>3146</locationY>
        <collectionReference>Get_Fiber_Pairs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Commited_Fiber_Pair</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_FiberPair_Committed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_Validate_Port_Value</name>
        <label>Loop For Validate Port Value</label>
        <locationX>215</locationX>
        <locationY>4526</locationY>
        <collectionReference>Get_Fiber_Pair_With_Parent_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Port_Field_Has_A_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsMissingPortsValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>413</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Set_Fiber_Pair_Records_Counter</targetReference>
        </connector>
        <inputReference>objNewAsset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Fiber_Pair_Commited</name>
        <label>Create Fiber Pair Commited</label>
        <locationX>501</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Loop_Create_Fiber_Pair</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>objNewAsset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cabinet__c</field>
            <value>
                <elementReference>Cabinet.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Committed_Service_Order__c</field>
            <value>
                <elementReference>Service_Order_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Service_Order__c</field>
            <value>
                <elementReference>Service_Order_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;HomeRunName” + “.” + “1/{!CounterFiber}”</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fiber_Pair_Not_Commited</name>
        <label>Create Fiber Pair Not Commited</label>
        <locationX>765</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Loop_Create_Fiber_Pair</targetReference>
        </connector>
        <inputAssignments>
            <field>Cabinet__c</field>
            <value>
                <elementReference>Cabinet.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Service_Order__c</field>
            <value>
                <elementReference>Service_Order_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;HomeRunName” + “.” + “1/{!CounterFiber}”</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Committed</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Home_Run</name>
        <label>Create Home Run</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <inputReference>ObjHomeRun</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DX_Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fiber Pair</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjHomeRun.Asset__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Info_From_Parameter</name>
        <label>Get Asset Info From Parameter</label>
        <locationX>413</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Asset_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_With_ParentId</name>
        <label>Get Asset With ParentId</label>
        <locationX>413</locationX>
        <locationY>3470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Asset_With_ParentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_With_ParentId_For_Existing_Home_Run</name>
        <label>Get Asset With ParentId For Existing Home Run</label>
        <locationX>1623</locationX>
        <locationY>4262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Asset_With_ParentId_For_Existing_Home_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cabinets</name>
        <label>Get Cabinets</label>
        <locationX>649</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Floors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cage__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstCagesId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Cabinet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cages</name>
        <label>Get Cages</label>
        <locationX>649</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Hall__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstDataHallsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Cage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Halls</name>
        <label>Get Data Halls</label>
        <locationX>649</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Data_Hall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DC_Floor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstFloorsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Data_Hall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pair_With_Parent_Asset</name>
        <label>Get Fiber Pair With Parent Asset</label>
        <locationX>413</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Meet_Me_Rooms_and_Panel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SetOfAssetWithParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pair_With_Parent_Asset_For_Existing_Home_Run</name>
        <label>Get Fiber Pair With Parent Asset For Existing Home Run</label>
        <locationX>1623</locationX>
        <locationY>4670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Meet_Me_Rooms_and_Panel_For_Existing_Home_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SetOfAssetWithParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pairs</name>
        <label>Get Fiber Pairs</label>
        <locationX>1249</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Fiber_Pairs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cabinet__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SetCabinetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pairs_by_Home_Run_Selected</name>
        <label>Get Fiber Pairs by Home Run Selected</label>
        <locationX>1249</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Not_Commited_Fiber_Pair_Child</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Home_Run__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeRunIdSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Fiber_Pair_Record</name>
        <label>Get First Fiber Pair Record</label>
        <locationX>347</locationX>
        <locationY>5126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_values_Asset_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objNewAsset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Fiber_Pair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Floors</name>
        <label>Get Floors</label>
        <locationX>649</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Floors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Building_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Floor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Run</name>
        <label>Get Home Run</label>
        <locationX>1249</locationX>
        <locationY>2498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_FiberPairsNeedsToBeCommitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SetHomeRunId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Homerun__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meet_Me_Rooms</name>
        <label>Get Meet Me Rooms</label>
        <locationX>413</locationX>
        <locationY>3362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_With_ParentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Hall__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstDataHallsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Meet_Me_Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meet_Me_Rooms_For_Existing_Home_Run</name>
        <label>Get Meet Me Rooms For Existing Home Run</label>
        <locationX>1623</locationX>
        <locationY>4154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_With_ParentId_For_Existing_Home_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Hall__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstDataHallsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Meet_Me_Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Fiber_Pair</name>
        <label>Copy 1 of Update Fiber Pair</label>
        <locationX>1491</locationX>
        <locationY>5102</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Port_Status</targetReference>
        </connector>
        <inputReference>DataTableFiberPair.firstSelectedRow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Port_Status</name>
        <label>Copy 1 of Update Port Status</label>
        <locationX>1491</locationX>
        <locationY>5210</locationY>
        <connector>
            <targetReference>Copy_1_of_Loop_For_Validate_Port_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Change_Port.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Ready for Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_Created</name>
        <label>Update Asset Created</label>
        <locationX>347</locationX>
        <locationY>5342</locationY>
        <inputReference>objNewAsset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_from_Param_Id</name>
        <label>Update Asset from Param Id</label>
        <locationX>1623</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Loop_For_Update_Fiber_Pair_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Type__c</field>
            <value>
                <stringValue>Fiber Pair</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssetNameFiberHomeRunfrom_SO_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>DatatableHomeRun.firstSelectedRow.Asset__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fiber_Pair</name>
        <label>Update Fiber Pair</label>
        <locationX>215</locationX>
        <locationY>4310</locationY>
        <connector>
            <targetReference>Update_Port_Status</targetReference>
        </connector>
        <inputReference>DataTableFiberPair.firstSelectedRow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FiberPair_Committed</name>
        <label>Update FiberPair Committed</label>
        <locationX>1623</locationX>
        <locationY>3938</locationY>
        <connector>
            <targetReference>Update_Home_Run_Record_With_Commited_Fiber</targetReference>
        </connector>
        <inputReference>lstOfFiberPairForUpdateCommitted</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Home_Run_Record_With_Commited_Fiber</name>
        <label>Update Home Run Record With Commited Fiber</label>
        <locationX>1623</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>Get_Meet_Me_Rooms_For_Existing_Home_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DatatableHomeRun.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fiber_Pairs_Committed__c</field>
            <value>
                <elementReference>TotalCommittedFiberPair</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Homerun__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Port_Status</name>
        <label>Update Port Status</label>
        <locationX>215</locationX>
        <locationY>4418</locationY>
        <connector>
            <targetReference>Loop_For_Validate_Port_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Change_Port.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Ready for Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <screens>
        <name>New_or_Existing_Home_Run</name>
        <label>New or Existing Home Run</label>
        <locationX>649</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wich_Option_It_Was_Selected</targetReference>
        </connector>
        <fields>
            <name>DisplayTextWhatCabinet</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;What Cabinet are you connecting this Homerun to?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cabinet</name>
            <choiceReferences>CollectionChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Cabinet</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayTextHomeRun</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Are you installing a new Home Run or using an existing Home Run?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_an_Option</name>
            <choiceReferences>New_Home_Run</choiceReferences>
            <choiceReferences>Existing_Home_Run</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewHomeRunScreen</name>
        <label>New Home Run Screen</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Home_Run_New_Fields</targetReference>
        </connector>
        <fields>
            <name>NewHomeRunScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewHomeRunScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjHomeRun.Fiber_Pairs_Committed__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjHomeRun.Name</objectFieldReference>
                </fields>
                <fields>
                    <name>Asset</name>
                    <choiceReferences>ChoiceSetAsset</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Asset</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NewHomeRunScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjHomeRun.Fiber_Pairs_Connected__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjHomeRun.Related_MRI_Suite_ID__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Connected_Service_Order</name>
                    <choiceReferences>ChoiceSetConnectedServiceOrder</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Connected Service Order</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_FiberPairsNeedsToBeCommitted</name>
        <label>Fiber Pairs needs to be committed</label>
        <locationX>1249</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Home_Run_Selected</targetReference>
        </connector>
        <fields>
            <name>NumberFiberPairs</name>
            <dataType>Number</dataType>
            <fieldText>How many Fiber Pairs need to be committed?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DatatableHomeRun</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DC_Homerun__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Run</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Home_Run</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fae4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fiber_Pairs_Connected__c&quot;,&quot;guid&quot;:&quot;column-8b15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fiber Pairs Connected&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Fiber_Pairs_Committed__c&quot;,&quot;guid&quot;:&quot;column-bfbd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Fiber Pairs Committed&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Meet_Me_Rooms_and_Panel</name>
        <label>Screen Meet Me Rooms and Panel</label>
        <locationX>413</locationX>
        <locationY>3986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Different_PortId</targetReference>
        </connector>
        <fields>
            <name>Screen_Meet_Me_Rooms_and_Panel_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Meet_Me_Rooms_and_Panel_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoiceLookup_MeetMeRoom</name>
                    <choiceReferences>ChoiceSetMeetMeRoom</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Meet Me Room</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Meet_Me_Rooms_and_Panel_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoiceLookupPanel</name>
                    <choiceReferences>ChoiceSetPanel</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Panel</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DataTableFiberPair</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DC_Fiber_Pair__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fiber Pair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Fiber_Pair_With_Parent_Asset</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Port__c&quot;,&quot;guid&quot;:&quot;column-335c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Port&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Error the Port selected is not associated with the Panel&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ChoiceLookupPanel.selectedChoiceValues}!={!DataTableFiberPair.firstSelectedRow.Port__r.Panel__c}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Change_Port</name>
            <choiceReferences>ChoiceSetPort</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Change Port</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Meet_Me_Rooms_and_Panel_For_Existing_Home_Run</name>
        <label>Screen Meet Me Rooms and Panel</label>
        <locationX>1623</locationX>
        <locationY>4778</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Is_Different_PortId</targetReference>
        </connector>
        <fields>
            <name>Screen_Meet_Me_Rooms_and_Panel_For_Existing_Home_Run_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Meet_Me_Rooms_and_Panel_For_Existing_Home_Run_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoiceLookup_MeetMeRoomForExistingHomeRun</name>
                    <choiceReferences>ChoiceSetMeetMeRoomForExistingHomeRun</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Meet Me Room</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Meet_Me_Rooms_and_Panel_For_Existing_Home_Run_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoiceLookupPanelForExistingHomeRun</name>
                    <choiceReferences>ChoiceSetPanelForExistingHomeRun</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Panel</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DataTableFiberPairForExistingHomeRun</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DC_Fiber_Pair__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fiber Pair</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Fiber_Pair_With_Parent_Asset</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Port__c&quot;,&quot;guid&quot;:&quot;column-335c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Port&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Error the Port selected is not associated with the Panel&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ChoiceLookupPanelForExistingHomeRun.selectedChoiceValues}!={!DataTableFiberPairForExistingHomeRun.firstSelectedRow.Port__r.Panel__c}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Change_PortForExistingHomeRun</name>
            <choiceReferences>ChoiceSetPortForExistingHomeRun</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Change Port</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Again_Home_Run</name>
        <label>Select Again Home Run</label>
        <locationX>875</locationX>
        <locationY>3038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_FiberPairsNeedsToBeCommitted</targetReference>
        </connector>
        <fields>
            <name>MessageSelectAnotherHomeRun</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please select another Home Run with Fiber Pair Not Committed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>523</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cabinets_by_Building_and_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Asset_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Building_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CabinetList</name>
        <apexClass>DX_DCIMChoiceResource</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CounterCommittedFiberPair</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CounterFiber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CounterNotCommittedFiberPair</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HomeRunIdSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsMissingPortValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstCagesId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstDataHallsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstFloorsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstOfFiberPairForUpdateCommitted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>NumberOfFiberPairsConnected</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ObjHomeRun</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Homerun__c</objectType>
    </variables>
    <variables>
        <name>objNewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Service_Order_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetCabinetId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetHomeRunId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetOfAssetWithParentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
