force-app/main/default/flows/DX_Home_Run_and_Fiber_Pair_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get</name>
        <label>Get Cabinets by Building and Account</label>
        <locationX>1337</locationX>
        <locationY>134</locationY>
        <actionName>DX_DCIM_ActionHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_or_Existing_Home_Run</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buildingId</name>
            <value>
                <elementReference>BuildingId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>getCabinetsByBuildingAndAccount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DX_DCIM_ActionHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Save_Port_Ids</name>
        <label>Save Port Ids</label>
        <locationX>138</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>PortList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_FiberPairs.Port__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_FiberPairs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Port_Ids2</name>
        <label>Save Port Ids</label>
        <locationX>754</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>PortList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fiber_Pairs_Loop.Port__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Missing_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Port_Ids_Existing_Home_Run</name>
        <label>Save Port Ids Existing Home Run</label>
        <locationX>2822</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>PortList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fiber_Pairs_Loop_Existing_Home_Run.Port__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Port_Ids_Installed_Homerun_not_Contracted</name>
        <label>Save Port Ids Installed Homerun not Contracted</label>
        <locationX>1018</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>PortListInstalledHomerunnotContracted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fiber_Pairs_Loop.Port__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Missing_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Add_Fiber_Pair_To_Show_for_Connect_Ports</name>
        <label>Set Add Fiber Pair To Show for Connect Ports</label>
        <locationX>1986</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>lstFiberPairToShowFromHomeRunId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Fiber_Pair_From_HomeRun_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fiber_Pair_From_HomeRun_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AsseIdForNewHomeRun</name>
        <label>Set AsseIdForNewHomeRun</label>
        <locationX>644</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetIdForNewHomeRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset</name>
        <label>Set Asset</label>
        <locationX>2118</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>lstAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Field</name>
        <label>Set Asset Field</label>
        <locationX>754</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>Fiber_Pairs_Loop.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiberPairAssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Port_Ids2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter</name>
        <label>Set Counter</label>
        <locationX>2822</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>CounterFiberPair</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_The_Fierst_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter_Fiber_Pair_From_Home_Run_Id</name>
        <label>Set Counter Fiber Pair From Home Run Id</label>
        <locationX>2294</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>CounterFiberPairsFromHomeRunId</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Less_Than_Or_Equal_Fiber_Pairs_Needed_To_Be_Committed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fiber_Pair_Record</name>
        <label>Set Fiber Pair Record</label>
        <locationX>2690</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>FiberPairRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fiber_Pairs_Loop_Existing_Home_Run</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fiber_Pairs_Loop_Existing_Home_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Missing_Fields</name>
        <label>Set Missing Fields</label>
        <locationX>886</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>Fiber_Pairs_Loop.Home_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HomeRunId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fiber_Pairs_Loop.Connected_Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Order.Service_Order_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstToCreateFiberPair</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fiber_Pairs_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fiber_Pairs_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Missing_Fields_Existing_Home_Run</name>
        <label>Set Missing Fields Existing Home Run</label>
        <locationX>2822</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>Fiber_Pairs_Loop_Existing_Home_Run.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fiber_Pairs_Loop_Existing_Home_Run.Committed_Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Order_Existing_Home_Run.Service_Order_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fiber_Pairs_Loop_Existing_Home_Run.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fiber_Pairs_Loop_Existing_Home_Run.Cabinet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Cabinet_are_you_connecting_this_Homerun_to.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstToUpdateFiberPairs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fiber_Pairs_Loop_Existing_Home_Run</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Port_Ids_Existing_Home_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SelectedCabinetId</name>
        <label>Set SelectedCabinetId</label>
        <locationX>1337</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SelectedCabinetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Cabinet_are_you_connecting_this_Homerun_to.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_New_or_Existing_Home_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_on_FiberPairAsset</name>
        <label>Set Values on FiberPairAsset</label>
        <locationX>776</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FiberPairAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValueNameAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fiber Pair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.Allocation_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.DX_Allocated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Licensed and Installing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.DX_Service_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HomeRunAsset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.Service_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AssetInfo_from_passed_AssetId.Service_Order_Line_Item__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiberPairAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AssetInfo_from_passed_AssetId.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fiber_Pair_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ExistingHomeRunOption</name>
        <choiceText>Existing Home Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewHomeRunOption</name>
        <choiceText>New Home Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_There_Home_Run_To_Be_Commited</name>
        <label>Are There Home Run To Be Commited?</label>
        <locationX>2030</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>No_Home_Run_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, There Are No Home Run</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Are_Home_Run_To_Be_Commited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Home_Run</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Home_Run</targetReference>
            </connector>
            <label>Yes, There Are Home Run To Be Commited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Fiber_Pair_Asset</name>
        <label>Exist Fiber Pair Asset</label>
        <locationX>644</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Account_related_to_HomeRun_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist_FiberPairAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FiberPairAsset.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fiber_Pair_Records</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Fiber_Pair_Asset2</name>
        <label>Exist Fiber Pair Asset?</label>
        <locationX>644</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Create_Home_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FiberPairAsset.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Meet_Me_Room_and_Panel</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_FiberPair_Asset</name>
        <label>Exist FiberPair Asset?</label>
        <locationX>358</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Fiber_Pairs_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont Exist</defaultConnectorLabel>
        <rules>
            <name>ExistFiberPairAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FiberPairAsset.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FiberPairs</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Committed_Fiber_Pair</name>
        <label>Is Committed Fiber Pair?</label>
        <locationX>886</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Save_Port_Ids_Installed_Homerun_not_Contracted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Is Not Commited</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is_Commited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fiber_Pairs_Loop.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_Field</targetReference>
            </connector>
            <label>Yes, It is Commited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Less_Than_Or_Equal_Fiber_Pairs_Needed_To_Be_Committed</name>
        <label>Is Less Than Or Equal Fiber Pairs Needed To Be Committed?</label>
        <locationX>2294</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Order_Existing_Home_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is More That Needed To Be Commited</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Is_Less_Than_Or_Equal_Fiber_Pair_Needed_To_Be_Commited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterFiberPairsFromHomeRunId</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>how_many_Fiber_Pairs_need_to_be_committed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Add_Fiber_Pair_To_Show_for_Connect_Ports</targetReference>
            </connector>
            <label>Yes, It Is Less Than Or Equal Fiber Pair Needed To Be Commited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Fierst_Record</name>
        <label>Is The Fierst Record</label>
        <locationX>2822</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Fiber_Pairs_Loop_Existing_Home_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Is Not The First</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_the_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterFiberPair</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fiber_Pair_Record</targetReference>
            </connector>
            <label>Yes, it is the First</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Panel</name>
        <label>Is There a Panel?</label>
        <locationX>644</locationX>
        <locationY>2246</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_There_is_a_Panel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dx_PanelSelectorMeetMeRoomPanel.isThereAPanel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connect_Ports</targetReference>
            </connector>
            <label>Yes, There is a Panel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_New_or_Existing_Home_Run</name>
        <label>Selected New or Existing Home Run?</label>
        <locationX>1337</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>How_many_Fiber_Pairs_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Home Run</defaultConnectorLabel>
        <rules>
            <name>New_Home_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_installing_a_new_Home_Run_or_using_an_existing_Homerun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Order</targetReference>
            </connector>
            <label>New Home Run</label>
        </rules>
    </decisions>
    <description>PR1031160-912 Updated Requirement for - Subflow Home Run and Fiber Pair Creation</description>
    <dynamicChoiceSets>
        <name>AssetCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CabinetListCS</name>
        <collectionReference>Get.cabinetsByBuildingAndAccountList</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>MeetMeRoomQuery</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name FROM DC_Meet_Me_Room__c WHERE Data_Hall__r.DC_Floor__r.Building__c = &quot; + &quot;&apos;&quot; +  {!BuildingId} + &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>NewFiberPairCommitedValue</name>
        <dataType>Number</dataType>
        <expression>{!DatatableHomeRun.firstSelectedRow.Fiber_Pairs_Committed__c}+{!how_many_Fiber_Pairs_need_to_be_committed}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ValueNameAsset</name>
        <dataType>String</dataType>
        <expression>&apos;Fiber in Homerun from &apos;+{!Get_Service_Order.Name}</expression>
    </formulas>
    <formulas>
        <name>ValueNameAssetExistingHomeRun</name>
        <dataType>String</dataType>
        <expression>&apos;Fiber in Homerun from &apos;+{!Get_Service_Order_Existing_Home_Run.Name}</expression>
    </formulas>
    <interviewLabel>DX Home Run and Fiber Pair Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Home Run and Fiber Pair Record Creation</label>
    <loops>
        <name>Fiber_Pairs_Loop</name>
        <label>Fiber Pairs Loop</label>
        <locationX>666</locationX>
        <locationY>2570</locationY>
        <collectionReference>FiberPairList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Committed_Fiber_Pair</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Fiber_Pairs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Fiber_Pairs_Loop_Existing_Home_Run</name>
        <label>Fiber Pairs Loop Existing Home Run</label>
        <locationX>2602</locationX>
        <locationY>2054</locationY>
        <collectionReference>FiberPairList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Missing_Fields_Existing_Home_Run</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Fiber_Pairs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Asset</name>
        <label>Loop Asset</label>
        <locationX>2030</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Home_Run</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_FiberPairs</name>
        <label>Loop Existing FiberPairs</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <collectionReference>FiberPairList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Port_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ports_Status_to_Ready_for_Cross_Connect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Fiber_Pair_From_HomeRun_Id</name>
        <label>Loop Fiber Pair From HomeRun Id</label>
        <locationX>1898</locationX>
        <locationY>1622</locationY>
        <collectionReference>FiberPairList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Counter_Fiber_Pair_From_Home_Run_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Service_Order_Existing_Home_Run</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Fiber_Pairs</name>
        <label>Create Fiber Pairs</label>
        <locationX>666</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Update_Ports_Status_to_Ready_for_Cross_Connect</targetReference>
        </connector>
        <inputReference>lstToCreateFiberPair</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_FiberPair_Asset</name>
        <label>Create FiberPair Asset</label>
        <locationX>732</locationX>
        <locationY>1946</locationY>
        <assignRecordIdToReference>FiberPairAssetId</assignRecordIdToReference>
        <connector>
            <targetReference>Select_Meet_Me_Room_and_Panel</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>FiberPairAsset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocation_Required__c</field>
            <value>
                <elementReference>FiberPairAsset.Allocation_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Type__c</field>
            <value>
                <elementReference>FiberPairAsset.Asset_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <elementReference>FiberPairAsset.DX_Allocated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Service_Request__c</field>
            <value>
                <elementReference>FiberPairAsset.DX_Service_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FiberPairAsset.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>FiberPairAsset.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Order_Line_Item__c</field>
            <value>
                <elementReference>FiberPairAsset.Service_Order_Line_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Order__c</field>
            <value>
                <elementReference>FiberPairAsset.Service_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>FiberPairAsset.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Home_Run</name>
        <label>Create Home Run</label>
        <locationX>732</locationX>
        <locationY>1838</locationY>
        <assignRecordIdToReference>HomeRunId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_FiberPair_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>AssetIdForNewHomeRun</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connected_Service_Order__c</field>
            <value>
                <elementReference>Get_Service_Order.Service_Order_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiber_Pairs_Committed__c</field>
            <value>
                <elementReference>Fiber_Pairs_Committed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiber_Pairs_Connected__c</field>
            <value>
                <elementReference>Fiber_Pairs_Connected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Homerun__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_related_to_HomeRun_Asset</name>
        <label>Get Account related to HomeRun Asset</label>
        <locationX>776</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssetInfo_from_passed_AssetId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>HomeRunAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>2030</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BuildingFomrula__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Building.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssetInfo_from_passed_AssetId</name>
        <label>Get AssetInfo from passed AssetId</label>
        <locationX>776</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_on_FiberPairAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>2030</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuildingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pair</name>
        <label>Get Fiber Pair From Homerun ID</label>
        <locationX>1898</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Fiber_Pair_From_HomeRun_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Home_Run__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DatatableHomeRun.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Committed</stringValue>
            </value>
        </filters>
        <object>DC_Fiber_Pair__c</object>
        <outputReference>FiberPairList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Port__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pair_Asset</name>
        <label>Get Fiber Pair Asset</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Fiber_Pair_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fiber Pair </stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetIdForNewHomeRun</elementReference>
            </value>
        </filters>
        <filters>
            <field>DX_Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Request.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>FiberPairAsset</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Fiber_Pair_Records</name>
        <label>Get Fiber Pair Records</label>
        <locationX>512</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Fiber_Pair_Asset2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </filters>
        <object>DC_Fiber_Pair__c</object>
        <outputReference>FiberPairList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Run</name>
        <label>Get Home Run</label>
        <locationX>2030</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Home_Run_To_Be_Commited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstAsset</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_Fiber_Pairs__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>how_many_Fiber_Pairs_need_to_be_committed</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Homerun__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Order</name>
        <label>Get Service Order</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Home_Run_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Order_Existing_Home_Run</name>
        <label>Get Service Order Existing Home Run</label>
        <locationX>2602</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fiber_Pairs_Loop_Existing_Home_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Request</name>
        <label>Get Service Request</label>
        <locationX>644</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fiber_Pair_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fiber_Pair_Asset</name>
        <label>Update Fiber Pair Asset</label>
        <locationX>358</locationX>
        <locationY>3686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FiberPairAssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fiber_Pair_Asset_Existing_Home_Run</name>
        <label>Update Fiber Pair Asset Existing Home Run</label>
        <locationX>2602</locationX>
        <locationY>3194</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Type__c</field>
            <value>
                <stringValue>Fiber Pair</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>FiberPairRecord.Cabinet__r.MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ValueNameAssetExistingHomeRun</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>DatatableHomeRun.firstSelectedRow.Asset__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fiber_Pairs</name>
        <label>Update Fiber Pairs</label>
        <locationX>2602</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Update_Ports_Status_to_Ready_for_Cross_Connect_Existing_Home_Run</targetReference>
        </connector>
        <inputReference>lstToUpdateFiberPairs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FiberPairs</name>
        <label>Update FiberPairs</label>
        <locationX>50</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Loop_Existing_FiberPairs</targetReference>
        </connector>
        <inputReference>FiberPairList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Home_Run</name>
        <label>Update Home Run</label>
        <locationX>2602</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Update_Fiber_Pair_Asset_Existing_Home_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DatatableHomeRun.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fiber_Pairs_Committed__c</field>
            <value>
                <elementReference>NewFiberPairCommitedValue</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Homerun__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ports_Status_to_Installed_Homerun_not_Contracted</name>
        <label>Update Ports Status to Installed Homerun not Contracted</label>
        <locationX>358</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Update_Fiber_Pair_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PortListInstalledHomerunnotContracted</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Installed Homerun not Contracted</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ports_Status_to_Ready_for_Cross_Connect</name>
        <label>Update Ports Status to Ready for Cross Connect</label>
        <locationX>358</locationX>
        <locationY>3470</locationY>
        <connector>
            <targetReference>Update_Ports_Status_to_Installed_Homerun_not_Contracted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PortList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Ready for Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ports_Status_to_Ready_for_Cross_Connect_Existing_Home_Run</name>
        <label>Update Ports Status to Ready for Cross Connect Existing Home Run</label>
        <locationX>2602</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Update_Home_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PortList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Port_Status__c</field>
            <value>
                <stringValue>Ready for Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <object>DC_Port__c</object>
    </recordUpdates>
    <screens>
        <name>Existing_Home_Run</name>
        <label>Existing Home Run</label>
        <locationX>1898</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Fiber_Pair</targetReference>
        </connector>
        <fields>
            <name>DatatableHomeRun</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DC_Homerun__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Run</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Home_Run</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4752&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fiber_Pairs_Connected__c&quot;,&quot;guid&quot;:&quot;column-d4b0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fiber Pairs Connected&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Fiber_Pairs_Committed__c&quot;,&quot;guid&quot;:&quot;column-91a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Fiber Pairs Committed&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_many_Fiber_Pairs_Screen</name>
        <label>How many Fiber Pairs Screen</label>
        <locationX>2030</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Building</targetReference>
        </connector>
        <fields>
            <name>how_many_Fiber_Pairs_need_to_be_committed</name>
            <dataType>Number</dataType>
            <fieldText>how many Fiber Pairs need to be committed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Home_Run_Screen</name>
        <label>New Home Run</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_AsseIdForNewHomeRun</targetReference>
        </connector>
        <fields>
            <name>New_Home_Run_Record_Creation_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;New Home Run Record Creation&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Home_Run_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Home_Run_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Fiber_Pairs_Connected</name>
                    <dataType>Number</dataType>
                    <fieldText>Fiber Pairs Connected</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Asset</name>
                    <choiceReferences>AssetCS</choiceReferences>
                    <defaultValue>
                        <elementReference>AssetId</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Asset</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Home_Run_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Connected_Service_Order</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Service_Order.Service_Order_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Connected Service Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fiber_Pairs_Committed</name>
                    <dataType>Number</dataType>
                    <fieldText>Fiber Pairs Committed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 63, 63);&quot;&gt;Please verify that Fiber Pairs Commited is less or equal than Fiber Pairs Connected&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Fiber_Pairs_Committed} &lt;= {!Fiber_Pairs_Connected}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_or_Existing_Home_Run</name>
        <label>New or Existing Home Run</label>
        <locationX>1337</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_SelectedCabinetId</targetReference>
        </connector>
        <fields>
            <name>Home_Run_Record_Creation_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(209, 210, 211); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; font-size: 16px; background-color: rgb(26, 29, 33);&quot;&gt;Home Run Record Creation&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(209, 210, 211); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; font-size: 16px; background-color: rgb(26, 29, 33);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_Cabinet_are_you_connecting_this_Homerun_to</name>
            <choiceReferences>CabinetListCS</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>What Cabinet are you connecting this Homerun to?</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Are_you_installing_a_new_Home_Run_or_using_an_existing_Homerun</name>
            <choiceReferences>NewHomeRunOption</choiceReferences>
            <choiceReferences>ExistingHomeRunOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you installing a new Home Run or using an existing Homerun?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Home_Run_Screen</name>
        <label>No Home Run Screen</label>
        <locationX>2162</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoHomeRunText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;This Account does not have any Home Runs with enough Fiber Available to facilitate this connection. Please review the Fiber Pairs that need committing and if the issue persists, contact a system admin.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Meet_Me_Room_and_Panel</name>
        <label>Select Meet Me Room and Panel</label>
        <locationX>644</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_There_a_Panel</targetReference>
        </connector>
        <fields>
            <name>MeetMeRoomPanel_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select Meet Me Room and Panel&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dx_PanelSelectorMeetMeRoomPanel</name>
            <extensionName>c:dx_PanelSelectorMeetMeRoomPanel_lwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buildingID</name>
                <value>
                    <elementReference>BuildingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ThereIsNoPanelTextError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 57, 57);&quot;&gt;This Account does not have any Panels in this Meet Me Room. Please check another Building and if the issue persists, go back to the Asset Allocation screen and Allocate a Panel for this Customer. Click Next to cancel the flow.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dx_PanelSelectorMeetMeRoomPanel.isThereAPanel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1211</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Connect_Ports</name>
        <label>Connect Ports</label>
        <locationX>358</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Exist_FiberPair_Asset</targetReference>
        </connector>
        <flowName>DX_Connect_Ports_Fiber_Pair_Allocation</flowName>
        <inputAssignments>
            <name>FiberPairList</name>
            <value>
                <elementReference>FiberPairList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PanelId</name>
            <value>
                <elementReference>dx_PanelSelectorMeetMeRoomPanel.panelId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FiberPairList</assignToReference>
            <name>FiberPairList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Fiber_Pair_Records</name>
        <label>Create Fiber Pair Records</label>
        <locationX>776</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Exist_Fiber_Pair_Asset2</targetReference>
        </connector>
        <flowName>DX_Create_Fiber_Pair_Records</flowName>
        <inputAssignments>
            <name>CabinetId</name>
            <value>
                <elementReference>SelectedCabinetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FiberPairsCommited</name>
            <value>
                <elementReference>Fiber_Pairs_Committed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FiberPairsConnected</name>
            <value>
                <elementReference>Fiber_Pairs_Connected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicerOrderRecord</name>
            <value>
                <elementReference>Get_Service_Order</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FiberPairList</assignToReference>
            <name>FiberPairList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetIdForNewHomeRun</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>BuildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CounterFiberPair</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CounterFiberPairsFromHomeRunId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Fiber_Pair_Commited</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Fiber_Pairs_Commited</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Fiber_Pairs_Not_Commited</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_First_Fiber_Pair_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>FiberPairAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>FiberPairAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FiberPairList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>FiberPairRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>HomeRunAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>HomeRunId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HomeRunIdInserted</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HomeRunToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Homerun__c</objectType>
    </variables>
    <variables>
        <name>lstAsset</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstFiberPairToShowFromHomeRunId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>lstToCreateFiberPair</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>lstToUpdateFiberPairs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Fiber_Pair__c</objectType>
    </variables>
    <variables>
        <name>PortList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PortListInstalledHomerunnotContracted</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCabinetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
