force-app/main/default/flows/DX_Innerduct_Asset_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Floor_Id</name>
        <label>Set Floor Id</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>lstFloorsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_floors.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_floors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Innerduct_Fields</name>
        <label>Set Innerduct Fields</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ObjInnerduct.Related_MRI_Suite_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cabinet.MRI_Suite_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjInnerduct.A_Side_Data_Hall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_Side_Data_Hall.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjInnerduct.Z_Side_Data_Hall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Z_Side_Data_Hall_Require.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjInnerduct.POE_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Z_Side_POE_Allocation_Require.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjInnerduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjInnerduct.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Innerduct</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ChoiceSet_Z_Side_POE_Allocation</name>
        <collectionReference>Get_POE_Allocation</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_POE_Allocation__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetAsset</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetDataHall</name>
        <collectionReference>Get_Data_Hall</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_Data_Hall__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>DX Innerduct Asset Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Innerduct Asset Record Creation</label>
    <loops>
        <name>Loop_floors</name>
        <label>Loop floors</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Floors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Floor_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Data_Hall</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Innerduct</name>
        <label>Create Innerduct</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Create_Innerduct</targetReference>
        </faultConnector>
        <inputReference>ObjInnerduct</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Record</name>
        <label>Get Asset Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Floors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cabinet</name>
        <label>Get Cabinet</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Innerduct_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cages.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cabinet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cages</name>
        <label>Get Cages</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cabinet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Hall__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>A_Side_Data_Hall.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Hall</name>
        <label>Get Data Hall</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_POE_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DC_Floor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstFloorsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Data_Hall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Floors</name>
        <label>Get Floors</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_floors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Building_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Floor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POE_Allocation</name>
        <label>Get POE Allocation</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Innerduct_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Floor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstFloorsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_POE_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_Inside_Plant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Update_Asset</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <elementReference>ObjInnerduct.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>ObjInnerduct.Related_MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inside_Plant</name>
        <label>Update Inside Plant</label>
        <locationX>176</locationX>
        <locationY>1514</locationY>
        <faultConnector>
            <targetReference>DX_Error_Log_Creation_Update_Inside_Plant</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjInnerduct.Inside_Plant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_MRI_Suite_ID__c</field>
            <value>
                <elementReference>Get_Cabinet.MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Inside_Plant__c</object>
    </recordUpdates>
    <screens>
        <name>Innerduct_Fields</name>
        <label>Innerduct Fields</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Cages</targetReference>
        </connector>
        <fields>
            <name>Innerduct_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Innerduct_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>A_Side_Data_Hall</name>
                    <choiceReferences>ChoiceSetDataHall</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>A-Side - Data Hall</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjInnerduct.ID__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjInnerduct.Z_Side_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Z_Side_Data_Hall_Require</name>
                    <choiceReferences>ChoiceSetDataHall</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Z-Side - Data Hall</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ObjInnerduct.Z_Side_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Datahall</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Z_Side_POE_Allocation_Require</name>
                    <choiceReferences>ChoiceSet_Z_Side_POE_Allocation</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Z-Side - POE Allocation</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ObjInnerduct.Z_Side_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>POE Allocation</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Innerduct_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjInnerduct.Status__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjInnerduct.Inside_Plant__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjInnerduct.Color__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObjInnerduct.Fiber_Count__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Asset</name>
                    <choiceReferences>ChoiceSetAsset</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_Asset_Record.Id</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Asset</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Get_Asset_Record.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DX_Error_Log_Creation_Update_Inside_Plant</name>
        <label>DX Error Log Creation Update Inside Plant</label>
        <locationX>440</locationX>
        <locationY>1622</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Innerduct Asset Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Inside Plant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Inside Plant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Building_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Create_Innerduct</name>
        <label>Error Log Create Innerduct</label>
        <locationX>968</locationX>
        <locationY>1406</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Innerduct Asset Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Innerduct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Innerduct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Building_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Update_Asset</name>
        <label>Error Log Update Asset</label>
        <locationX>704</locationX>
        <locationY>1514</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Innerduct Asset Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Asset_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Building_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstFloorsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjInnerduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Innerduct__c</objectType>
    </variables>
</Flow>
