force-app/main/default/flows/DX_Inside_Plant_Asset_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Cabinets_by_Building_and_Account</name>
        <label>Get Cabinets by Building and Account</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <actionName>DX_DCIM_ActionHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Cabinets</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buildingId</name>
            <value>
                <elementReference>BuildingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>getCabinetsByBuildingAndAccount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DX_DCIM_ActionHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_DataHall_by_Building</name>
        <label>Get DataHall by Building</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <actionName>DX_DCIM_ActionHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_POEAllocations_by_Building</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>buildingId</name>
            <value>
                <elementReference>BuildingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>getDataHallsByBuilding</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DX_DCIM_ActionHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_POEAllocations_by_Building</name>
        <label>Get POEAllocations by Building</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <actionName>DX_DCIM_ActionHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_TenantSuits_by_Building</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>buildingId</name>
            <value>
                <elementReference>BuildingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>getPOEAllocationsByBuilding</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DX_DCIM_ActionHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_TenantSuits_by_Building</name>
        <label>Get TenantSuits by Building</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <actionName>DX_DCIM_ActionHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Inside_Plant_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>buildingId</name>
            <value>
                <elementReference>BuildingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>getTenantSuitesByBuilding</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DX_DCIM_ActionHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Cabinet</name>
        <label>Assign Cabinet</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CabinetResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cabinets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cabinets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CabinetsFound_to_False</name>
        <label>Assign CabinetsFound to False</label>
        <locationX>1194</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CabinetsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Inside_Plant_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Index</name>
        <label>Increment Index</label>
        <locationX>1018</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Index</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cabinets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_Element</name>
        <label>First Element?</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Increment_Index</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Index</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cabinet</targetReference>
            </connector>
            <label>First</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Cabinets</name>
        <label>Found Cabinets?</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_CabinetsFound_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cabinets_by_Building_and_Account.cabinetsByBuildingAndAccountList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Cabinets</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Parameters_Passed</name>
        <label>Required Parameters Passed?</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_DataHall_by_Building</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Passed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BuildingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataHallID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parameters_Required</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ASideTypeCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>A_Side_Type__c</picklistField>
        <picklistObject>DC_Inside_Plant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DataHallCS</name>
        <collectionReference>Get_DataHall_by_Building.dataHallsByBuildingList</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InsidePlantTypeCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>DC_Inside_Plant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POEAllocationCS</name>
        <collectionReference>Get_POEAllocations_by_Building.poeAllocationsByBuildingList</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TenantSuiteCS</name>
        <collectionReference>Get_TenantSuits_by_Building.tenantSuitesByBuildingList</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ZSideTypeCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Z_Side_Type__c</picklistField>
        <picklistObject>DC_Inside_Plant__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>DX Inside Plant Asset Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Inside Plant Asset Record Creation</label>
    <loops>
        <name>Loop_Cabinets</name>
        <label>Loop Cabinets</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Cabinets_by_Building_and_Account.cabinetsByBuildingAndAccountList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_Element</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Cabinet_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inside_Plant</name>
        <label>Create Inside Plant</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <targetReference>Create_Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>A_Side_Data_Hall__c</field>
            <value>
                <elementReference>A_Side_Data_Hall.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>A_Side_POE_Allocation__c</field>
            <value>
                <elementReference>A_Side_POE_Allocation.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>A_Side_Tenant_Suite__c</field>
            <value>
                <elementReference>A_Side_Tenant_Suite.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>A_Side_Type__c</field>
            <value>
                <elementReference>A_Side_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_MRI_Suite_ID__c</field>
            <value>
                <elementReference>Get_Cabinet_Data.MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Side_Data_Hall__c</field>
            <value>
                <elementReference>Z_Side_Data_Hall.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Side_POE_Allocation__c</field>
            <value>
                <elementReference>Z_Side_POE_Allocation.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Side_Tenant_Suite__c</field>
            <value>
                <elementReference>Z_Side_Tenant_Suite.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Side_Type__c</field>
            <value>
                <elementReference>Z_Side_Type</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Inside_Plant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cabinet_Data</name>
        <label>Get Cabinet Data</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inside_Plant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CabinetResult.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cabinet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Inside_Plant_Screen</name>
        <label>Create Inside Plant Screen</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Cabinets_by_Building_and_Account</targetReference>
        </connector>
        <fields>
            <name>Create_Inside_Plant_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Inside_Plant_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cabinets_Not_Found</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 50, 50);&quot;&gt;No Cabinets where found for Building and Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CabinetsFound</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type</name>
                    <choiceReferences>InsidePlantTypeCS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Asset</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>AssetID</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Asset__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Asset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>DC_Inside_Plant__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Inside_Plant_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Inside_Plant_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_Side_Type</name>
                    <choiceReferences>ASideTypeCS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>A-Side Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>A_Side_Data_Hall</name>
                    <choiceReferences>DataHallCS</choiceReferences>
                    <defaultValue>
                        <elementReference>DataHallID</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>A-Side - Data Hall</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>A_Side_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Datahall</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>A_Side_POE_Allocation</name>
                    <choiceReferences>POEAllocationCS</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>A-Side - POE Allocation</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>A_Side_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>POE Allocation</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>A_Side_Tenant_Suite</name>
                    <choiceReferences>TenantSuiteCS</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>A-Side - Tenant Suite</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>A_Side_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Tenant Suite</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Inside_Plant_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Z_Side_Type</name>
                    <choiceReferences>ZSideTypeCS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Z-Side Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Z_Side_Data_Hall</name>
                    <choiceReferences>DataHallCS</choiceReferences>
                    <defaultValue>
                        <elementReference>DataHallID</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Z-Side - Data Hall</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Z_Side_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Datahall</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Z_Side_POE_Allocation</name>
                    <choiceReferences>POEAllocationCS</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Z-Side - POE Allocation</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Z_Side_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>POE Allocation</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Z_Side_Tenant_Suite</name>
                    <choiceReferences>TenantSuiteCS</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Z-Side - Tenant Suite</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Z_Side_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Tenant Suite</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Parameters_Required</name>
        <label>Parameters Required</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Required_Parameters_Passed</targetReference>
        </connector>
        <fields>
            <name>ParametersRequired</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 53, 53);&quot;&gt;To be able to execute this flow, you need to pass these parameters: AccountID, BuildingID, AssetID, DataHallID&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Required_Parameters_Passed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log_Error</name>
        <label>Create Log Error</label>
        <locationX>930</locationX>
        <locationY>1598</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Inside Plant Asset Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Inside Plant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>DC_Inside_Plant__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CabinetResult</name>
        <apexClass>DX_DCIMChoiceResource</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CabinetsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <apexClass>DX_DCIMChoiceResource</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataHallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FloorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ServiceOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
