force-app/main/default/flows/DX_Panel_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Rack_Layout_To_List</name>
        <label>Add Rack Layout To List</label>
        <locationX>534</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>RacksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iRackLayout</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assing_Values_to_Each_Rack_Layout_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MRI_Suite_ID_If_Not_Null</name>
        <label>MRI Suite ID If Not Null</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>MRISuiteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cabinets_from_Asset.MRI_Suite_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Panel_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MRI_Suite_ID_If_Null</name>
        <label>MRI Suite ID If Null</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>MRISuiteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Empty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Panel_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rack_Layout_Values_Assignment</name>
        <label>Rack Layout Values Assignment</label>
        <locationX>534</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>iRackLayout.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assing_Values_to_Each_Rack_Layout_to_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iRackLayout.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iRackLayout.Panel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Panel_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rack_Layout_To_List</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Occupied_Rack_Layouts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Occupied Rack Layouts</label>
        <locationX>1172</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Rack_Layout_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_2.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Occupied</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>All_Rack_Layouts_Vacant</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vacant_Rack_Layouts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Vacant Rack Layouts</label>
        <locationX>1172</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_Vacant_Rack_Layouts</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Rack_Layout_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Vacant_Rack_Layouts.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Vacant</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Occupied_Rack_Layouts</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>All_Rack_Layouts_Vacant</name>
        <label>All Rack Layouts Vacant?</label>
        <locationX>1172</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Vacant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Vacant_Rack_Layouts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Rack_Layout_Records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cabinets_from_Asset</targetReference>
            </connector>
            <label>All Vacant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Parameters</name>
        <label>Empty Parameters?</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Create_Panel_Record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BuildingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HeightRU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartingPositionRU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Empty_Parameters</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>MRI_Cabinet_Value_Null</name>
        <label>MRI Cabinet Value Null?</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>MRI_Suite_ID_If_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cabinets_from_Asset.MRI_Suite_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MRI_Suite_ID_If_Null</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <description>PR1031160-867 Panel Subflow Updates for Enhanced Data Flow and Field Adjustments</description>
    <environments>Default</environments>
    <formulas>
        <name>FinishPositionRU</name>
        <dataType>Number</dataType>
        <expression>{!StartingPositionRU}+{!HeightRU}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumberOfPortRecords_No</name>
        <dataType>Number</dataType>
        <expression>{!Get_Panel_Record_Details.Total_Number_of_Ports__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumberOfPorts_Yes</name>
        <dataType>Number</dataType>
        <expression>{!Get_Panel_Record_Details.Number_of_Ports_Tall_per_Mod__c}*{!Get_Panel_Record_Details.Number_of_Ports_Wide_per_Mod__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalNumberOfPorts</name>
        <dataType>Number</dataType>
        <expression>IF(
TEXT({!CreatedPanel.Mod_Model__c}) = &quot;Yes&quot;,
{!CreatedPanel.Number_of_Mods__c} * {!CreatedPanel.Number_of_Ports_Wide_per_Mod__c} * {!CreatedPanel.Number_of_Ports_Tall_per_Mod__c},
{!CreatedPanel.Number_of_Ports_Wide__c} * {!CreatedPanel.Number_of_Ports_Tall__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DX Panel Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Panel Record Creation</label>
    <loops>
        <name>Assing_Values_to_Each_Rack_Layout_to_Update</name>
        <label>Assing Values to Each Rack Layout to Update</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_Rack_Layout_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rack_Layout_Values_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Rack_Layouts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Panel_Record</name>
        <label>Create Panel Record</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assing_Values_to_Each_Rack_Layout_to_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Creation_Create_Panel_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Lookup__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connector_Type__c</field>
            <value>
                <elementReference>CreatedPanel.Connector_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height_RU__c</field>
            <value>
                <elementReference>HeightRU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>MRISuiteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mod_Model__c</field>
            <value>
                <elementReference>CreatedPanel.Mod_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mod_Pattern__c</field>
            <value>
                <elementReference>CreatedPanel.Mod_Pattern__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sample</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Mods__c</field>
            <value>
                <elementReference>Number_of_Mods</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Ports_Tall__c</field>
            <value>
                <elementReference>Number_of_Ports_Tall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Ports_Tall_per_Mod__c</field>
            <value>
                <elementReference>Number_of_Ports_Tall_per_Mod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Ports_Wide__c</field>
            <value>
                <elementReference>Number_of_Ports_Wide</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Ports_Wide_per_Mod__c</field>
            <value>
                <elementReference>Number_of_Ports_Wide_per_Mod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Port_Pattern__c</field>
            <value>
                <elementReference>CreatedPanel.Port_Pattern__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rack__c</field>
            <value>
                <elementReference>dx_PanelSelectorRacks.rackId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Name__c</field>
            <value>
                <elementReference>CreatedPanel.Short_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Starting_Position_RU__c</field>
            <value>
                <elementReference>StartingPositionRU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>CreatedPanel.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Panel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cabinets_from_Asset</name>
        <label>Get Cabinets from Asset</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MRI_Cabinet_Value_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Creation_Get_Cabinets_from_Asset</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cabinet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Panel_Record_Details</name>
        <label>Get Panel Record Details</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_MRI_Suite_ID_Asset_Location_on_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Panel_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Panel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rack_Layout_Records</name>
        <label>Get Rack Layout Records</label>
        <locationX>1172</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Vacant_Rack_Layouts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DX_Error_Log_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dx_PanelSelectorRacks.rackId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Position__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartingPositionRU</elementReference>
            </value>
        </filters>
        <filters>
            <field>Position__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>FinishPositionRU</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Rack_Layout__c</object>
        <sortField>Position__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MRI_Suite_ID_Asset_Location_on_Asset</name>
        <label>Update MRI Suite ID &amp; Asset Location on Asset</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>DX_Create_Port_Records_from_Panel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Creation_Update_Asset</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <elementReference>Get_Panel_Record_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Allocated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRI_Suite_ID__c</field>
            <value>
                <elementReference>Get_Panel_Record_Details.MRI_Suite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rack_Layouts</name>
        <label>Update Rack Layouts</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Get_Panel_Record_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Creation_Update_Rack_Layouts</targetReference>
        </faultConnector>
        <inputReference>RacksToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Panel_Record_Screen</name>
        <label>Create Panel Record Screen</label>
        <locationX>1172</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Rack_Layout_Records</targetReference>
        </connector>
        <fields>
            <name>dx_PanelSelectorRacks</name>
            <extensionName>c:dx_PanelSelectorRacks_lwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>BuildingID</name>
                <value>
                    <elementReference>BuildingID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datHallID</name>
                <value>
                    <elementReference>DataHallID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>floorID</name>
                <value>
                    <elementReference>FloorID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>meetMeRoomID</name>
                <value>
                    <elementReference>MeetMeRoomID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rackId</name>
                <value>
                    <elementReference>RackID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CreatedPanel.Short_Name__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CreatedPanel.Connector_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CreatedPanel.Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dimensions</name>
            <fieldText>Dimensions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dimensions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CreatedPanel.Mod_Model__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Number_of_Ports_Wide</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Ports Wide</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CreatedPanel.Mod_Model__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Ports_Tall</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Ports Tall</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CreatedPanel.Mod_Model__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CreatedPanel.Port_Pattern__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dimensions_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CreatedPanel.Mod_Pattern__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CreatedPanel.Mod_Model__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Mods</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Mods</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CreatedPanel.Mod_Model__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Ports_Tall_per_Mod</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Ports Tall - per Mod</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CreatedPanel.Mod_Model__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Ports_Wide_per_Mod</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Ports Wide - per Mod</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CreatedPanel.Mod_Model__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMesagge</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;These RUs are currently occupied:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SectedRackLayouts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DC_Rack_Layout__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Occupied_Rack_Layouts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Rack Layouts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Position__c&quot;,&quot;guid&quot;:&quot;column-a737&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Position&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-5502&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Please select different ones.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Empty_Parameters</name>
        <label>Error Screen - Empty Parameters</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen_Empty_Parameters_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Screen_Empty_Parameters_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Screen_Empty_Parameters_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMesagge_EmptyParameters</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(180, 10, 10); font-size: 18px;&quot;&gt;To be able to execute this flow, you need to pass these parameters:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(180, 10, 10); font-size: 14px;&quot;&gt;BuildingID&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(180, 10, 10); font-size: 14px;&quot;&gt;AssetID&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(180, 10, 10); font-size: 14px;&quot;&gt;AccountID&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(180, 10, 10); font-size: 14px;&quot;&gt;HeightRU&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(180, 10, 10); font-size: 14px;&quot;&gt;StartingPositionRU&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Screen_Empty_Parameters_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Empty_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DX_Create_Port_Records_from_Panel</name>
        <label>DX Create Port Records from Panel</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <flowName>DX_Create_Port_Records_from_Panel</flowName>
        <inputAssignments>
            <name>isModModel</name>
            <value>
                <elementReference>Get_Panel_Record_Details.Mod_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfMods</name>
            <value>
                <elementReference>Get_Panel_Record_Details.Number_of_Mods__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfPorts_No</name>
            <value>
                <elementReference>NumberOfPortRecords_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfPorts_Yes</name>
            <value>
                <elementReference>NumberOfPorts_Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfPortsIsUpdated</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PanelID</name>
            <value>
                <elementReference>Create_Panel_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DX_Error_Log_Creation</name>
        <label>Error Log Creation - Get Racks</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Panel Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Get Rack Layout Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Rack Layout</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Get Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Create_Panel_Record</name>
        <label>Error Log Creation - Create Panel Record</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Panel Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Create Panel Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Panel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Create Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Get_Cabinets_from_Asset</name>
        <label>Error Log Creation - Get Cabinets from Asset</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Panel Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Get Cabinets from Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Cabinets</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Get Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Update_Asset</name>
        <label>Error Log Creation - Update Asset</label>
        <locationX>842</locationX>
        <locationY>2030</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Panel Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Asset Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Update_Rack_Layouts</name>
        <label>Error Log Creation - Update Rack Layouts</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Panel Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Rack Layout Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Rack Layout</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedPanel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DC_Panel__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Rack_Layout__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Vacant_Rack_Layouts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Rack_Layout__c</objectType>
    </variables>
    <variables>
        <name>DataHallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FloorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HeightRU</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>iRackLayout</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Rack_Layout__c</objectType>
    </variables>
    <variables>
        <name>MeetMeRoomID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MRISuiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RacksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Rack_Layout__c</objectType>
    </variables>
    <variables>
        <name>ServiceOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartingPositionRU</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
