force-app/main/default/flows/DX_Route_CRN_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Case_Values</name>
        <label>Set Case Values</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>LocationOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CRN_Case.DX_Opportunity__r.Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Location_Is</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>QUEUE_NAME_CHICAGO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_CHI_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_HOUSTON</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_HOU_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_INDY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_INDY_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_KC_OPS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_KC_Ops_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_PHL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_PHL_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_STL_OPS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_STL_Ops_Queue</stringValue>
        </value>
    </constants>
    <decisions>
        <name>What_Location_Is</name>
        <label>What Location Is?</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCHIBuildingRecord</targetReference>
            </connector>
            <label>CHI</label>
        </rules>
        <rules>
            <name>HOU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetHOUBuildingRecord</targetReference>
            </connector>
            <label>HOU</label>
        </rules>
        <rules>
            <name>KC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetKCBuildingRecord</targetReference>
            </connector>
            <label>KC</label>
        </rules>
        <rules>
            <name>PHI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPHIBuildingRecord</targetReference>
            </connector>
            <label>PHI</label>
        </rules>
        <rules>
            <name>STL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSTLBuildingRecord</targetReference>
            </connector>
            <label>STL</label>
        </rules>
        <rules>
            <name>IND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetINDBuildingRecord</targetReference>
            </connector>
            <label>IND</label>
        </rules>
    </decisions>
    <description>Service Request Routing by Opportunity Location</description>
    <environments>Default</environments>
    <interviewLabel>Route CRN Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Route CRN Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CRN_Case</name>
        <label>Get CRN Case</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCHIBuildingRecord</name>
        <label>Get CHI Building Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_CHI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CHI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetHOUBuildingRecord</name>
        <label>Get HOU Building Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_HOU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetINDBuildingRecord</name>
        <label>Get IND Building Record</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_IND</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IND</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetKCBuildingRecord</name>
        <label>Get KC Building Record</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_KC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPHIBuildingRecord</name>
        <label>Get PHI Building Record</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_PHI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSTLBuildingRecord</name>
        <label>Get STL Building Record</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_STL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner_CHI</name>
        <label>Update Case Owner - CHI</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCHIBuildingRecord.Operations_Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_HOU</name>
        <label>Update Case Owner - HOU</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetHOUBuildingRecord.Operations_Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_IND</name>
        <label>Update Case Owner - IND</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetINDBuildingRecord.Operations_Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_KC</name>
        <label>Update Case Owner - KC</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetKCBuildingRecord.Operations_Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_PHI</name>
        <label>Update Case Owner - PHI</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetPHIBuildingRecord.Operations_Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_STL</name>
        <label>Update Case Owner - STL</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetSTLBuildingRecord.Operations_Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CRN_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
