force-app/main/default/flows/DX_Route_CRN_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Case_Values</name>
        <label>Set Case Values</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>LocationOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CRN_Case.DX_Opportunity__r.Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Location_Is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_CHI</name>
        <label>Set Queue CHI</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>QueueLocationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_CHICAGO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_HOU</name>
        <label>Set Queue HOU</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>QueueLocationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_HOUSTON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_IND</name>
        <label>Set Queue IND</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>QueueLocationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_INDY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_KC</name>
        <label>Set Queue KC</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>QueueLocationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_KC_OPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_PHI</name>
        <label>Set Queue PHI</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>QueueLocationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_PHL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_STL</name>
        <label>Set Queue STL</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>QueueLocationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_STL_OPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>QUEUE_NAME_CHICAGO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_CHI_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_HOUSTON</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_HOU_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_INDY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_INDY_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_KC_OPS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_KC_Ops_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_PHL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_PHL_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_STL_OPS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_STL_Ops_Queue</stringValue>
        </value>
    </constants>
    <decisions>
        <name>What_Location_Is</name>
        <label>What Location Is?</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_CHI</targetReference>
            </connector>
            <label>CHI</label>
        </rules>
        <rules>
            <name>HOU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_HOU</targetReference>
            </connector>
            <label>HOU</label>
        </rules>
        <rules>
            <name>KC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_KC</targetReference>
            </connector>
            <label>KC</label>
        </rules>
        <rules>
            <name>PHI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_PHI</targetReference>
            </connector>
            <label>PHI</label>
        </rules>
        <rules>
            <name>STL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_STL</targetReference>
            </connector>
            <label>STL</label>
        </rules>
        <rules>
            <name>IND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_IND</targetReference>
            </connector>
            <label>IND</label>
        </rules>
    </decisions>
    <description>Service Request Routing by Opportunity Location</description>
    <environments>Default</environments>
    <interviewLabel>Route CRN Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Route CRN Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CRN_Case</name>
        <label>Get CRN Case</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_Error_Log_Get_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueLocationName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Generate_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CRN_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Error_Log</name>
        <label>Generate Error Log</label>
        <locationX>1810</locationX>
        <locationY>866</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Route CRN Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Case Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Error_Log_Get_Records</name>
        <label>Generate Error Log</label>
        <locationX>2074</locationX>
        <locationY>758</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Route CRN Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Get Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Get</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
