force-app/main/default/flows/DX_Service_Request_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Bussines_Hours_Helper</name>
        <label>Call Business Hours Helper</label>
        <locationX>1238</locationX>
        <locationY>1637</locationY>
        <actionName>DX_BusinesHoursHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_After_Hours</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BHId</name>
            <value>
                <elementReference>Get_Bussines_Hours.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DX_BusinesHoursHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_AccountingQueue</name>
        <label>Set AccountingQueue</label>
        <locationX>3482</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_ACCOUNTING</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Chicago_BH</name>
        <label>Set Chicago BH</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>BusinessHoursName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SR_BH_Name_Chicago</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContractsQueue</name>
        <label>Set ContractsQueue</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_CONTRACTS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CX_Queue</name>
        <label>Set CX Queue</label>
        <locationX>3746</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_CUSTOMEREXPERIENCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Houston_BH</name>
        <label>Set Houston BH</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>BusinessHoursName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SR_BH_Name_Houston</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetQueueHouston</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Indianapolis_BH</name>
        <label>Set Indianapolis BH</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>BusinessHoursName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SR_BH_Name_Indianapolis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetQueueIndianapolis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Type</name>
        <label>Set Record Type</label>
        <locationX>1617</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_CRN_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Site</name>
        <label>Set Site</label>
        <locationX>3053</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Site</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DX_Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SR_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_STL_BH</name>
        <label>Set STL BH</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>BusinessHoursName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SR_BH_Name_STL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetQueueSTL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_Zone_Business_Hours</name>
        <label>Set Time Zone Business Hours</label>
        <locationX>1238</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>timeZoneBH</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bussines_Hours.TimeZoneSidKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Bussines_Hours_Helper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetKCQueue</name>
        <label>SetKCQueue</label>
        <locationX>1898</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_KC_OPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPHLQueue</name>
        <label>SetPHLQueue</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_PHL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetQueue</name>
        <label>SetQueueChigago</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_CHICAGO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bussines_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetQueueAfterHoursKC</name>
        <label>SetQueueAfterHoursKC</label>
        <locationX>974</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_KC_AFTER_HOUR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetQueueAfterHoursPHL</name>
        <label>SetQueueAfterHoursPHL</label>
        <locationX>1238</locationX>
        <locationY>1961</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_PHL_AFTER_HOURS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetQueueHouston</name>
        <label>SetQueueHouston</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_HOUSTON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bussines_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetQueueIndianapolis</name>
        <label>SetQueueIndianapolis</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_INDY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bussines_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetQueueSTL</name>
        <label>SetQueueSTL</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QUEUE_NAME_STL_OPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bussines_Hours</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>QUEUE_NAME_ACCOUNTING</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_Accounting_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_CHICAGO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_CHI_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_CONTRACTS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_Contracts_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_CUSTOMEREXPERIENCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_HOUSTON</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_HOU_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_INDY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_INDY_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_KC_AFTER_HOUR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_KC_After_Hour_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_KC_OPS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_KC_Ops_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_PHL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_PHL_OPS_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_PHL_AFTER_HOURS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_PHL_After_Hours_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUEUE_NAME_STL_OPS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_STL_Ops_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_CHICAGO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chicago</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_HOUSTON</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Houston</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_INDI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Indianapolis</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_INDI_733</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Indy 733</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_KC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Kansas City</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_KC_2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>KS7801</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_PHILADELPHIA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Philadelphia</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_STL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>STL210</stringValue>
        </value>
    </constants>
    <constants>
        <name>SITE_STL_900</name>
        <dataType>String</dataType>
        <value>
            <stringValue>STL900</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_BH_Name_Chicago</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_Chicago</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_BH_Name_Houston</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_Houston</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_BH_Name_Indianapolis</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_Indianapolis</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_BH_Name_STL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DX_STL</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_TYPE_ACCESS_REQUEST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Access Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_TYPE_ACCOUNTING</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_TYPE_CONTRACTS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contracts Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_TYPE_CROSS_CONNECT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cross Connect</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_TYPE_CUSTOMER_EXPERIENCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Experience Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_TYPE_EXPANSION_OF_SERVICES</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Expansion of Services</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_TYPE_LOGISTICS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Logistics</stringValue>
        </value>
    </constants>
    <constants>
        <name>SR_TYPE_REMOTE_HANDS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Remote Hands Support</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Site</name>
        <label>Site?</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Philadelphia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_PHILADELPHIA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPHLQueue</targetReference>
            </connector>
            <label>Philadelphia</label>
        </rules>
        <rules>
            <name>Kansas_City</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_KC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_KC_2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetKCQueue</targetReference>
            </connector>
            <label>Kansas City</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Site</name>
        <label>Has Site</label>
        <locationX>1832</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_with_After_Hours</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_After_Hours</name>
        <label>Is After Hours?</label>
        <locationX>1238</locationX>
        <locationY>1745</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Bussines_Hours_Helper</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_BH_Site_is</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CRN_Record_Type</name>
        <label>Is CRN Record Type?</label>
        <locationX>1617</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Other</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_CRN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Has_Location</targetReference>
            </connector>
            <label>Yes Is CRN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Has_Location</name>
        <label>Opportunity Has Location?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No, It Has No Location</defaultConnectorLabel>
        <rules>
            <name>Yes_it_has_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Opportunity__r.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_CRN_Cases</targetReference>
            </connector>
            <label>Yes, it has Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_with_After_Hours</name>
        <label>Site with After Hours</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Decision_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Chicago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_CHICAGO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Chicago_BH</targetReference>
            </connector>
            <label>Is Chicago?</label>
        </rules>
        <rules>
            <name>Is_Houston</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_HOUSTON</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Houston_BH</targetReference>
            </connector>
            <label>Is Houston?</label>
        </rules>
        <rules>
            <name>Is_Indianapolis</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_INDI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_INDI_733</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Indianapolis_BH</targetReference>
            </connector>
            <label>Is Indianapolis?</label>
        </rules>
        <rules>
            <name>Is_STL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_STL</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_STL_900</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_STL_BH</targetReference>
            </connector>
            <label>Is STL?</label>
        </rules>
    </decisions>
    <decisions>
        <name>SR_Type</name>
        <label>SR Type?</label>
        <locationX>3053</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Generate_Error_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SR_Type_Consider_After_Hours</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SR_TYPE_CROSS_CONNECT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SR_TYPE_REMOTE_HANDS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SR_TYPE_LOGISTICS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SR_TYPE_ACCESS_REQUEST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Site</targetReference>
            </connector>
            <label>SR Type After Hours</label>
        </rules>
        <rules>
            <name>Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SR_TYPE_CONTRACTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ContractsQueue</targetReference>
            </connector>
            <label>Contracts</label>
        </rules>
        <rules>
            <name>Accounting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SR_TYPE_ACCOUNTING</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccountingQueue</targetReference>
            </connector>
            <label>Accounting</label>
        </rules>
        <rules>
            <name>Customer_Experience</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SR_TYPE_CUSTOMER_EXPERIENCE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CX_Queue</targetReference>
            </connector>
            <label>Customer Experience</label>
        </rules>
        <rules>
            <name>Expansion_of_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SR_TYPE_EXPANSION_OF_SERVICES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_to_Account_Owner</targetReference>
            </connector>
            <label>Expansion of Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_BH_Site_is</name>
        <label>What BH Site is?</label>
        <locationX>974</locationX>
        <locationY>1853</locationY>
        <defaultConnector>
            <targetReference>SetQueueAfterHoursPHL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Indianapolis?</defaultConnectorLabel>
        <rules>
            <name>Is_Chicago_BH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_CHICAGO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetQueueAfterHoursKC</targetReference>
            </connector>
            <label>Is Chicago BH?</label>
        </rules>
        <rules>
            <name>Is_Houston_BH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_HOUSTON</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetQueueAfterHoursKC</targetReference>
            </connector>
            <label>Is Houston BH?</label>
        </rules>
        <rules>
            <name>Is_STL_BH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_STL</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SITE_STL_900</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetQueueAfterHoursKC</targetReference>
            </connector>
            <label>Is STL BH?</label>
        </rules>
    </decisions>
    <description>Routes a Service Request to a Queue</description>
    <environments>Default</environments>
    <formulas>
        <name>FilterBussinesHours</name>
        <dataType>String</dataType>
        <expression>IF(&quot;Chicago&quot; == {!Site},&quot;DX_Chicago&quot;,
    IF(&quot;Houston&quot; == {!Site},&quot;DX_Houston&quot;,
            IF(&quot;Philadelphia&quot; == {!Site},&quot;DX_Philadelphia&quot;,
                IF(&quot;Kansas City&quot; == {!Site},&quot;DX_KC&quot;,
                    IF(&quot;Indianapolis&quot; == {!Site},&quot;DX_Indianapolis&quot;,
                       IF(&quot;Philadelphia&quot; == {!Site},&quot;DX_Philadelphia&quot;,
                            IF(&quot;STL&quot; == {!Site},&quot;DX_STL&quot;,
                               &quot;None&quot;)
                        )
                   )
               )
        )
    )
)</expression>
    </formulas>
    <interviewLabel>DX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX_Service_Request_Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bussines_Hours</name>
        <label>Get Business Hours</label>
        <locationX>1238</locationX>
        <locationY>1421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Time_Zone_Business_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessHoursName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>2690</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>2690</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <targetReference>Generate_Error_Log_Update_Case_Owner</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_to_Account_Owner</name>
        <label>Update Case Owner to Account Owner</label>
        <locationX>4010</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1491</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Error_Log</name>
        <label>Generate Error Log</label>
        <locationX>3218</locationX>
        <locationY>971</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX_Service_Request_Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Get Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Get Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Error_Log_Update_Case_Owner</name>
        <label>Generate Error Log</label>
        <locationX>2954</locationX>
        <locationY>1079</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX_Service_Request_Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Case Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Route_CRN_Cases</name>
        <label>Route CRN Cases</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <flowName>DX_Route_CRN_Cases</flowName>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BusinessHoursName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Site</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeZoneBH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
