force-app/main/default/flows/DX_Save_Cross_Connect_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CONNECTION_DATE</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!Get_Cross_Connect_Details.Xconnect_date__c}))+ &quot;-&quot; + TEXT(DAY({!Get_Cross_Connect_Details.Xconnect_date__c}))+ &quot;-&quot; + TEXT(YEAR({!Get_Cross_Connect_Details.Xconnect_date__c}))</expression>
    </formulas>
    <interviewLabel>DX Save Cross Connect Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Save Cross Connect Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cross_Connect_Details</name>
        <label>Get Cross Connect Details</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Cross_Connect_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origination_Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cross_Connect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cross_Connect_Name</name>
        <label>Update Cross Connect Name</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Create_Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Cross_Connect_Details.Origination_Port__r.Name}.{!CONNECTION_DATE}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cross_Connect_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origination_Port__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DC_Cross_Connect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log_Error</name>
        <label>Create Log Error</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Save Cross Connect Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Update Cross Connect Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Cross Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
