force-app/main/default/flows/DX_Update_Record_Panel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Port_To_Delete_List</name>
        <label>Add Port To Delete List</label>
        <locationX>754</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>ListOfPortsRecordsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Port_To_Delete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Position_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assign Curren Number</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>ListOfNumbersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StartNumberToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Range_Assignment_If_No</name>
        <label>Range Assignment If No</label>
        <locationX>622</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>FinishNumberToDelete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfPorts_No_After</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartNumberToDelete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfPorts_No_Before</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Range_Assignment_If_Yes</name>
        <label>Range Assignment If Yes</label>
        <locationX>358</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>FinishNumberToDelete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfPorts_Yes_After</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartNumberToDelete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfPorts_Yes_Before</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Number</name>
        <label>Update Range</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>StartNumberToDelete</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Number_Iteration</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Status_Homeun</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Status Homeun</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Port_Records_Related</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_1.Port_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>No Homerun</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>All_Port_Status_Homerun</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_Port_To_Delete</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find Port To Delete</label>
        <locationX>754</locationX>
        <locationY>1271</locationY>
        <assignNextValueToReference>currentItem_Find_Port_To_Delete</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Port_Records_Related</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_Port_To_Delete.Short_Name__c</leftValueReference>
            <operator>EndsWith</operator>
            <rightValue>
                <elementReference>CurrentShortName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_Port_To_Delete_List</targetReference>
        </connector>
    </collectionProcessors>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>We cannot reduce the number of ports on this panel as some of them are already occupied</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>All_Port_Status_Homerun</name>
        <label>All Port Status = Homerun?</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Port_Records_Related</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Filter_Status_Homeun</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mod_Model</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mod_Model</name>
        <label>Mod Model?</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Range_Assignment_If_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mod_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Range_Assignment_If_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_Iteration</name>
        <label>Number Iteration</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Position_Iteration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartNumberToDelete</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FinishNumberToDelete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>Start Number &gt; Finish Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Number_of_Ports</name>
        <label>Total Number of Ports</label>
        <locationX>886</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Greater</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfPorts_No_After</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NumberOfPorts_No_Before</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPorts_Yes_After</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NumberOfPorts_Yes_Before</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Port_Records_from_Panel</targetReference>
            </connector>
            <label>Is Greater</label>
        </rules>
        <rules>
            <name>Is_Less</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfPorts_No_After</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumberOfPorts_No_Before</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfPorts_Yes_After</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumberOfPorts_Yes_Before</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Port_Records_Related</targetReference>
            </connector>
            <label>Is Less</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentShortName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Position_Iteration}-1) &amp; &quot;/&quot; &amp; TEXT({!Position_Iteration})</expression>
    </formulas>
    <formulas>
        <name>NumberOfPorts_No_After</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_of_Ports_Tall__c}*{!$Record.Number_of_Ports_Wide__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumberOfPorts_No_Before</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Number_of_Ports_Tall__c}*{!$Record__Prior.Number_of_Ports_Wide__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NumberOfPorts_Yes_After</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_of_Ports_Wide_per_Mod__c}*{!$Record.Number_of_Ports_Tall_per_Mod__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumberOfPorts_Yes_Before</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Number_of_Ports_Wide_per_Mod__c}*{!$Record__Prior.Number_of_Ports_Tall_per_Mod__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StartPositionToCreate</name>
        <dataType>Number</dataType>
        <expression>IF(ISPICKVAL({!$Record.Mod_Model__c}, &quot;Yes&quot;), {!NumberOfPorts_Yes_Before}+1, {!NumberOfPorts_No_Before}+1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DX Update Record Panel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DX Update Record Panel</label>
    <loops>
        <name>Position_Iteration</name>
        <label>Position Iteration</label>
        <locationX>666</locationX>
        <locationY>1163</locationY>
        <collectionReference>ListOfNumbersToDelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Port_To_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Port_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Port_Records</name>
        <label>Delete Port Records</label>
        <locationX>666</locationX>
        <locationY>1571</locationY>
        <faultConnector>
            <targetReference>Error_Log_Creation_Delete_Port_Records</targetReference>
        </faultConnector>
        <inputReference>ListOfPortsRecordsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Port_Records_Related</name>
        <label>Get Port Records Related</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Status_Homeun</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_Creation_Get_Port_Records_Related</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Port__c</object>
        <sortField>Short_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Total_Number_of_Ports</targetReference>
        </connector>
        <object>DC_Panel__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Port_Records_from_Panel</name>
        <label>Create Port Records from Panel</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>DX_Create_Port_Records_from_Panel</flowName>
        <inputAssignments>
            <name>isModModel</name>
            <value>
                <elementReference>$Record.Mod_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewPortsStarPosition</name>
            <value>
                <elementReference>StartPositionToCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfMods</name>
            <value>
                <elementReference>$Record.Number_of_Mods__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfPorts_No</name>
            <value>
                <elementReference>NumberOfPorts_No_After</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfPorts_Yes</name>
            <value>
                <elementReference>NumberOfPorts_Yes_After</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfPortsIsUpdated</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PanelID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Delete_Port_Records</name>
        <label>Error Log Creation - Delete Port Records</label>
        <locationX>930</locationX>
        <locationY>1679</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Update Record Panel  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Delete Port Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Port</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Delete Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Log_Creation_Get_Port_Records_Related</name>
        <label>Error Log Creation - Get Port Records Related</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <flowName>DX_Error_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>DX Update Record Panel  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodName</name>
            <value>
                <stringValue>Get Port Records Related</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Port</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TypeOfOperation</name>
            <value>
                <stringValue>Get Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Port__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Port_To_Delete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Port__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Port__c</objectType>
    </variables>
    <variables>
        <name>FinishNumberToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ListOfNumbersToDelete</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ListOfPortsRecordsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Port__c</objectType>
    </variables>
    <variables>
        <name>StartNumberToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
