force-app/main/default/flows/Map_Fiber_Cables_To_Ports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>add_Id_To_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>objectToMapIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_collected_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_collected_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Port_To_Port_to_Save</name>
        <label>Add Port To Port to Save</label>
        <locationX>264</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>portsToSave</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Port_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Results_from_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Port_Field_Add_to_collection</name>
        <label>Set Port Field &amp; Add to collection</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Get_Port_Record.Panel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Results_from_Mapping.baseObjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Port_To_Port_to_Save</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Map Fiber Cables To Ports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Map Fiber Cables To Ports</label>
    <loops>
        <name>Iterate_over_collected_Records</name>
        <label>Iterate over collected Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_All_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mapping_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Results_from_Mapping</name>
        <label>Loop over Results from Mapping</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>mappingObject.mappedRecords.mappedObjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Port_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Assets</name>
        <label>Get All Assets</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_collected_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DX_Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Port_Record</name>
        <label>Get Port Record</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Port_Field_Add_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Results_from_Mapping.relatedObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Port__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ports</name>
        <label>Update Ports</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <inputReference>portsToSave</inputReference>
    </recordUpdates>
    <screens>
        <name>mappedDebugItems</name>
        <label>mappedDebugItems</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_over_Results_from_Mapping</targetReference>
        </connector>
        <fields>
            <name>passed_Parameter</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Record Item to
                Map:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color:
                rgb(255, 255, 255); color: rgb(68, 68,
                68);&quot;&gt;{!mappingObject.mappedRecords}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mapping_Screen</name>
        <label>Mapping Screen</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>mappedDebugItems</targetReference>
        </connector>
        <fields>
            <name>mappingObject</name>
            <extensionName>RDraw:objectRecordMapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>secondObjectType</name>
                <value>
                    <stringValue>RDraw__DC_Port__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstObjectRecords</name>
                <value>
                    <elementReference>objectToMapIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Map Fiber Cables to Ports</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstObjectType</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callFlowNextOnProceed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requireAllMappings</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objectToMapIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>portsToSave</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Port__c</objectType>
    </variables>
    <variables>
        <description>The Case Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectMap</name>
        <apexClass>RDraw__SObjectMap</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
