force-app/main/default/flows/N1_Access_Management_Triggered_Permission_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Accounting_Added</name>
        <label>Assign Accounting Added</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedAccounting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accounting_Removed</name>
        <label>Assign Accounting Removed</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedAccounting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contracts_Added</name>
        <label>Assign Contracts Added</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedContracts</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contracts_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contracts_Removed</name>
        <label>Assign Contracts Removed</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedContracts</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contracts_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventory_Added</name>
        <label>Assign Inventory Added</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_Need</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventory_Removed</name>
        <label>Assign Inventory Removed</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_Need</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Not_a_User</name>
        <label>Not a User</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>This Contact is not User in the Customer Portal.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Accounting_Permission</name>
        <label>Accounting Permission</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Decision_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddAccountingPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoveAccountingPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accounting_Added</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Remove_Accounting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoveAccountingPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddAccountingPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accounting_Removed</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contracts_Needed</name>
        <label>Contracts Needed?</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Inventory_Permission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Update_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddedRemovedContracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contracts_Permission_Id</targetReference>
            </connector>
            <label>Update Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contracts_Permission</name>
        <label>Contracts Permission</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Contracts_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddContractPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoveContractPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contracts_Added</targetReference>
            </connector>
            <label>Add Contracts</label>
        </rules>
        <rules>
            <name>Copy_1_of_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoveContractPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddContractPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contracts_Removed</targetReference>
            </connector>
            <label>Remove Contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_9</name>
        <label>Accounting Needed?</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Contracts_Permission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddedRemovedAccounting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounting_Permission_Id</targetReference>
            </connector>
            <label>Update Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Need</name>
        <label>Inventory Need?</label>
        <locationX>314</locationX>
        <locationY>2147</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddedRemovedInventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inventory_Permission_Id</targetReference>
            </connector>
            <label>Update Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Permission</name>
        <label>Inventory Permission</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Inventory_Need</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddInventoryPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoveInventoryPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inventory_Added</targetReference>
            </connector>
            <label>Add Inventory</label>
        </rules>
        <rules>
            <name>Remove_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoveInventoryPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddInventoryPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inventory_Removed</targetReference>
            </connector>
            <label>Remove Inventory</label>
        </rules>
    </decisions>
    <description>Looks for changes on Access Management Object and assigns or removes permission sets based on changes.</description>
    <environments>Default</environments>
    <formulas>
        <name>AddAccountingPermission</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND ( ISNEW(), {!$Record.Accounting_Contact__c} ) ,
AND(NOT(ISNEW()), ISCHANGED({!$Record.Accounting_Contact__c}),{!$Record.Accounting_Contact__c})
)</expression>
    </formulas>
    <formulas>
        <name>AddContractPermission</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND ( ISNEW(), {!$Record.Contracts_Contact__c} ) ,
AND(NOT(ISNEW()), ISCHANGED({!$Record.Contracts_Contact__c}),{!$Record.Contracts_Contact__c})
)</expression>
    </formulas>
    <formulas>
        <name>AddInventoryPermission</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND ( ISNEW(), {!$Record.N1_Inventory_Contact__c}) ,
AND(NOT(ISNEW()), ISCHANGED({!$Record.N1_Inventory_Contact__c}),{!$Record.N1_Inventory_Contact__c})
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>RemoveAccountingPermission</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
ISCHANGED({!$Record.Accounting_Contact__c}),
NOT({!$Record.Accounting_Contact__c})
)</expression>
    </formulas>
    <formulas>
        <name>RemoveContractPermission</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
ISCHANGED({!$Record.Contracts_Contact__c}),
NOT({!$Record.Contracts_Contact__c})
)</expression>
    </formulas>
    <formulas>
        <name>RemoveInventoryPermission</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
ISCHANGED({!$Record.N1_Inventory_Contact__c}),
NOT({!$Record.N1_Inventory_Contact__c})
)</expression>
    </formulas>
    <interviewLabel>N1_Access Management Triggered Permission Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N1_Access Management Triggered Permission Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Permission_Set_Assignment_Platform_Event_Accounting</name>
        <label>Permission Set Assignment Platform Event: Accounting</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Contracts_Permission</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>AddedRemovedAccounting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_Set_Id__c</field>
            <value>
                <elementReference>Get_Accounting_Permission_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Id__c</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Permission_Set_Assignment__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Permission_Set_Assignment_Platform_Event_Contracts</name>
        <label>Permission Set Assignment Platform Event: Contracts</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Inventory_Permission</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>AddedRemovedContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_Set_Id__c</field>
            <value>
                <elementReference>Get_Contracts_Permission_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Id__c</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Permission_Set_Assignment__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Permission_Set_Assignment_Platform_Event_Inventory</name>
        <label>Permission Set Assignment Platform Event: Inventory</label>
        <locationX>182</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>AddedRemovedInventory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_Set_Id__c</field>
            <value>
                <elementReference>Get_Inventory_Permission_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Id__c</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Permission_Set_Assignment__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounting_Permission_Id</name>
        <label>Get Accounting Permission Id</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignment_Platform_Event_Accounting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Portal_Accounting_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_Permission_Id</name>
        <label>Get Contracts Permission Id</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignment_Platform_Event_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Portal_Contracts_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Permission_Id</name>
        <label>Get Inventory Permission Id</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignment_Platform_Event_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Portal_Inventory_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounting_Permission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Not_a_User</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <object>DX_Access_Managment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddedRemovedAccounting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddedRemovedContracts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddedRemovedInventory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
