force-app/main/default/flows/N1_Access_Management_Triggered_Permission_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Added</name>
        <label>Added</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedAccounting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounting_Permission_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contracts</name>
        <label>Add Contracts</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedContracts</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contracts_Permission_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Added Inventory</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Inventory_Permission_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>Removed Inventory</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inventory_Permission_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove</name>
        <label>Remove</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedAccounting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounting_Permission_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Contracts</name>
        <label>Remove Contracts</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>AddedRemovedContracts</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contracts_Permission_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Added_or_Removed</name>
        <label>Accounting Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Contracts_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unchanged</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accounting_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Added</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>AddedDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accounting_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accounting_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Added</targetReference>
            </connector>
            <label>Added</label>
        </rules>
        <rules>
            <name>Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accounting_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accounting_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contracts_Contact</name>
        <label>Contracts Contact</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unchanged</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contracts_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Contracts</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Copy_1_of_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contracts_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contracts_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contracts</targetReference>
            </connector>
            <label>Added</label>
        </rules>
        <rules>
            <name>Copy_1_of_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contracts_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contracts_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Contracts</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Inventory Contact</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Unchanged</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N1_Inventory_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assignment_5</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
        <rules>
            <name>AddedInventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.N1_Inventory_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N1_Inventory_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_5</targetReference>
            </connector>
            <label>Added</label>
        </rules>
        <rules>
            <name>RemovedInventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.N1_Inventory_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N1_Inventory_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_6</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
    </decisions>
    <description>Looks for changes on Access Management Object and assigns or removes permission sets based on changes.</description>
    <environments>Default</environments>
    <interviewLabel>N1_Access Management Triggered Permission Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N1_Access Management Triggered Permission Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounting_Permission_Id</name>
        <label>Get Accounting Permission Id</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N1_Dynamic_Permission_Set_Change_Flow_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Portal_Accounting_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_Permission_Id</name>
        <label>Get Contracts Permission Id</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_Contracts_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Portal_Contracts_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Permission_Id</name>
        <label>Get Inventory Permission Id</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_Inventory_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Portal_Inventory_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Added_or_Removed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <object>DX_Access_Managment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>N1_Dynamic_Permission_Set_Change_Flow_1</name>
        <label>Updating Accounting Permissions</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Contracts_Contact</targetReference>
        </connector>
        <flowName>N1_Dynamic_Permission_Set_Change</flowName>
        <inputAssignments>
            <name>AddedRemoved</name>
            <value>
                <elementReference>AddedRemovedAccounting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PermissionSet</name>
            <value>
                <elementReference>Get_Accounting_Permission_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User</name>
            <value>
                <elementReference>Get_User</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Updating_Contracts_Permissions</name>
        <label>Updating Contracts Permissions</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <flowName>N1_Dynamic_Permission_Set_Change</flowName>
        <inputAssignments>
            <name>AddedRemoved</name>
            <value>
                <elementReference>AddedRemovedContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PermissionSet</name>
            <value>
                <elementReference>Get_Contracts_Permission_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User</name>
            <value>
                <elementReference>Get_User</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Updating_Inventory_Permissions</name>
        <label>Updating Inventory Permissions</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <flowName>N1_Dynamic_Permission_Set_Change</flowName>
        <inputAssignments>
            <name>AddedRemoved</name>
            <value>
                <elementReference>AddedRemovedInventory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PermissionSet</name>
            <value>
                <elementReference>Get_Inventory_Permission_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User</name>
            <value>
                <elementReference>Get_User</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AddedRemovedAccounting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddedRemovedContracts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddedRemovedInventory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
