force-app/main/default/flows/N1_Dynamic_Permission_Set_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Add or Remove?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Delete_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Removed</defaultConnectorLabel>
        <rules>
            <name>Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddedRemoved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Permission_Set_to_User</targetReference>
            </connector>
            <label>Added</label>
        </rules>
    </decisions>
    <description>Adds or Removes Permission Sets for an User and Permission Set Input</description>
    <environments>Default</environments>
    <interviewLabel>N1_Dynamic Permission Set Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N1_Dynamic Permission Set Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Permission_Set_to_User</name>
        <label>Add Permission Set to User</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PermissionSet.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records_1</name>
        <label>Remove Permission Set from User</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSet.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddedRemoved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
