force-app/main/default/flows/N1_Permission_Set_Assignment_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Action Decision</label>
        <locationX>534</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Bad Value</defaultConnectorLabel>
        <rules>
            <name>Added</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Existing_Assignment</targetReference>
            </connector>
            <label>Good Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Add, Delete or Error Handle</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Error Handling - no action needed</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Permission_Set</targetReference>
            </connector>
            <label>Added</label>
        </rules>
        <rules>
            <name>Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Permission_Set</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
    </decisions>
    <description>Adds or removes permission sets once platform event is triggered.</description>
    <environments>Default</environments>
    <interviewLabel>N1 Permission Set Assignment Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N1 Permission Set Assignment Platform Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Permission_Set</name>
        <label>Add Permission Set</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>$Record.Permission_Set_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Permission_Set</name>
        <label>Remove Permission Set</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <inputReference>Check_for_Existing_Assignment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Check_for_Existing_Assignment</name>
        <label>Check for Existing Assignment</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Permission_Set_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>Permission_Set_Assignment__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
