force-app/main/default/flows/N1_Rack_Layout_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_to_Record_List</name>
        <label>Add to Record List</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RackLayoutstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iRackLayout</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_Record_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Reduce iRackLayouts</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>iRackLayouts</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_to_Make_Another</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Record_Variables</name>
        <label>Clear Record Variables</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>iRackLayout.Rack__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iRackLayout.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iRackLayout.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iRackLayout.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_iRackLayout</name>
        <label>set iRackLayout</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>iRackLayouts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Number_of_Rack_Units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_to_Make_Another</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Variables</name>
        <label>Set Record Variables</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>iRackLayout.Rack__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iRackLayout.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vacant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iRackLayout.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iRackLayouts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iRackLayout.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iRackLayouts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Record_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_to_Make_Another</name>
        <label>Check to Make Another</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iRackLayouts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Variables</targetReference>
            </connector>
            <label>Another?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>N1 Rack Layout Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N1 Rack Layout Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Rack Layouts</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputReference>RackLayoutstoCreate</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_iRackLayout</targetReference>
        </connector>
        <object>DC_Rack__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>iRackLayout</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Rack_Layout__c</objectType>
    </variables>
    <variables>
        <name>iRackLayouts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RackLayoutstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Rack_Layout__c</objectType>
    </variables>
</Flow>
