force-app/main/default/flows/N1_Set_Ops_Teams_to_Follow_SRs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assignment_CHI</name>
        <label>Assignment: CHI</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SelectedGroupMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ops_Team_CHI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_HOU</name>
        <label>Assignment: HOU</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SelectedGroupMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ops_Team_HOU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_IND</name>
        <label>Assignment: IND</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SelectedGroupMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ops_Team_IND</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_KC</name>
        <label>Assignment: KC</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SelectedGroupMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ops_Team_KC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_PHI</name>
        <label>Assignment: PHI</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SelectedGroupMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ops_Team_PHI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_STL</name>
        <label>Assignment: STL</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SelectedGroupMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ops_Team_STL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_There_A_Dupe</name>
        <label>Is There A Dupe?</label>
        <locationX>1062</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dupe Exists</defaultConnectorLabel>
        <rules>
            <name>No_Dupes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Follow_Dupes.SubscriberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_The_SR</targetReference>
            </connector>
            <label>No Dupes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_SR_s_market</name>
        <label>What is the SR&apos;s market?</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>717 S Wells</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ops_Team_CHI</targetReference>
            </connector>
            <label>CHI</label>
        </rules>
        <rules>
            <name>HOU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1301 Fannin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ops_Team_HOU</targetReference>
            </connector>
            <label>HOU</label>
        </rules>
        <rules>
            <name>IND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indy Telcom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ops_Team_IND</targetReference>
            </connector>
            <label>IND</label>
        </rules>
        <rules>
            <name>KC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1102 Grand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7801 Nieman Road</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ops_Team_KC</targetReference>
            </connector>
            <label>KC</label>
        </rules>
        <rules>
            <name>PHI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>401 N Broad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ops_Team_PHI</targetReference>
            </connector>
            <label>PHI</label>
        </rules>
        <rules>
            <name>STL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>210 N Tucker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>900 Walnut</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ops_Team_STL</targetReference>
            </connector>
            <label>STL</label>
        </rules>
    </decisions>
    <description>When an SR is created/updated, this has all users in the operations team in the SR&apos;s market &quot;follow&quot; the SR, so subsequent updates appear in their SR feed.</description>
    <environments>Default</environments>
    <interviewLabel>N1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N1_Set Ops Teams to Follow SRs</label>
    <loops>
        <name>Loop_Through_SR_Locations_Ops_Team</name>
        <label>Loop Through SR Location&apos;s Ops Team</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <collectionReference>SelectedGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Follow_Dupes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Updates each user to &quot;follow&quot; the SR.</description>
        <name>Follow_The_SR</name>
        <label>&quot;Follow&quot; The SR</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Loop_Through_SR_Locations_Ops_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>Loop_Through_SR_Locations_Ops_Team.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Checks to see if the user is already following the SR.</description>
        <name>Check_for_Follow_Dupes</name>
        <label>Check for &quot;Follow&quot; Dupes</label>
        <locationX>1062</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Dupe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_SR_Locations_Ops_Team.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Team_CHI</name>
        <label>Get Ops Team: CHI</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_CHI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GVB000002h8Iv</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Team_HOU</name>
        <label>Get Ops Team: HOU</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_HOU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GVB000002h84W</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Team_IND</name>
        <label>Get Ops Team: IND</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_IND</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GVB000002h8M9</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Team_KC</name>
        <label>Get Ops Team: KC</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_KC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GVB000002h82n</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Team_PHI</name>
        <label>Get Ops Team: PHI</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_PHI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GVB000002h7wL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Team_STL</name>
        <label>Get Ops Team: STL</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_STL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GVB000002h8CT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_SR_s_market</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
</Flow>
