force-app/main/default/flows/N1_Set_Cabinet_Dimensions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <description>Set or update cabinet dimensions based on the Cabinet Type value assigned to it.</description>
    <environments>Default</environments>
    <interviewLabel>N1_Set Cabinet Dimensions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N1_Set Cabinet Dimensions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cabinet_Type</name>
        <label>Get Cabinet Type Details</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Cabinet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cabinet_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cabinet_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cabinet</name>
        <label>Update Cabinet</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Cabinet_Chassis_Weight_lbs__c</field>
            <value>
                <elementReference>Get_Cabinet_Type.Weight_lbs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depth_in__c</field>
            <value>
                <elementReference>Get_Cabinet_Type.Depth_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height_RU__c</field>
            <value>
                <elementReference>Get_Cabinet_Type.Height_RU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Width_in__c</field>
            <value>
                <elementReference>Get_Cabinet_Type.Width_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cabinet_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cabinet_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>DC_Cabinet__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
