force-app/main/default/flows/S1_Cross_Connect_Before_Save_Validate_Ports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <name>Destination_Port_Error</name>
        <label>Destination Port Error</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <customErrorMessages>
            <errorMessage>Destination Port is already occupied.</errorMessage>
            <fieldSelection>Destination_Port__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Origination_Port_Error</name>
        <label>Origination Port Error</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Get_Destination_Port_Cross_Connect_Origination</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Origination Port is already occupied.</errorMessage>
            <fieldSelection>Origination_Port__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Destination_Port_Cross_Connects_Found</name>
        <label>Destination Port Cross Connects Found?</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Destination_Port_Cross_Connect_Origination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Destination_Port_Cross_Connect_Destination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Destination_Port_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origination_Port_Cross_Connects_Found</name>
        <label>Origination Port Cross Connects Found?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_Destination_Port_Cross_Connect_Origination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Origination_Port_Cross_Connect_Destination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Origination_Port_Cross_Connect_Origination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Origination_Port_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Cross Connect | Before Save | Validate Ports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cross Connect | Before Save | Validate Ports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Destination_Port_Cross_Connect_Destination</name>
        <label>Get Destination Port Cross Connect (Destination)</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Destination_Port_Cross_Connects_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destination_Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Xconnect_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cross_Connect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Destination_Port_Cross_Connect_Origination</name>
        <label>Get Destination Port Cross Connect (Origination)</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Destination_Port_Cross_Connect_Destination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origination_Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Port__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Xconnect_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cross_Connect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Origination_Port_Cross_Connect_Destination</name>
        <label>Get Origination Port Cross Connect (Destination)</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Origination_Port_Cross_Connects_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destination_Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Xconnect_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cross_Connect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Origination_Port_Cross_Connect_Origination</name>
        <label>Get Origination Port Cross Connect (Origination)</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Origination_Port_Cross_Connect_Destination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origination_Port__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origination_Port__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Xconnect_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DC_Cross_Connect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Origination_Port_Cross_Connect_Origination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Xconnect_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </filters>
        <object>DC_Cross_Connect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
