force-app/main/default/flows/Select_Rack_Row_Rack_and_Panel_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_the_Rack_Row_to_the_list_to_display_to_users</name>
        <label>Add the Rack Row to the list to display to users</label>
        <locationX>270</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>rackRowsToDisplayToUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Rack_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Rack_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_this_item_to_the_total</name>
        <label>Add this item to the total</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>totalUToAllocate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_total_Sum_of_Size_to_Allocate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_total_Sum_of_Size_to_Allocate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_empty_space_in_this_rack_row</name>
        <label>Add to the empty space in this rack row</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>currentRowAvailableSpace</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Racks_in_a_Row.Available_RU_Space__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Racks_in_a_Row</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Panel_Assignments</name>
        <label>Assign Selected Panel Assignments</label>
        <locationX>50</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>selectedPanelAssignments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rackRowVisualSelection.selectedPanelAssignments</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_the_CurrentRowAvailableSpace</name>
        <label>Clear the CurrentRowAvailableSpace</label>
        <locationX>402</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>currentRowAvailableSpace</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Racks_for_Rack_Row</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_this_Row_have_enough_space_to_display_to_the_user</name>
        <label>Does this Row have enough space to display to the user?</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Rack_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not have enough space, continue</defaultConnectorLabel>
        <rules>
            <name>Has_enough_space</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRowAvailableSpace</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>totalUToAllocate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_the_Rack_Row_to_the_list_to_display_to_users</targetReference>
            </connector>
            <label>Has enough space</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_all_panels_Assigned</name>
        <label>Were all panels Assigned?</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rack_and_Panel_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All panels were not assigned</defaultConnectorLabel>
        <rules>
            <name>All_panels_were_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rackRowVisualSelection.allPanelsAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Panel_Assignments</targetReference>
            </connector>
            <label>All panels were assigned</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RackRowChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meet_Me_Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meetmeRoomId</elementReference>
            </value>
        </filters>
        <object>DC_Rack_Row__c</object>
        <sortField>Row_No__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rackRowsToDisplayChoiceSet</name>
        <collectionReference>rackRowsToDisplayToUser</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DC_Rack_Row__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Select Rack Row, Rack and Panel Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Rack Row, Rack and Panel Selection</label>
    <loops>
        <name>Calculate_total_Sum_of_Size_to_Allocate</name>
        <label>Calculate total Sum of Size to Allocate</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <collectionReference>sizesToAllocate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_this_item_to_the_total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Rack_Rows_for_Meet_Me_Room</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Rack_Rows</name>
        <label>Iterate over Rack Rows</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <collectionReference>Get_Rack_Rows_for_Meet_Me_Room</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_the_CurrentRowAvailableSpace</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Rack_Row_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Racks_in_a_Row</name>
        <label>Loop Over Racks in a Row</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Racks_for_Rack_Row</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_the_empty_space_in_this_rack_row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_this_Row_have_enough_space_to_display_to_the_user</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Rack_Rows_for_Meet_Me_Room</name>
        <label>Get Rack Rows for Meet Me Room</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Rack_Rows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meet_Me_Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meetmeRoomId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Rack_Row__c</object>
        <sortField>Row_No__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Racks_for_Rack_Row</name>
        <label>Get Racks for Rack Row</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Racks_in_a_Row</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rack_Row__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_over_Rack_Rows.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Rack__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Rack_and_Panel_Selection</name>
        <label>Rack and Panel Selection</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Were_all_panels_Assigned</targetReference>
        </connector>
        <fields>
            <name>rackRowVisualSelection</name>
            <extensionName>c:selectRackAndPanelFromRackRow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>pickRackRow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>desiredSelectionSizes</name>
                <value>
                    <elementReference>sizesToAllocate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceAsset</name>
                <value>
                    <elementReference>assetToAssignOrSplit</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rack_Row_Selection</name>
        <label>Rack Row Selection</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rack_and_Panel_Selection</targetReference>
        </connector>
        <fields>
            <name>pickRackRow</name>
            <choiceReferences>rackRowsToDisplayChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick the Rack Row you are interested in</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;There were Rack Rows that could not accommodate your total size of units to allocate&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_total_Sum_of_Size_to_Allocate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assetToAssignOrSplit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentRowAvailableSpace</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>meetmeRoomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rackRowsToDisplayToUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Rack_Row__c</objectType>
    </variables>
    <variables>
        <name>selectedPanelAssignments</name>
        <apexClass>PanelAssignment</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sizesToAllocate</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalUToAllocate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
