force-app/main/default/flows/Select_Rack_Row_Rack_and_Panel_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <dynamicChoiceSets>
        <name>RackRowChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meet_Me_Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meetmeRoomId</elementReference>
            </value>
        </filters>
        <object>DC_Rack_Row__c</object>
        <sortField>Row_No__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Select Rack Row, Rack and Panel Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Rack Row, Rack and Panel Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Rack_Rows_for_Meet_Me_Room</name>
        <label>Get Rack Rows for Meet Me Room</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rack_Row_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meet_Me_Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meetmeRoomId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DC_Rack_Row__c</object>
        <sortField>Row_No__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Rack_and_Panel_Selection</name>
        <label>Rack and Panel Selection</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>rackAndPanelFromRackRow</name>
            <extensionName>c:selectRackAndPanelFromRackRow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rackRowId</name>
                <value>
                    <elementReference>pickRackRow</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rack_Row_Selection</name>
        <label>Rack Row Selection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rack_and_Panel_Selection</targetReference>
        </connector>
        <fields>
            <name>pickRackRow</name>
            <choiceReferences>RackRowChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick the Rack Row you are interested in</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Rack_Rows_for_Meet_Me_Room</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>meetmeRoomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
